requirements.txt linguist-generated=true
dev_requirements.txt linguist-generated=true

tests/fixtures/cassettes/*.yml linguist-generated=true
tests/fixtures/flickr_api/*.json linguist-generated=true
tests/fixtures/structured_data/*.json linguist-generated=true

