-e file:.
-r requirements.txt

pywikibot

flickr-photos-api[fixtures]>=3.9
interrogate
mypy
silver-nitrate[cassettes,mock_keyring]>=1.8.1
pytest-cov
ruff
termcolor
tqdm
types-Authlib
types-beautifulsoup4
types-tqdm
types-wtforms
