authlib
bs4
click
cryptography
flask
flask-login
flask-wtf
Flask-SQLAlchemy
flickr-photos-api>=1.5.1
flickr-url-parser>=1.7.0
gunicorn
httpx
keyring
libsass
mwxml
sqlite-utils
pydantic
tqdm

# This pin is because of an ImportError in flask-login caused by
# a newer version of Werkzeug.
#
# We should be able to remove this when flask-login next releases.
# See https://stackoverflow.com/q/77215107/1558022
werkzeug<3
