<footer>
  {% set footer_links = [
    {"label": "Home", "url": url_for("homepage")},
    {"label": "About Flickypedia", "url": url_for("about")},
    {"label": "Privacy policy", "url": url_for("about", _anchor="privacy")},
    {"label": "Get the bookmarklet", "url": url_for("bookmarklet")},
    {"label": "Leave feedback", "url": "https://commons.wikimedia.org/wiki/Commons_talk:Flickypedia"},
  ] %}

  <ul class="plain_list">
    {% for link in footer_links %}
      <li><a href="{{ link.url }}">{{ link.label }}</a>
    {% endfor %}
  </ul>
</footer>
