<p>
  {% with messages = get_flashed_messages(category_filter=["login_header"]) %}
    {% if messages %}
      OK, <a href="{{ current_user.profile_url }}">{{ current_user.name }}</a>.
      {% for msg in messages %}
        {{ msg }}
      {% endfor %}
    {% else %}
      ✅ OK, <a href="{{ current_user.profile_url }}">{{ current_user.name }}</a>.
      <a href="{{ url_for('logout') }}">Log out</a>.
    {% endif %}
  {% endwith %}
</p>

<style>
  nav #workflow_steps {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }

  nav #workflow_steps li {
    background: #ccc;
    padding: 3px 5px;
  }

  nav #workflow_steps li.selected {
    background: pink;
  }
</style>

<nav>
  <ul id="workflow_steps">
    <li {% if current_step == "find_photos" %}class="selected"{% endif %}>Find Flickr photos</li>
    <li {% if current_step == "prepare_info" %}class="selected"{% endif %}>Prepare info</li>
    <li {% if current_step == "upload_to_wikimedia" %}class="selected"{% endif %}>Upload to Wikimedia</li>
    <li {% if current_step == "say_thanks" %}class="selected"{% endif %}>Say thanks</li>
  </ul>
</nav>