{#
  This template renders the info about the original photo on Flickr,
  as shown in the sidebar on the "Prepare info" page. e.g.

      By:
      Alex Chan
      CC BY 2.0

      Title:
      P9160753

      Description:
      A photo of a black train in Slovenia.

  The template takes a single variable: ``photo``, which should be
  a photo as returned by the various ``get_photos`` method on the
  FlickrApi class.
#}

<dl class="flickr_info">
  <dt>By:</dt>
  <dd>
    <a href="{{ photo.owner.profile_url}}">{{ photo.owner.realname or photo.owner.username}}</a> <br/>
    {{ photo.license.label }}
  </dd>

  {% if photo.title %}
    <dt>Title:</dt>
    <dd>{{ photo.title }}</dd>
  {% endif %}

  {% if photo.description %}
    {% with display_description = photo.description|truncate_description %}
      <dt>Description{% if display_description.truncated %} (excerpt){% endif %}:</dt>
      <dd class="flickr_description">
        {{- display_description.text | html_unescape -}}
        {% if display_description.truncated %}
          <span class="truncated_indicator">[…]</span>
        {% endif %}
      </dd>
    {% endwith %}
  {% endif %}
</dl>
