{#
  This template renders the form fields for a single photo, asking the
  user to enter the fields we require to upload a photo to Wikimedia:

      Title:         ________________
      Short caption: ________________
      Categories:    ________________
      Alex Chan
      CC BY 2.0

  This template takes three variables:
  
  - ``photo``, which should contain the photo metadata
  - ``field``, which should be an instance of the ``WikiFieldsForm`` class
  - ``default_categories``, which is a list of the auto-populated categories

#}

<div class="wiki_info">
  <label for="{{ field.title.id }}">
    Title
    <div class="required">required</div>
  </label>
  {{
    field.title(
      data_type="title",
      data_originalformat=photo['original_format']
    )
  }}

  <p class="validation_errors
            {% if not field.title.errors %}hidden{% endif %}"
     for="{{ field.title.id }}">
    {{ " ".join(field.title.errors) }}
  </p>

  <label for="{{ field.short_caption.id }}">
    Short caption
    <div class="required">required</div>
    <div class="charCounter"></div>
  </label>
  {{ field.short_caption(data_type="short_caption", rows="3") }}

  <!--
    This error message comes from the server, but users with
    JS enabled will get an inline message that updates with
    the number of characters in real-time.

    We only need to show the error from the server if the
    user doesn't have JS enabled.
   -->
  {% if field.short_caption.errors %}
    <noscript>
      <p class="validation_errors">
        {{ " ".join(field.short_caption.errors) }}
      </p>
    </noscript>
  {% endif %}

  <!--
     We need to ask the user for a list of categories, and we
     want to pass those as a list in the <textarea> element,
     one category for line.
     
     For users without JS, we just show them the plain <textarea>.
     
     For users with JS, we hide the <textarea> and show them a
     one-line <input> field.  We can then offer them suggestions
     on categories from the Wikimedia API, and when they add/remove
     categories, we'll update the value in the <textarea>.
    -->
  <div class="categories">
    <label for="{{ field.categories.id }}">Add a Wikimedia Commons category</label>
    {{ field.categories() }}
  </div>
  
  <p>
    We’ll add these categories too:
    <ul>
      {% for category in default_categories %}
      <li>{{ category }}</li>
      {% endfor %}
    </ul>
  </p>
</div>