interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=50868060871
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"50868060871\" secret=\"b6f62e5451\" server=\"65535\" farm=\"66\" dateuploaded=\"1611440912\"
      isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" originalsecret=\"993e2f8360\"
      originalformat=\"jpg\" views=\"36955\" media=\"photo\">\n\t<owner nsid=\"12013284@N00\"
      username=\"ryan schude\" realname=\"Ryan Schude\" location=\"Los Angeles, California,
      U.S.A.\" iconserver=\"65535\" iconfarm=\"66\" path_alias=\"ryanschude\">\n\t\t<gift
      gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Leo Carrillo
      State Beach</title>\n\t<description>All new collaboration with Neil Kremer and
      Cory Johnson from @kremerjohnsonagain. I\u2019ve always found great value in
      getting outside of your own head and teaming up with others to gain some new
      perspective. Forever indebted to the wonderful cast and crew who made this possible!\n\nWardrobe:
      @kaitlusk\n\n2nd Camera: @patrick_ryland \n\nPost Production: @jeffwhitlockdigitalartist\n\nAssistants:
      @thecodyhowellstory @mortyvision @an.drewsm @jeff_bynum @linneabullion @ianmatthewsdp
      \n\nTalent: @vicgoodhart @zipporahcardozo @vijaynazareth @jtrav @qraciela @tierracastro
      @laureen_renee @ohlaurenpeterson @fine_arts_junky @arina.savien @catherine_savien
      @Mimiunapologetically @Salvadorcats @denisegordanofafrica</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1611440912\"
      taken=\"2020-12-22 17:29:04\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1681359284\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>21</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags />\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/ryanschude/50868060871/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=50868060871
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/65535/50868060871_b6f62e5451_s.jpg\"
      url=\"https://www.flickr.com/photos/ryanschude/50868060871/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/50868060871_b6f62e5451_q.jpg\"
      url=\"https://www.flickr.com/photos/ryanschude/50868060871/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
