interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias&gallery_id=72157720348635494&get_gallery_info=1&method=flickr.galleries.getPhotos&page=1&per_page=100
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"1\" perpage=\"100\" total=\"35\">\n\t<photo id=\"51575815627\"
      owner=\"39877441@N05\" secret=\"2de22a7d00\" server=\"65535\" farm=\"66\" title=\"Sunrise,
      Lake Chatfield [Explore]\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"3\"
      safety_level=\"0\" dateupload=\"1633958284\" datetaken=\"2021-06-10 05:14:41\"
      datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"mclcbooks\" realname=\"Michael
      Levine-Clark\" originalsecret=\"55bf351fa8\" originalformat=\"jpg\" media=\"photo\"
      media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/51575815627_2de22a7d00_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/51575815627_2de22a7d00_t.jpg\"
      height_t=\"67\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/51575815627_2de22a7d00_m.jpg\"
      height_s=\"160\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/51575815627_2de22a7d00.jpg\"
      height_m=\"333\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/51575815627_55bf351fa8_o.jpg\"
      height_o=\"5464\" width_o=\"8192\" url_q=\"https://live.staticflickr.com/65535/51575815627_2de22a7d00_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/51575815627_2de22a7d00_b.jpg\"
      height_l=\"683\" width_l=\"1024\" pathalias=\"\" is_primary=\"0\" has_comment=\"0\">\n\t\t<description>Chatfield
      State Park, Colorado\n\nIn Explore, October 12, 2021, #4</description>\n\t</photo>\n\t<photo
      id=\"51208535641\" owner=\"158350039@N03\" secret=\"2cc5784149\" server=\"65535\"
      farm=\"66\" title=\"backyard astronomy 36 (revised)\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"10\" safety_level=\"0\" dateupload=\"1622210799\" datetaken=\"2021-05-28
      07:01:27\" datetakengranularity=\"0\" datetakenunknown=\"1\" ownername=\"planes,
      space, nature\" [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
