interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Faljazeeraenglish
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"32834977@N03\">\n\t<username>Al Jazeera English</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=32834977%40N03
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"32834977@N03\" nsid=\"32834977@N03\" ispro=\"0\" is_deleted=\"0\" iconserver=\"3279\"
      iconfarm=\"4\" path_alias=\"aljazeeraenglish\" has_stats=\"0\" has_adfree=\"0\"
      has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Al
      Jazeera English</username>\n\t<realname>Al Jazeera English</realname>\n\t<location
      />\n\t<timezone label=\"Baghdad\" offset=\"+03:00\" timezone_id=\"Asia/Baghdad\"
      timezone=\"39\" />\n\t<description>Al Jazeera English is an international news
      organisation with broadcast centres and bureax around the world.\n\nHere we&#039;ve
      posted photos from producers and correspondents in the field.\n\nFind out more
      about what we do at our &lt;strong&gt;&lt;a href=&quot;http://english.aljazeera.net&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;website&lt;/a&gt;&lt;/strong&gt;</description>\n\t<photosurl>https://www.flickr.com/photos/aljazeeraenglish/</photosurl>\n\t<profileurl>https://www.flickr.com/people/aljazeeraenglish/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=32811923</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2008-11-29
      17:44:41</firstdatetaken>\n\t\t<firstdate>1228516556</firstdate>\n\t\t<count>2339</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72157626164453131&user_id=32834977%40N03
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157626164453131\" primary=\"5536044022\" owner=\"32834977@N03\" ownername=\"Al
      Jazeera English\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"3\" title=\"Faces
      from the Libyan front\" total=\"22\">\n\t<photo id=\"5536044022\" secret=\"7e6f0df667\"
      server=\"5137\" farm=\"6\" title=\"IMG_1348\" isprimary=\"1\" ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" license=\"5\" safety_level=\"0\" dateupload=\"1300402940\"
      datetaken=\"2011-03-04 15:44:00\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      ownername=\"Al Jazeera English\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/5137/5536044022_7e6f0df667_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" u[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157626164453131&user_id=32834977%40N03
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157626164453131\" owner=\"32834977@N03\" username=\"Al Jazeera English\"
      primary=\"5536044022\" secret=\"7e6f0df667\" server=\"5137\" farm=\"6\" count_views=\"251663\"
      count_comments=\"1\" count_photos=\"22\" count_videos=\"0\" can_comment=\"0\"
      date_create=\"1300403604\" date_update=\"1446748881\" photos=\"22\" visibility_can_see_set=\"1\"
      needs_interstitial=\"0\">\n\t<title>Faces from the Libyan front</title>\n\t<description>Al
      Jazeera online producer Evan Hill captured these images of Libyan front-line
      fighters struggling to overthrow longtime ruler Muammar Gaddafi in early March.</description>\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
