interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&prop=revisions&titles=File%3AThameslink_Class_700_in_Pride_livery.jpg&rvlimit=1&rvslots=main&rvprop=content&format=json
  response:
    content: '{"continue":{"rvcontinue":"20231114104801|821672807","continue":"||"},"query":{"normalized":[{"from":"File:Thameslink_Class_700_in_Pride_livery.jpg","to":"File:Thameslink
      Class 700 in Pride livery.jpg"}],"pages":{"139134318":{"pageid":139134318,"ns":6,"title":"File:Thameslink
      Class 700 in Pride livery.jpg","revisions":[{"slots":{"main":{"contentmodel":"wikitext","contentformat":"text/x-wiki","*":"The
      structured data:\n\n{{Structured Data}}\n\n=={{int:filedesc}}==\n{{Information\n|Source=[https://www.flickr.com/photos/199246608@N02/53268016608/
      IMG_4664]\n|Date={{taken on|location=United Kingdom|2023-09-12 19:54}}\n|Author=[https://www.flickr.com/people/199246608@N02
      Alex Chan]\n|Permission=\n|other_versions=\n}}\n\n=={{int:license-header}}==\n{{cc-by-2.0}}\n{{FlickreviewR|status=passed|author=cefarrjf87|sourceurl=https://flickr.com/photos/199246608@N02/53268016608|archive=|reviewdate=2023-10-18
      17:58:26|reviewlicense=cc-by-2.0|reviewer=FlickreviewR 2}}\n\n[[Category:British
      Rail Class 700s in Thameslink Southern Great Northern Pride livery]]\n[[Category:Unidentified
      locations in England]]\n[[Category:September 2023 in rail transport in the United
      Kingdom]]\n[[Category:Railway photographs taken on 2023-09-12]]\n[[Category:UK
      trains with unidentified locations]]"}}}]}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 201.217.137.162
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"2d8c157966d8ab20db200c61c4265cc3655350e2+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 201.217.137.162
    status_code: 200
- request:
    body: action=edit&site=commonswiki&title=File%3AThameslink_Class_700_in_Pride_livery.jpg&nocreate=true&appendtext=%5B%5BCategory%3AUploads+using+Flickypedia%5D%5D&format=json&token=2d8c157966d8ab20db200c61c4265cc3655350e2%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"warnings":{"main":{"*":"Unrecognized parameter: site."}},"edit":{"result":"Success","pageid":139134318,"title":"File:Thameslink
      Class 700 in Pride livery.jpg","contentmodel":"wikitext","oldrevid":821673555,"newrevid":821674036,"newtimestamp":"2023-11-14T10:50:10Z"}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 201.217.137.162
    status_code: 200
[...]
