interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://query.wikidata.org/sparql?format=json&query=%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20SELECT%20%3Fitem%20%3Fvalue%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20WHERE%20%7B%20%3Fitem%20wdt%3AP3267%20%3Fvalue%20%7D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20LIMIT%205000%0A%20%20%20%20%20%20%20%20%20%20%20%20
  response:
    content: "{\n  \"head\" : {\n    \"vars\" : [ \"item\", \"value\" ]\n  },\n  \"results\"
      : {\n    \"bindings\" : [ {\n      \"item\" : {\n        \"type\" : \"uri\",\n
      \       \"value\" : \"http://www.wikidata.org/entity/Q1201\"\n      },\n      \"value\"
      : {\n        \"type\" : \"literal\",\n        \"value\" : \"57928590@N07\"\n
      \     }\n    }, {\n      \"item\" : {\n        \"type\" : \"uri\",\n        \"value\"
      : \"http://www.wikidata.org/entity/Q1058\"\n      },\n      \"value\" : {\n
      \       \"type\" : \"literal\",\n        \"value\" : \"92359345@N07\"\n      }\n
      \   }, {\n      \"item\" : {\n        \"type\" : \"uri\",\n        \"value\"
    [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3AA%20photo%20with%20a%20reasonable%20title.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":6,"title":"File:A photo
      with a reasonable title.jpg","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 92.13.36.200
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=titleblacklist&tbaction=create&tbtitle=File%3AA%20photo%20with%20a%20reasonable%20title.jpg&format=json
  response:
    content: '{"titleblacklist":{"result":"ok"}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 92.13.36.200
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=opensearch&format=xml&limit=10&search=A%20photo%20with%20a%20reasonable%20title&namespace=6
  response:
    content: '<?xml version="1.0"?><api servedby="mw1447"><error code="mwoauth-invalid-authorization"
      info="The authorization headers in your request are not valid: Invalid access
      token" xml:space="preserve">See https://commons.wikimedia.org/w/api.php for
      API usage. Subscribe to the mediawiki-api-announce mailing list at &amp;lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&amp;gt;
      for notice of API deprecations and breaking changes.</error></api>'
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      mediawiki-api-error:
      - mwoauth-invalid-authorization
      x-client-ip:
      - 92.13.36.200
    status_code: 200
version: 1
