interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Furuguay
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"90096392@N00\">\n\t<groupname>Uruguay</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-66320286-626b24aa4f104c5177fc0829;Root=1-66320286-2ad71a6a22a4c47359d7de10
      x-server:
      - serverless-proxy-10.78.3.89
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&group_id=90096392%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=100
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"426\" perpage=\"100\" total=\"42520\">\n\t<photo id=\"53686868357\"
      owner=\"63879278@N07\" secret=\"16fbcf5b8f\" server=\"65535\" farm=\"66\" title=\"Pano
      del Puertito del Buceo\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"wesp2011\"
      dateadded=\"1714421706\" license=\"0\" safety_level=\"0\" dateupload=\"1714421688\"
      datetaken=\"2024-04-29 17:10:57\" datetakengranularity=\"0\" datetakenunknown=\"1\"
      realname=\"Wilson Silva\" count_views=\"71\" count_comments=\"7\" tags=\"\"
      latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\" media=\"photo\"
      media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53686868357_16fbcf5b8f_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53686868357_16fbcf5b8f_t.jpg\"
      height_t=\"50\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53686868357_16fbcf5b8f_m.jpg\"
      height_s=\"121\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53686868357_16fbcf5b8f.jpg\"
      height_m=\"252\" width_m=\"500\" url_q=\"https://live.staticflickr.com/65535/53686868357_16fbcf5b8f_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53686868357_16fbcf5b8f_b.jpg\"
      height_l=\"516\" width_l=\"1024\" pathalias=\"\">\n\t\t<description />\n\t</photo>\n\t<photo
      id=\"52372033868\" owner=\"185779820@N03\" secret=\"d365e9561b\" server=\"65535\"
      farm=\"66\" title=\"Pyroderus scutatus\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      ownername=\"gmmv80\" dateadded=\"1714324925\" license=\"0\" safety_level=\"0\"
      dateupload=\"1663688188\" datetaken=\"2022-08-05 15:47:01\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" realname=\"Guillermo Men\xE9ndez\" count_views=\"379\"
      count_comments=\"6\" tags=\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
   [...]
