interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=84108876%40N00
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"84108876@N00\" nsid=\"84108876@N00\" ispro=\"1\" is_deleted=\"0\" iconserver=\"1\"
        iconfarm=\"1\" path_alias=\"jasonpratt\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Jason
        Pratt</username>\n\t<realname>Jason Pratt</realname>\n\t<location>Pittsburgh,
        PA</location>\n\t<timezone label=\"Eastern Time (US &amp; Canada)\" offset=\"-05:00\"
        timezone_id=\"EST5EDT\" timezone=\"14\" />\n\t<description />\n\t<photosurl>https://www.flickr.com/photos/jasonpratt/</photosurl>\n\t<profileurl>https://www.flickr.com/people/jasonpratt/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/jasonpratt/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1989-05-01
        00:00:00</firstdatetaken>\n\t\t<firstdate>1103433802</firstdate>\n\t\t<count>1683</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-665062b4-057c3f2a55e5321e2ab81ec7;Root=1-665062b4-61abafd75c3c63b2473ff80b
      x-server:
      - serverless-proxy-10.78.41.36
    status:
      code: 200
      message: OK
version: 1
