interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Frudrpeter%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"52568942@N05\">\n\t<username>Rudr Peter | Smile to the world |</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=52568942%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"52568942@N05\" nsid=\"52568942@N05\" ispro=\"1\" is_deleted=\"0\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"rudrpeter\" has_stats=\"0\" pro_badge=\"standard\"
      expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Rudr
      Peter | Smile to the world |</username>\n\t<realname>Rudr Peter</realname>\n\t<description>&lt;a
      href=&quot;http://www.flickriver.com/photos/rudrpeter/popular-interesting/&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;&lt;img loading=&#039;lazy&#039; class=&#039;notsowide&#039;
      src=&quot;https://flimg.flickr.com/?url=http%3A%2F%2Fwww.flickriver.com%2Fbadge%2Fuser%2Fall%2Finteresting%2Fshuffle%2Fmedium-horiz%2Fffffff%2F333333%2F52568942%40N05.jpg&amp;h=3e8e8c382d8e483efb27d9de8efa290910c0abd5bc5a2a945c18ff45864095e4&quot;
      alt=&quot;Rudr Peter - View my most interesting photos on Flickriver&quot; title=&quot;Rudr
      Peter - View my most interesting photos on Flickriver&quot; /&gt;&lt;/a&gt;</description>\n\t<photosurl>https://www.flickr.com/photos/rudrpeter/</photosurl>\n\t<profileurl>https://www.flickr.com/people/rudrpeter/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=52563602</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2009-06-22
      21:47:21</firstdatetaken>\n\t\t<firstdate>1282574286</firstdate>\n\t\t<count>1128</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photosets.getPhotos&page=1&per_page=1&photoset_id=72157633859840285&user_id=52568942%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157633859840285\" primary=\"8914348608\" owner=\"52568942@N05\" ownername=\"Rudr
      Peter | Smile to the world |\" page=\"1\" per_page=\"1\" perpage=\"1\" pages=\"29\"
      title=\"India\" total=\"29\">\n\t<photo id=\"8914348608\" secret=\"7519bf916c\"
      server=\"3736\" farm=\"4\" title=\"Gateway of India\" isprimary=\"0\" ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\" dateupload=\"1370114405\"
      datetaken=\"2013-05-24 21:18:25\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      ownername=\"Rudr Peter | Smile to the world |\" realname=\"Rudr Peter\" tags=\"india
      nikon jetty bombay mumbai maharastra viceroy gatewayofindia vicroy britisheastindiacomp[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157633859840285&user_id=52568942%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157633859840285\" owner=\"52568942@N05\" username=\"Rudr Peter | Smile
      to the world |\" primary=\"8914348608\" secret=\"7519bf916c\" server=\"3736\"
      farm=\"4\" count_views=\"12\" count_comments=\"0\" count_photos=\"29\" count_videos=\"0\"
      can_comment=\"0\" date_create=\"1370114405\" date_update=\"1691999358\" photos=\"29\"
      visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>India</title>\n\t<description
      />\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
