interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=31073485032
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"31073485032\" secret=\"80177ec831\" server=\"5589\" farm=\"6\" dateuploaded=\"1480008723\"
      isfavorite=\"0\" license=\"8\" safety_level=\"0\" rotation=\"0\" originalsecret=\"35ef2dc28e\"
      originalformat=\"jpg\" views=\"345437\" media=\"photo\">\n\t<owner nsid=\"35591378@N03\"
      username=\"Obama White House Archived\" realname=\"\" location=\"Washington,
      DC\" iconserver=\"475\" iconfarm=\"1\" path_alias=\"obamawhitehouse\">\n\t\t<gift
      gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>P112416PS-0059</title>\n\t<description>President
      Barack Obama makes Thanksgiving Day phone calls from the Oval Office to U.S.
      troops stationed around the world, Nov. 24, 2016. The President&#039;s Coast
      Guard military aide, LCDR Ginny Nadolny is at right.\n(Official White House
      Photo by Pete Souza)\n\nThis official White House photograph is being made available
      only for publication by news organizations and/or for personal use printing
      by the subject(s) of the photograph. The photograph may not be manipulated in
      any way and may not be used in commercial or political materials, advertisements,
      emails, products, promotions that in any way suggests approval or endorsement
      of the President, the First Family, or the White House.\n</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1480008723\"
      taken=\"2016-11-24 11:38:42\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1517337319\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"0\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"35568324-31073485032-2407\" author=\"35591378@N03\"
      authorname=\"Obama White House Archived\" raw=\"Washington\" machine_tag=\"0\">washington</tag>\n\t\t<tag
      id=\"35568324-31073485032-2406\" author=\"35591378@N03\" authorname=\"Obama
      White House Archived\" raw=\"DC\" machine_tag=\"0\">dc</tag>\n\t</tags>\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/obamawhitehouse/31073485032/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=31073485032
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/5589/31073485032_80177ec831_s.jpg\"
      url=\"https://www.flickr.com/photos/obamawhitehouse/31073485032/sizes/sq/\"
      media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
      source=\"https://live.staticflickr.com/5589/31073485032_80177ec831_q.jpg\" url=\"https://www.flickr.com/photos/obamawhitehouse/31073485032/sizes/q/\"
      media=\"photo\" />\n\t<size label=\"Thumbnail[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
