interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=53253175319
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"53253175319\" secret=\"b4a4297abf\" server=\"65535\" farm=\"66\" dateuploaded=\"1697116365\"
      isfavorite=\"0\" license=\"4\" safety_level=\"0\" rotation=\"0\" originalsecret=\"2f310021b6\"
      originalformat=\"jpg\" views=\"13\" media=\"photo\">\n\t<owner nsid=\"199246608@N02\"
      username=\"cefarrjf87\" realname=\"Alex Chan\" location=\"\" iconserver=\"0\"
      iconfarm=\"0\" path_alias=\"\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>IMG_5440</title>\n\t<description
      />\n\t<visibility ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates
      posted=\"1697116365\" taken=\"2023-10-11 11:32:02\" takengranularity=\"0\" takenunknown=\"0\"
      lastupdate=\"1697116366\" />\n\t<editability cancomment=\"0\" canaddmeta=\"0\"
      />\n\t<publiceditability cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\"
      canblog=\"0\" canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes
      />\n\t<people haspeople=\"0\" />\n\t<tags />\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/199246608@N02/53253175319/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=53253175319
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf_s.jpg\"
      url=\"https://www.flickr.com/photos/199246608@N02/53253175319/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf_q.jpg\"
      url=\"https://www.flickr.com/photos/199246608@N02/53253175319/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\"[...]
