interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=xml&prop=imageinfo&titles=File%3AExample.jpg&iiprop=url
  response:
    content: <?xml version="1.0"?><api><continue iistart="2006-03-07T15:51:32Z" continue="||"
      /><query><pages><page _idx="6428847" pageid="6428847" ns="6" title="File:Example.jpg"
      imagerepository="local"><imageinfo><ii url="https://upload.wikimedia.org/wikipedia/commons/a/a9/Example.jpg"
      descriptionurl="https://commons.wikimedia.org/wiki/File:Example.jpg" descriptionshorturl="https://commons.wikimedia.org/w/index.php?curid=6428847"
      /></imageinfo></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
