interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&format=json&page=File%3AIntel+8742+153056995.jpg&prop=text
  response:
    content: '{"parse":{"title":"File:Intel 8742 153056995.jpg","pageid":1248592,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Intel_8742_153056995.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<div
      class=\"hproduct commons-file-information-table\">\n<style data-mw-deduplicate=\"TemplateStyles:r773143704\">.mw-parser-output
      table.commons-file-information-table,.mw-parser-output .fileinfotpl-type-information,.mw-parser-output
      .fileinfotpl-type-artwork{border:1px solid #a2a9b1;background-color:#f8f9fa;padding:5px;font-size:95%;border-spacing:2px;box-sizing:border-box;margin:0;width:100%}.mw-parser-output
      table.commons-file-information-table>tbody>tr,.mw-parser-output .fileinfotpl-type-information>tbody>tr,.mw-parser-output
      .fi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=153056995
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"153056995\" secret=\"5ef8b01016\" server=\"64\" farm=\"1\" dateuploaded=\"1148566892\"
      isfavorite=\"0\" license=\"5\" safety_level=\"0\" rotation=\"0\" originalsecret=\"5ef8b01016\"
      originalformat=\"jpg\" views=\"17897\" media=\"photo\">\n\t<owner nsid=\"39698489@N00\"
      username=\"Ioan Sameli\" realname=\"Ioan Sameli\" location=\"Geneva, Switzerland\"
      iconserver=\"52\" iconfarm=\"1\" path_alias=\"biwook\">\n\t\t<gift gift_eligible=\"1\"
      new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
      />\n\t\t</gift>\n\t</owner>\n\t<title>Old processor&#039;s die</title>\n\t<description>An
      old chip that i opened to see what&#039;s inside. \n\nIt&#039;s an Intel 8742,
      a 8-bit &lt;a href=&quot;http://en.wikipedia.org/wiki/Microcontroller&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;microcontroller&lt;/a&gt; that includes
      a &lt;a href=&quot;http://en.wikipedia.org/wiki/CPU&quot; rel=&quot;noreferrer
      nofollow&quot;&gt;CPU&lt;/a&gt; running at 12 MHz, 128 bytes of &lt;a href=&quot;http://en.wikipedia.org/wiki/RAM&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;RAM&lt;/a&gt;, 2048 byte of &lt;a href=&quot;http://en.wikipedia.org/wiki/EPROM&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;EPROM&lt;/a&gt;, and &lt;a href=&quot;http://en.wikipedia.org/wiki/Input/output&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;I/O&lt;/a&gt; in the same chip.\n\nSee
      the &lt;a href=&quot;http://www.intel.com/design/archives/periphrl/docs/29025601.pdf&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;official doc (pdf)&lt;/a&gt; on the intel&#039;s
      website, or see a shot of &lt;a href=&quot;http://flickr.com/photos/biwook/153062645/&quot;&gt;the
      whole thing&lt;/a&gt;.\n\nThank you to &lt;a href=&quot;http://www.flickr.com/photos/kingey1971/&quot;&gt;kingey1971&lt;/a&gt;
      for the &lt;a href=&quot;http://www.flickr.com/photos/biwook/153062318/&quot;&gt;identification&lt;/a&gt;
      !</description>\n\t<visibility ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      />\n\t<dates posted=\"1148566892\" taken=\"2003-11-16 14:55:33\" takengranularity=\"0\"
      takenunknown=\"0\" lastupdate=\"1351637854\" />\n\t<editability cancomment=\"0\"
      canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\" canaddmeta=\"1\"
      />\n\t<usage candownload=\"1\" canblog=\"0\" canprint=\"0\" canshare=\"1\" />\n\t<comments>2</comments>\n\t<notes
      />\n\t<people haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"3203944-153056995-1386\"
      author=\"39698489@N00\" authorname=\"Ioan Sameli\" raw=\"vintage\" machine_tag=\"0\">vintage</tag>\n\t\t<tag
      id=\"3203944-153056995-102\" author=\"39698489@N00\" authorname=\"Ioan Sameli\"
      raw=\"old\" machine_tag=\"0\">old</tag>\n\t\t<tag id=\"3203944-153056995-1439\"
      author=\"39698489@N00\" authorname=\"Ioan Sameli\" raw=\"computer\" machine_tag=\"0\">computer</tag>\n\t\t<tag
      id=\"3203944-153056995-3762\" author=\"39698489@N00\" author[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=153056995
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/64/153056995_5ef8b01016_s.jpg\"
      url=\"https://www.flickr.com/photos/biwook/153056995/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/64/153056995_5ef8b01016_q.jpg\"
      url=\"https://www.flickr.com/photos/biwook/153056995/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width=\"100\" height=\"77\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=xml&iiprop=url&prop=imageinfo&titles=File%3AIntel+8742+153056995.jpg
  response:
    content: <?xml version="1.0"?><api batchcomplete=""><query><pages><page _idx="1248592"
      pageid="1248592" ns="6" title="File:Intel 8742 153056995.jpg" imagerepository="local"><imageinfo><ii
      url="https://upload.wikimedia.org/wikipedia/commons/6/64/Intel_8742_153056995.jpg"
      descriptionurl="https://commons.wikimedia.org/wiki/File:Intel_8742_153056995.jpg"
      descriptionshorturl="https://commons.wikimedia.org/w/index.php?curid=1248592"
      /></imageinfo></page></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://live.staticflickr.com/64/153056995_5ef8b01016_o.jpg
  response:
    content: "\0\x10JFIF\0\x01\x02\x01\x01,\x01,\0\0\x1FExif\0\0II*\0\b\0\0\0\v\0\x0E\x01\x02\0\v\0\0\0\0\0\0\x0F\x01\x02\0\x06\0\0\0\0\0\0\x10\x01\x02\0\x06\0\0\0\0\0\0\x12\x01\x03\0\x01\0\0\0\x01\0\0\0\x1A\x01\x05\0\x01\0\0\0\0\0\0\e\x01\x05\0\x01\0\0\0\0\0\0(\x01\x03\0\x01\0\0\0\x02\0\0\01\x01\x02\0\e\0\0\0\0\0\02\x01\x02\0\x14\0\0\0\0\0\0\x13\x02\x03\0\x01\0\0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://upload.wikimedia.org/wikipedia/commons/6/64/Intel_8742_153056995.jpg
  response:
    content: "\0\x10JFIF\0\x01\x02\x01\x01,\x01,\0\0\x1FExif\0\0II*\0\b\0\0\0\v\0\x0E\x01\x02\0\v\0\0\0\0\0\0\x0F\x01\x02\0\x06\0\0\0\0\0\0\x10\x01\x02\0\x06\0\0\0\0\0\0\x12\x01\x03\0\x01\0\0\0\x01\0\0\0\x1A\x01\x05\0\x01\0\0\0\0\0\0\e\x01\x05\0\x01\0\0\0\0\0\0(\x01\x03\0\x01\0\0\0\x02\0\0\01\x01\x02\0\e\0\0\0\0\0\02\x01\x02\0\x14\0\0\0\0\0\0\x13\[...]
