interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"365620516acc87a553d5c5e1d87f770165253c11+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 80.42.123.5
    status_code: 200
- request:
    body: action=upload&filename=example.jpg&url=https%3A%2F%2Falexwlchan.net%2Fimages%2Fexample.jpg&token=365620516acc87a553d5c5e1d87f770165253c11%2B%5C&text=%3D%3D%7B%7Bint%3Alicense-header%7D%7D%3D%3D%0A%7B%7Bself%7Ccc-by-2.0%7D%7D&format=json
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"error":{"code":"copyuploadbaddomain","info":"Uploads by URL are not
      allowed from this domain.","*":"See https://commons.wikimedia.org/w/api.php
      for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
      for notice of API deprecations and breaking changes."},"servedby":"mw2376"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - copyuploadbaddomain
      x-client-ip:
      - 80.42.123.5
    status_code: 200
version: 1
