interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=28660070%40N07
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"28660070@N07\" nsid=\"28660070@N07\" ispro=\"1\" is_deleted=\"0\" iconserver=\"5556\"
      iconfarm=\"6\" path_alias=\"icann\" has_stats=\"0\" pro_badge=\"standard\" expire=\"0\"
      has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>icannphotos</username>\n\t<realname
      />\n\t<location />\n\t<description>The Internet Corporation for Assigned Names
      and Numbers, ICANN</description>\n\t<photosurl>https://www.flickr.com/photos/icann/</photosurl>\n\t<profileurl>https://www.flickr.com/people/icann/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=28638740</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2000-01-01
      00:00:02</firstdatetaken>\n\t\t<firstdate>1216267277</firstdate>\n\t\t<count>45429</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
