interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=opensearch&format=xml&limit=10&search=a&namespace=14
  response:
    content: <?xml version="1.0"?><SearchSuggestion version="2.0" xmlns="http://opensearch.org/searchsuggest2"><Query
      xml:space="preserve">a</Query><Section><Item><Text xml:space="preserve">Category:A</Text><Url
      xml:space="preserve">https://commons.wikimedia.org/wiki/Category:A</Url><Image
      source="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/ICS_Alfa.svg/50px-ICS_Alfa.svg.png"
      width="50" height="50" /></Item><Item><Text xml:space="preserve">Category:Amsterdam
      in the 1810s</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Amsterdam_in_the_1810s</Url></Item><Item><Text
      xml:space="preserve">Category:Aircraft of Uzbekistan</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Aircraft_of_Uzbekistan</Url></Item><Item><Text
      xml:space="preserve">Category:Aircraft registered in Mali</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Aircraft_registered_in_Mali</Url></Item><Item><Text
      xml:spac[...]
