interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3ATaking%20photo.jpg&prop=text&format=json
  response:
    content: '{"parse":{"title":"File:Taking photo.jpg","pageid":608774,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><div class=\"hproduct
      commons-file-information-table\">\n<style data-mw-deduplicate=\"TemplateStyles:r843911522\">.mw-parser-output
      table.commons-file-information-table,.mw-parser-output .fileinfotpl-type-information,.mw-parser-output
      .fileinfotpl-type-artwork{border:1px solid #a2a9b1;background-color:#f8f9fa;padding:5px;font-size:95%;border-spacing:2px;box-sizing:border-box;margin:0;width:100%}.mw-parser-output
      table.commons-file-information-table>tbody>tr,.mw-parser-output .fileinfotpl-type-information>tbody>tr,.mw-parser-output
      .fi[...]
