interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=32812033543
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"32812033543\" secret=\"c1b3784192\" server=\"2903\" farm=\"3\" dateuploaded=\"1490376472\"
      isfavorite=\"0\" license=\"8\" safety_level=\"0\" rotation=\"0\" originalsecret=\"41cc4e453a\"
      originalformat=\"jpg\" views=\"18037\" media=\"photo\">\n\t<owner nsid=\"30884892@N08\"
      username=\"U.S. Coast Guard\" realname=\"Coast Guard\" location=\"\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"coast_guard\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Puppy
      Kisses</title>\n\t<description>Seaman Nina Bowen shows some love to Chief Bert,
      Station Elizabeth City, N.C.&#039;s mascot, near the boathouse at the station,
      Feb. 17, 2017. Chief Bert is a retired explosive detection dog who worked for
      six years with the Maritime Safety and Security Team in Gavelston, Texas. U.S.
      Coast Guard photo by Petty Officer 2nd Class Nate Littlejohn.</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1490376472\"
      taken=\"2017-02-17 00:00:00\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1497407834\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"30792079-32812033543-11349\" author=\"30884892@N08\"
      authorname=\"U.S. Coast Guard\" raw=\"mascot\" machine_tag=\"0\">mascot</tag>\n\t\t<tag
      id=\"30792079-32812033543-317354343\" author=\"30884892@N08\" authorname=\"U.S.
      Coast Guard\" raw=\"Chief Bert\" machine_tag=\"0\">chiefbert</tag>\n\t\t<tag
      id=\"30792079-32812033543-32307\" author=\"30884892@N08\" authorname=\"U.S.
      Coast Guard\" raw=\"German Shepherd\" machine_tag=\"0\">germanshepherd</tag>\n\t\t<tag
    [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=32812033543
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/2903/32812033543_c1b3784192_s.jpg\"
      url=\"https://www.flickr.com/photos/coast_guard/32812033543/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/2903/32812033543_c1b3784192_q.jpg\"
      url=\"https://www.flickr.com/photos/coast_guard/32812033543/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
