interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photos.search&page=1&per_page=100&sort=interestingness-desc&tags=nature
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"24941\" perpage=\"100\" total=\"2494099\">\n\t<photo id=\"53042429415\"
      owner=\"25304221@N07\" secret=\"a44e244c74\" server=\"65535\" farm=\"66\" title=\"Harvest\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1689213262\" datetaken=\"2010-08-10 19:12:30\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"\u2591S\u2591i\u2591l\u2591a\u2591n\u2591d\u2591i\u2591
      \u262E\" originalsecret=\"a34d4353ac\" originalformat=\"jpg\" media=\"photo\"
      media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53042429415_a44e244c74_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53042429415_a44e244c74_t.jpg\"
      height_t=\"67\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53042429415_a44e244c74_m.jpg\"
      height_s=\"161\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53042429415_a44e244c74.jpg\"
      height_m=\"335\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53042429415_a34d4353ac_o.jpg\"
      height_o=\"2592\" width_o=\"3872\" url_q=\"https://live.staticflickr.com/65535/53042429415_a44e244c74_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53042429415_a44e244c74_b.jpg\"
      height_l=\"685\" width_l=\"1024\">\n\t\t<description />\n\t</photo>\n\t<photo
      id=\"52990994994\" owner=\"100410892@N03\" secret=\"a202d68676\" server=\"65535\"
      farm=\"66\" title=\"Mountains and Valley .)2304/7507-90\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"0\" safety_level=\"0\" dateupload=\"1687350773\" datetaken=\"2023-04-23
      12:41:59\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"dironzafrancesco\"
      realname=\"Francesco Di Ronza\" originalsecret=\"6232711b96\" originalformat=\"jpg\"
 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
