interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"1af04a3bbc3ae542ba0c94c17c2a46db6529587f+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=upload&filename=example.jpg&url=https%3A%2F%2Falexwlchan.net%2Fimages%2Fexample.jpg&text=An+image+which+doesn%E2%80%99t+even+exist&format=json&token=1af04a3bbc3ae542ba0c94c17c2a46db6529587f%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"error":{"code":"copyuploadbaddomain","info":"Uploads by URL are not
      allowed from this domain.","*":"See https://commons.wikimedia.org/w/api.php
      for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
      for notice of API deprecations and breaking changes."},"servedby":"mw2450"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - copyuploadbaddomain
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
