interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3Aapple.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"normalized":[{"from":"File:apple.jpg","to":"File:Apple.jpg"}],"pages":{"4673741":{"pageid":4673741,"ns":6,"title":"File:Apple.jpg","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2023-09-09T13:37:26Z","lastrevid":799974953,"length":251}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 92.13.36.200
    status_code: 200
version: 1
