interactions:
- request:
    body: grant_type=refresh_token&refresh_token=[REFRESH_TOKEN...8f34f]
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://meta.wikimedia.org/w/rest.php/oauth2/access_token
  response:
    content: '{"token_type":"Bearer","expires_in":14400,"access_token":"[ACCESS_TOKEN...cq6IE]","refresh_token":"[REFRESH_TOKEN...6fee2]"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-client-ip:
      - 92.13.36.200
    status_code: 200
version: 1
