interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3AP1.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"pages":{"47404550":{"pageid":47404550,"ns":6,"title":"File:P1.jpg","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2023-07-23T19:01:09Z","lastrevid":189760377,"length":47,"redirect":"","new":""}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
