interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.wikidata.org/w/rest.php/wikibase/v0/entities/items/Q33132026
  response:
    body:
      string: '{"type":"item","labels":{"it":"Categoria:Vescovi di Feltre"},"descriptions":{"fr":"page
        de cat\u00e9gorie de Wikim\u00e9dia","en":"Wikimedia category","nl":"Wikimedia-categorie","pt":"categoria
        de um projeto da Wikimedia","de":"Wikimedia-Kategorie","it":"categoria di
        un progetto Wikimedia","fa":"\u0631\u062f\u0647 \u0648\u06cc\u06a9\u06cc\u200c\u0645\u062f\u06cc\u0627","es":"categor\u00eda
        de Wikimedia","el":"\u03ba\u03b1\u03c4\u03b7\u03b3\u03bf\u03c1\u03af\u03b1
        \u03b5\u03b3\u03c7\u03b5\u03b9\u03c1\u03b7\u03bc\u03ac\u03c4\u03c9\u03bd Wikimedia","eo":"kategorio
        en Vikimedio","zh":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b","bho":"\u0935\u093f\u0915\u093f\u092a\u0940\u0921\u093f\u092f\u093e:\u0936\u094d\u0930\u0947\u0923\u0940","af":"Wikimedia-kategorie","bjn":"tumbung
        Wikimedia","ca":"categoria de Wikimedia","gu":"\u0ab5\u0abf\u0a95\u0abf\u0aaa\u0ac0\u0aa1\u0abf\u0aaf\u0abe
        \u0ab6\u0acd\u0ab0\u0ac7\u0aa3\u0ac0","an":"categor\u00eda de Wikimedia","zh-hk":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e","cy":"tudalen
        categori Wikimedia","ar":"\u062a\u0635\u0646\u064a\u0641 \u0648\u064a\u0643\u064a\u0645\u064a\u062f\u064a\u0627","pt-br":"categoria
        de um projeto da Wikimedia","de-ch":"Wikimedia-Kategorie","fi":"Wikimedia-luokka","cs":"kategorie
        na projektech Wikimedia","et":"Wikimedia kategooria","gl":"categor\u00eda
        de Wikimedia","lb":"Wikimedia-Kategorie","nn":"Wikimedia-kategori","zh-tw":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e","nb":"Wikimedia-kategori","tr":"Vikimedya
        kategorisi","bug":"kategori Wikimedia","lv":"Wikimedia projekta kategorija","zh-cn":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b","nap":"categur\u00eca
        ''e nu pruggette Wikimedia","vi":"th\u1ec3 lo\u1ea1i Wikimedia","tg":"\u0433\u0443\u0440\u04ef\u04b3\u0438
        \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430","ro":"categorie \u00een
        cadrul unui proiect Wikimedia","pl":"kategoria w projekcie Wikimedia","be":"\u043a\u0430\u0442\u044d\u0433\u043e\u0440\u044b\u044f
        \u045e \u043f\u0440\u0430\u0435\u043a\u0446\u0435 \u0412\u0456\u043a\u0456\u043c\u0435\u0434\u044b\u044f","sco":"Wikimedia
        category","bg":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f \u043d\u0430
        \u0423\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u044f","ba":"\u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430
        \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f\u04bb\u044b","yo":"\u1eb9\u0300ka
        Wikimedia","ast":"categor\u00eda de Wikimedia","zh-sg":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b","fy":"Wikimedia-kategory","bn":"\u0989\u0987\u0995\u09bf\u09ae\u09bf\u09a1\u09bf\u09af\u09bc\u09be
        \u09ac\u09bf\u09b7\u09af\u09bc\u09b6\u09cd\u09b0\u09c7\u09a3\u09c0","sl":"kategorija
        Wikimedie","zh-my":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b","da":"Wikimedia-kategori","hi":"\u0935\u093f\u0915\u093f\u092e\u0940\u0921\u093f\u092f\u093e
        \u0936\u094d\u0930\u0947\u0923\u0940","br":"pajenn rummata eus Wikimedia","bs":"kategorija
        na Wikimediji","tg-latn":"gur\u00fchi Vikimedia","zh-mo":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e","ja":"\u30a6\u30a3\u30ad\u30e1\u30c7\u30a3\u30a2\u306e\u30ab\u30c6\u30b4\u30ea","he":"\u05d3\u05e3
        \u05e7\u05d8\u05d2\u05d5\u05e8\u05d9\u05d4","hr":"kategorija na Wikimediji","bar":"Wikimedia-Kategorie","ace":"kawan
        Wikim\u00e8dia","gsw":"Wikimedia-Kategorie","ckb":"\u067e\u06c6\u0644\u06cc
        \u0648\u06cc\u06a9\u06cc\u0645\u06cc\u062f\u06cc\u0627","zh-hans":"\u7ef4\u57fa\u5a92\u4f53\u5206\u7c7b","ilo":"kategoria
        ti Wikimedia","ko":"\uc704\ud0a4\ubbf8\ub514\uc5b4 \ubd84\ub958","sv":"Wikimedia-kategori","mk":"\u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0438\u043d\u0430
        \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0458\u0430","zh-hant":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e","sk":"kateg\u00f3ria
        projektov Wikimedia","ky":"Wikimedia \u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f\u0441\u044b","hy":"\u054e\u056b\u0584\u056b\u0574\u0565\u0564\u056b\u0561\u0575\u056b
        \u0576\u0561\u056d\u0561\u0563\u056e\u056b \u056f\u0561\u057f\u0565\u0563\u0578\u0580\u056b\u0561","be-tarask":"\u043a\u0430\u0442\u044d\u0433\u043e\u0440\u044b\u044f
        \u045e \u043f\u0440\u0430\u0435\u043a\u0446\u0435 \u0412\u0456\u043a\u0456\u043c\u044d\u0434\u044b\u044f","uk":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0456\u044f
        \u043f\u0440\u043e\u0454\u043a\u0442\u0443 \u0412\u0456\u043a\u0456\u043c\u0435\u0434\u0456\u0430","sr":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u0458\u0430
        \u043d\u0430 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0458\u0438","de-at":"Wikimedia-Kategorie","nds":"Wikimedia-Kategorie","yue":"\u7dad\u57fa\u5a92\u9ad4\u5206\u985e","se":"Wikimedia-kategoriija","ru":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f
        \u0432 \u043f\u0440\u043e\u0435\u043a\u0442\u0435 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430","la":"categoria
        Vicimediorum","zea":"Wikimedia-categorie","su":"kategori Wikim\u00e9dia","hu":"Wikim\u00e9dia-kateg\u00f3ria","tg-cyrl":"\u0433\u0443\u0440\u04ef\u04b3
        \u0434\u0430\u0440 \u043b\u043e\u0438\u04b3\u0430\u0438 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430","tt-cyrl":"\u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430
        \u043f\u0440\u043e\u0435\u043a\u0442\u044b\u043d\u0434\u0430\u0433\u044b \u0442\u04e9\u0440\u043a\u0435\u043c","gv":"Wikimedia:Ronnaghys","ia":"categoria
        Wikimedia","en-ca":"Wikimedia category","gn":"Vikim\u00e9dia \u00f1emohenda","scn":"catigur\u00eca
        di nu pruggettu Wikimedia","ka":"\u10d5\u10d8\u10d9\u10d8\u10de\u10d4\u10d3\u10d8\u10d0:\u10d9\u10d0\u10e2\u10d4\u10d2\u10dd\u10e0\u10d8\u10d6\u10d0\u10ea\u10d8\u10d0","eu":"Wikimediako
        kategoria","ms":"kategori Wikimedia","id":"kategori Wikimedia","th":"\u0e2b\u0e19\u0e49\u0e32\u0e2b\u0e21\u0e27\u0e14\u0e2b\u0e21\u0e39\u0e48\u0e27\u0e34\u0e01\u0e34\u0e21\u0e35\u0e40\u0e14\u0e35\u0e22","pam":"Kategoriya
        ning Wikimedia","sh":"Wikimedia:Kategorija","ml":"\u0d35\u0d3f\u0d15\u0d4d\u0d15\u0d3f\u0d2e\u0d40\u0d21\u0d3f\u0d2f
        \u0d35\u0d7c\u0d17\u0d4d\u0d17\u0d02","ku":"W\u00eek\u00eemediya:Kategor\u00ee","my":"Wikimedia:\u1000\u100f\u1039\u100d\u1001\u103d\u1032\u1001\u103c\u1004\u103a\u1038","ps":"\u062f
        \u0648\u064a\u06a9\u064a\u0645\u06d0\u0689\u064a\u0627 \u0648\u06d0\u0634\u0646\u064a\u0632\u0647","rmy":"Vikipidiya:Shopni","min":"kategori
        Wikimedia","kw":"Wikimedia:Klassys","sw":"jamii ya Wikimedia","stq":"Wikimedia-Kategorie","nds-nl":"Wikimedia-kategorie","ta":"\u0bb5\u0bbf\u0b95\u0bcd\u0b95\u0bbf\u0bae\u0bc0\u0b9f\u0bbf\u0baf\u0baa\u0bcd
        \u0baa\u0b95\u0bc1\u0baa\u0bcd\u0baa\u0bc1","tl":"kategorya ng Wikimedia","li":"Wikimedia-categorie","sq":"kategori
        e Wikimedias","ne":"\u0935\u093f\u0915\u093f\u092e\u093f\u0921\u093f\u092f\u093e
        \u0936\u094d\u0930\u0947\u0923\u0940","jv":"kategori Wikimedia","hsb":"kategorija
        w projektach Wikimedije","ga":"Vicim\u00e9id catag\u00f3ir","map-bms":"kategori
        Wikimedia","sd":"\u0632\u0645\u0631\u0648:\u0648\u06aa\u064a\u067e\u064a\u068a\u064a\u0627
        \u0632\u0645\u0631\u0627 \u0628\u0646\u062f\u064a","arz":"\u062a\u0635\u0646\u064a\u0641
        \u0628\u062a\u0627\u0639 \u0648\u064a\u0643\u064a\u0645\u064a\u062f\u064a\u0627","tt":"\u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430
        \u043f\u0440\u043e\u0435\u043a\u0442\u044b\u043d\u0434\u0430\u0433\u044b \u0442\u04e9\u0440\u043a\u0435\u043c","en-gb":"Wikimedia
        category","tt-latn":"Wikimedia proyekt\u0131nda\u011f\u0131 t\u00f6rkem","fo":"Wikimedia-b\u00f3lkur","si":"\u0dc0\u0dd2\u0d9a\u0dd2\u0db8\u0dd3\u0da9\u0dd2\u0dba\u0dcf
        \u0db4\u0dca\u200d\u0dbb\u0db7\u0dda\u0daf \u0db4\u0dd2\u0da7\u0dd4\u0dc0","mn":"\u043a\u0430\u0442\u0435\u0433\u043e\u0440\u0438\u044f\u0434
        \u0410\u043d\u0433\u0438\u043b\u0430\u043b","dty":"\u0935\u093f\u0915\u093f\u092e\u093f\u0921\u093f\u092f\u093e
        \u0936\u094d\u0930\u0947\u0923\u0940","mr":"\u0935\u093f\u0915\u093f\u092a\u0940\u0921\u093f\u092f\u093e
        \u0935\u0930\u094d\u0917","ur":"\u0648\u06cc\u06a9\u06cc\u0645\u06cc\u0688\u06cc\u0627
        \u0632\u0645\u0631\u06c1","as":"\u09f1\u09bf\u0995\u09bf\u09ae\u09bf\u09a1\u09bf\u09af\u09bc\u09be
        \u09b6\u09cd\u09f0\u09c7\u09a3\u09c0"},"aliases":{},"statements":{"P31":[{"id":"Q33132026$7885701B-C830-41F2-89F1-0164CB5F84EE","rank":"normal","qualifiers":[],"references":[{"hash":"d5847b9b6032aa8b13dae3c2dfd9ed5d114d21b3","parts":[{"property":{"id":"P143","data-type":"wikibase-item"},"value":{"type":"value","content":"Q11920"}}]}],"property":{"id":"P31","data-type":"wikibase-item"},"value":{"type":"value","content":"Q4167836"}}]},"sitelinks":{"itwiki":{"title":"Categoria:Vescovi
        di Feltre","badges":[],"url":"https://it.wikipedia.org/wiki/Categoria:Vescovi_di_Feltre"}},"id":"Q33132026"}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2143569255"
      last-modified:
      - Fri, 03 May 2024 12:12:39 GMT
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
version: 1
