interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"3b9016e5b6f8564c7e964d8ee2f3e650652929b6+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=wbsetlabel&site=commonswiki&title=File%3AGwrFireBuckets.jpg&language=doesnotexist&value=A+row+of+red+fire+buckets+on+a+heritage+railway+in+Gloucestershire&format=json&token=3b9016e5b6f8564c7e964d8ee2f3e650652929b6%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"error":{"code":"badvalue","info":"Unrecognized value for parameter
      \"language\": doesnotexist.","*":"See https://commons.wikimedia.org/w/api.php
      for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
      for notice of API deprecations and breaking changes."},"servedby":"mw2291"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - badvalue
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
