interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=35856118446
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"35856118446\" secret=\"8602109868\" server=\"4235\" farm=\"5\" dateuploaded=\"1499949704\"
      isfavorite=\"0\" license=\"4\" safety_level=\"2\" rotation=\"0\" originalsecret=\"67359e9346\"
      originalformat=\"jpg\" views=\"416\" media=\"photo\">\n\t<owner nsid=\"156555495@N04\"
      username=\"Free For Commercial Use (FFC)\" realname=\"Free Images\" location=\"\"
      iconserver=\"4360\" iconfarm=\"5\" path_alias=\"free-images-flickr\">\n\t\t<gift
      gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Mistakes
      On The Road to Truth: Inspirational Quote</title>\n\t<description>There are
      only two mistakes one can make along the road to truth; not going all the way,
      and not starting. By Budda.\n\nYou are free to use this image as long as you
      fave or comment AND include a credit via a clickable link to:\n\n&lt;a href=&quot;https://mahileather.com&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;mahileather.com&lt;/a&gt;\n\nThank you.\n</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1499949704\"
      taken=\"2016-08-04 22:33:06\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1623108439\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"0\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"156523356-35856118446-5014\" author=\"156555495@N04\"
      authorname=\"Free For Commercial Use (FFC)\" raw=\"quote\" machine_tag=\"0\">quote</tag>\n\t\t<tag
      id=\"156523356-35856118446-405\" author=\"156555495@N04\" authorname=\"Free
      For Commercial Use (FFC)\" raw=\"inspiration\" machine_tag=\"0\">inspiration</tag>\n\t\t<tag
      id=\"156523356-35856118446-30285\" author=\"156555495@N04\" authorname=\"Free
      For Commercial Use (FFC)\" raw=\"inspirational\" machine_tag=\"0\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=35856118446
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/4235/35856118446_8602109868_s.jpg\"
      url=\"https://www.flickr.com/photos/free-images-flickr/35856118446/sizes/sq/\"
      media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
      source=\"https://live.staticflickr.com/4235/35856118446_8602109868_q.jpg\" url=\"https://www.flickr.com/photos/free-images-flickr/35856118446/sizes/q/\"
      media=\"photo\" />\n\t<size label=\"Thu[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
