interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://query.wikidata.org/sparql?format=json&query=PREFIX%20wdt%3A%20%3Chttp%3A%2F%2Fwww.wikidata.org%2Fprop%2Fdirect%2F%3E%0A%0A%20%20%20%20%20%20%20%20SELECT%20%3Fitem%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20%20%20%7B%20%3Fitem%20wdt%3AP3267%20%22199246608%40N02%22%20.%20%7D%0A%20%20%20%20%20%20%20%20%20%20UNION%0A%20%20%20%20%20%20%20%20%20%20%7B%20%3Fitem%20wdt%3AP3267%20%22cefarrjf87%22%20.%20%7D%0A%20%20%20%20%20%20%20%20%7D
  response:
    content: "{\n  \"head\" : {\n    \"vars\" : [ \"item\" ]\n  },\n  \"results\"
      : {\n    \"bindings\" : [ ]\n  }\n}"
    headers:
      content-type:
      - application/sparql-results+json;charset=utf-8
      x-client-ip:
      - 81.131.37.170
      x-first-solution-millis:
      - '1'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"f0ae3c44f1fc6a3e213283f8433867cc653004fd+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=upload&filename=Thameslink+Class+700+in+Pride+livery.jpg&url=https%3A%2F%2Flive.staticflickr.com%2F65535%2F53268016608_5b890124fd_o_d.jpg&text=%3D%3D%7B%7Bint%3Afiledesc%7D%7D%3D%3D%0A%7B%7BInformation%0A%7CSource%3Dhttps%3A%2F%2Fwww.flickr.com%2Fphotos%2F199246608%40N02%2F53268016608%2F%0A%7CDate%3D2023-09-12+19%3A54%3A32%0A%7CAuthor%3D%5Bhttps%3A%2F%2Fwww.flickr.com%2Fpeople%2F199246608%40N02+Alex+Chan%5D%0A%7CPermission%3D%0A%7Cother_versions%3D%0A%7D%7D%0A%0A%3D%3D%7B%7Bint%3Alicense-header%7D%7D%3D%3D%0A%7B%7Bcc-by-2.0%7D%7D%0A&format=json&token=f0ae3c44f1fc6a3e213283f8433867cc653004fd%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"upload":{"result":"Success","filename":"Thameslink_Class_700_in_Pride_livery.jpg","imageinfo":{"timestamp":"2023-10-18T16:17:08Z","user":"Alexwlchan","userid":829939,"size":3121958,"width":4032,"height":3024,"parsedcomment":"","comment":"","html":"<div>\n<figure
      typeof=\"mw:Error mw:File/Thumb\"><a href=\"/w/index.php?title=Special:Upload&amp;wpDestFile=Thameslink_Class_700_in_Pride_livery.jpg\"
      class=\"new\" title=\"File:Thameslink Class 700 in Pride livery.jpg\"><span
      class=\"mw-file-element mw-broken-media\" data-width=\"100\">File:Thameslink
      Class 700 in Pride livery.jpg</span></a><figcaption>Existing file</figcaption></figure>\n<p><span
      id=\"wpUploadWarningFileexists\">A file with this name already exists; please
      check <b><a class=\"mw-selflink selflink\">the existing file</a></b> if you
      are not sure whether you want to change it. Please choose another filename,
      unless you are uploading a technically improved version of the same file. <br
      />Do not overwrite an image with a different one of the same topic (see <a href=\"/wiki/Commons:File_naming\"
      title=\"Commons:File naming\">file naming</a>).</span>\n</p>\n<div style=\"clear:both;\"></div>\n</div>","canonicaltitle":"File:Thameslink
      Class 700 in Pride livery.jpg","url":"https://upload.wikimedia.org/wikipedia/commons/f/ff/Thameslink_Class_700_in_Pride_livery.jpg","descriptionurl":"https://commons.wikimedia.org/wiki/File:Thameslink_Class_700_in_Pride_livery.jpg","sha1":"260b232c2fd20d209816e034747036b45e5e3e1f","metadata":[{"name":"Make","value":"Apple"},{"name":"Model","value":"iPhone
      12 mini"},{"name":"Orientation","value":1},{"name":"XResolution","value":"72/1"},{"name":"YResolution","value":"72/1"},{"name":"ResolutionUnit","value":2},{"name":"Software","value":"16.6"},{"name":"DateTime","value":"2023:09:12
      19:54:32"},{"name":"YCbCrPositioning","value":1},{"name":"ExposureTime","value":"1/50"},{"name":"FNumber","value":"8/5"},{"name":"ExposureProgram","value":2},{"name":"ISOSpeedRatings","value":400},{"name":"ExifVersion"[...]
[...]
- request:
    body: action=wbsetlabel&site=commonswiki&title=File%3AThameslink_Class_700_in_Pride_livery.jpg&language=en&value=A+Thameslink+Class+700+train+in+the+rainbow+Pride+livery%2C+taken+at+night&format=json&token=2b163554193f2a696054d80e943588dd65300504%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"entity":{"labels":{"en":{"language":"en","value":"A Thameslink Class
      700 train in the rainbow Pride livery, taken at night"}},"id":"M139134318","type":"mediainfo","lastrevid":812827205},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
[...]
