interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=opensearch&format=xml&limit=10&search=Aircraft%20in%20Taj&namespace=14
  response:
    content: <?xml version="1.0"?><SearchSuggestion version="2.0" xmlns="http://opensearch.org/searchsuggest2"><Query
      xml:space="preserve">Aircraft in Taj</Query><Section><Item><Text xml:space="preserve">Category:Aircraft
      in Tajikistan</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Aircraft_in_Tajikistan</Url></Item><Item><Text
      xml:space="preserve">Category:Aircraft in Tajikistani service</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Aircraft_in_Tajikistani_service</Url></Item><Item><Text
      xml:space="preserve">Category:Aircraft in Tajikistani service by airline</Text><Url
      xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Aircraft_in_Tajikistani_service_by_airline</Url></Item></Section></SearchSuggestion>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 92.13.36.200
      x-opensearch-type:
      - prefix
      x-search-id:
      - eu3b7ite3idu5ci5dsm8apm0z
    status_code: 200
version: 1
