interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3AFishingBoatsByTheRiver.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":6,"title":"File:FishingBoatsByTheRiver.jpg","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=titleblacklist&tbaction=create&tbtitle=File%3AFishingBoatsByTheRiver.jpg&format=json
  response:
    content: '{"titleblacklist":{"result":"ok"}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=opensearch&format=xml&limit=10&search=FishingBoatsByTheRiver&namespace=6
  response:
    content: <?xml version="1.0"?><SearchSuggestion version="2.0" xmlns="http://opensearch.org/searchsuggest2"><Query
      xml:space="preserve">FishingBoatsByTheRiver</Query><Section /></SearchSuggestion>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 92.13.36.200
      x-opensearch-type:
      - prefix
      x-search-id:
      - dmop2w3dg8xvz97kg4rc8j9sr
    status_code: 200
version: 1
