interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3AStainedGlassWindowAtEly.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"pages":{"139632053":{"pageid":139632053,"ns":6,"title":"File:StainedGlassWindowAtEly.jpg","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr","touched":"2023-10-27T20:31:48Z","lastrevid":815918947,"length":723}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
