interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&format=json&page=File%3AVinyl+albums.jpg&prop=text
  response:
    content: '{"parse":{"title":"File:Vinyl albums.jpg","pageid":52895,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Vinyl_albums.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<p>Source:
      <a rel=\"nofollow\" class=\"external free\" href=\"https://www.flickr.com/photos/metalphoenix/3874334/\">https://www.flickr.com/photos/metalphoenix/3874334/</a>
      \n</p>\n<h2><span class=\"mw-headline\" id=\"Licensing\">Licensing</span><span
      class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Vinyl_albums.jpg&amp;action=edit&amp;section=2\"
      title=\"Edit section: Licensing\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<style
      data-mw-deduplicate=\"TemplateStyles:r666199556\">.mw-parser-output .responsive-license-cc{clear:both;text-align:center;box-sizing:border-box;width:100%;justify-content:space-around;align-items:center;margin:0.5em
      auto;background-color:#f9f9f9;border:2px solid #e0e0e0;border-spacing:8px;display:flex}.mw-parser-output
      .responsive-license-cc div{margin:4px}.mw-parser-output .rlicense-text div{margin:0.5em
      auto}@media screen and (max-width:640px){.mw-parser-output .responsive-license-cc{flex-flow:column}.mw-parser-output
      .rlicense-text{order:1}}</style><div class=\"responsive-license-cc layouttemplate
      licensetpl mw-content-ltr\" lang=\"en\"><div class=\"rlicense-icons\"><span
      typeof=\"mw:File\"><span title=\"w:en:Creative Commons\"><img alt=\"w:en:Creative
      Commons\" src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/90px-CC_some_rights_reserved.svg.png\"
      decoding=\"async\" width=\"90\" height=\"36\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/135px-CC_some_rights_reserved.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/180px-CC_some_rights_reserved.svg.png
      2x\" data-file-width=\"744\" data-file-height=\"300\" /></span></span><br />\n<span
      typeof=\"mw:File\"><span title=\"attribution\"><img alt=\"attribution\" src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Cc-by_new_white.svg/24px-Cc-by_new_white.svg.png\"
      decoding=\"async\" width=\"24\" height=\"24\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Cc-by_new_white.svg/36px-Cc-by_new_white.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Cc-by_new_white.svg/48px-Cc-by_new_white.svg.png
      2x\" data-file-width=\"64\" data-file-height=\"64\" /></span></span></div><div
      class=\"rlicense-text\"><div class=\"rlicense-declaration\">This file is licensed
      under the <a href=\"https://en.wikipedia.org/wiki/en:Creative_Commons\" class=\"extiw\"
      title=\"w:en:Creative Commons\">Creative Commons</a> <a rel=\"nofollow\" class=\"external
      text\" href=\"https://creativecommons.org/licenses/by/2.0/deed.en\">Attribution
      2.0 Generic</a> license.</div><div class=\"rlicense-desc\" style=\"text-align:left;\"
      lang=\"en\">\n<dl><dd>You are free:\n<ul><li><b>to share</b> \u2013 to copy,
      distribute and transmit the work</li>\n<li><b>to remix</b> \u2013 to adapt the
      work</li></ul></dd>\n<dd>Under the following conditions:\n<ul><li><b>attribution</b>
      \u2013 You must give appropriate credit, provide a link to the license, and
      indicate if changes were made. You may do so in any reasonable manner, but not
      in any way that suggests the licensor endorses you or your use.</li></ul></dd></dl>\n</div><span
      class=\"licensetpl_link\" style=\"display:none;\">https://creativecommons.org/licenses/by/2.0</span><span
      class=\"licensetpl_short\" style=\"display:none;\">CC BY 2.0 </span><span class=\"licensetpl_long\"
      style=\"display:none;\">Creative Commons Attribution 2.0 </span><span class=\"licensetpl_link_req\"
      style=\"display:none;\">true</span><span class=\"licensetpl_attr_req\" style=\"display:none;\">true</span></div></div>\n<table
      id=\"FlickrReview\" class=\"layouttemplate\" style=\"width:100%; margin:0.5em
      auto; background: #eeffee; padding: 5px; border: 1px solid #aaaa88; direction:
      ltr;\" lang=\"en\">\n\n<tbody><tr>\n<td><span typeof=\"mw:File\"><span><img
      src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Checked_copyright_icon.svg/50px-Checked_copyright_icon.svg.png\"
      decoding=\"async\" width=\"50\" height=\"48\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Checked_copyright_icon.svg/75px-Checked_copyright_icon.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Checked_copyright_icon.svg/100px-Checked_copyright_icon.svg.png
      2x\" data-file-width=\"160\" data-file-height=\"153\" /></span></span>\n</td>\n<td>This
      image, originally posted to <b><a href=\"/wiki/Commons:Flickr\" class=\"mw-redirect\"
      title=\"Commons:Flickr\">Flickr</a></b>, was reviewed on 2 February 2007 by
      the <a href=\"/wiki/Commons:A\" class=\"mw-redirect\" title=\"Commons:A\">administrator</a>
      or <a href=\"/wiki/Commons:License_review\" title=\"Commons:License review\">reviewer</a>
      <b><a href=\"/wiki/User:GeorgHH\" title=\"User:GeorgHH\">GeorgHH</a></b>, who
      confirmed that it was available on Flickr under the stated license on that date.\n</td></tr></tbody></table><h1
      class=\"mw-slot-header\"><mediainfoslotheader /></h1><mediainfoview style=\"display:
      none\"><mediainfoviewcaptions><div class=''wbmi-entityview-captionsPanel oo-ui-layout
      oo-ui-panelLayout oo-ui-panelLayout-framed''><h3 class=''wbmi-entityview-captions-header''>Captions</h3><div
      class=''wbmi-entityview-caption oo-ui-layout oo-ui-horizontalLayout''><label
      class=''wbmi-language-label oo-ui-widget oo-ui-widget-enabled oo-ui-labelElement-label
      oo-ui-labelElement oo-ui-labelWidget''>English</label><div lang=''en'' dir=''ltr''
      class=''wbmi-caption-value wbmi-entityview-emptyCaption''>Add a one-line explanation
      of what this file represents</div></div></div></mediainfoviewcaptions><mediainfoviewstatements><div
      id=''P180'' data-property=''P180'' data-statements=''[]'' data-formatvalue=''[]''
      class=''wbmi-entityview-statementsGroup wbmi-entityview-statementsGroup-P180
      oo-ui-layout oo-ui-panelLayout oo-ui-panelLayout-framed''><div class=''wbmi-statements-widget''><div
      class=''wbmi-statement-header''><div class=''wbmi-entity-data''><div class=''wbmi-entity-title''><h3
      class=''wbmi-statements-title''>Items portrayed in this file</h3><h4 class=''wbmi-entity-label''><bdi><a
      target=\"_blank\" title=\"d:Special:EntityPage/P180\" href=\"https://www.wikidata.org/wiki/Special:EntityPage/P180\">depicts</a></bdi></h4></div></div></div><div
      class=''wbmi-content-items-group''></div></div></div><div id=''P170'' data-property=''P170''
      data-statements=''[{\"mainsnak\":{\"snaktype\":\"somevalue\",\"property\":\"P170\",\"hash\":\"d3550e860f988c6675fff913440993f58f5c40c5\"},\"type\":\"statement\",\"qualifiers\":{\"P3267\":[{\"snaktype\":\"value\",\"property\":\"P3267\",\"hash\":\"7e1dbc569f2556cf1eaac6218b64e289444fb885\",\"datavalue\":{\"value\":\"89778056@N00\",\"type\":\"string\"}}],\"P2093\":[{\"snaktype\":\"value\",\"property\":\"P2093\",\"hash\":\"42ede5303fc6c5e5e7f398416cd64bdba006fb75\",\"datavalue\":{\"value\":\"Andr\\u00e9
      ...\",\"type\":\"string\"}}],\"P2699\":[{\"snaktype\":\"value\",\"property\":\"P2699\",\"hash\":\"46f353c090edf93ff3a8431e9e6f9bd433e26bb3\",\"datavalue\":{\"value\":\"https:\\/\\/www.flickr.com\\/people\\/metalphoenix\\/\",\"type\":\"string\"}}]},\"qualifiers-order\":[\"P3267\",\"P2093\",\"P2699\"],\"id\":\"M52895$F9729900-4DD5-49F0-8767-0A876487A7B4\",\"rank\":\"normal\"}]''
      data-formatvalue=''{\"{\\\"value\\\":{\\\"entity-type\\\":\\\"property\\\",\\\"numeric-id\\\":170,\\\"id\\\":\\\"P170\\\"},\\\"type\\\":\\\"wikibase-entityid\\\"}\":{\"text\\/html\":{\"en\":{\"\":\"&lt;a
      target=\\\"_blank\\\" title=\\\"d:Special:EntityPage\\/P170\\\" href=\\\"https:\\/\\/www.wikidata.org\\/wiki\\/Special:EntityPage\\/P170\\\"&gt;creator&lt;\\/a&gt;\"}},\"text\\/plain\":{\"en\":{\"\":\"creator\"}}},\"{\\\"value\\\":{\\\"entity-type\\\":\\\"property\\\",\\\"numeric-id\\\":3267,\\\"id\\\":\\\"P3267\\\"},\\\"type\\\":\\\"wikibase-entityid\\\"}\":{\"text\\/html\":{\"en\":{\"\":\"&lt;a
      target=\\\"_blank\\\" title=\\\"d:Special:EntityPage\\/P3267\\\" href=\\\"[...]
