interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.wikidata.org/w/rest.php/wikibase/v0/entities/items/Q5727902
  response:
    content: '{"type":"item","labels":{"ht":"Alantou","zh-hans":"\u5927\u7ea6","zh-hant":"\u5927\u7d04\u70ba","zh-hk":"Circa","pt":"circa","sk":"Circa","eu":"circa","fr":"circa","en":"circa","es":"circa","af":"Circa","mk":"\u043e\u043a\u043e\u043b\u0443","fi":"noin","gl":"circa","la":"Circa","id":"kira-kira","nn":"cirka","ja":"\u304a\u3088\u305d","cs":"cirka","br":"Circa","ur":"\u062a\u0642\u0631\u06cc\u0628\u0627\u064b","ar":"\u0642\u0631\u0627\u0628\u0629","zh":"\u5927\u7d04\u70ba","nl":"circa","ca":"circa","el":"\u03c0\u03b5\u03c1\u03af\u03c0\u03bf\u03c5","de":"circa","tr":"yakla\u015f\u0131k","pa":"\u0a05\u0a70\u0a26\u0a3e\u0a1c\u0a3c\u0a28","he":"\u05dc\u05e2\u05e8\u05da","sv":"cirka","ru":"\u043e\u043a\u043e\u043b\u043e","be":"\u043a\u0430\u043b\u044f","pl":"oko\u0142o","sl":"okoli","it":"circa","scn":"circa","ast":"circa","nb":"cirka","hu":"k\u00f6r\u00fclbel\u00fcl","ko":"\ucbe4","cy":"tua","da":"cirka","pt-br":"circa","sr":"\u043e\u0442\u043f\u0440\u0438\u043b\u0438\u043a\u0435","en-gb":"circa","vi":"kho\u1ea3ng","sd":"\u062a\u0642\u0631\u064a\u0628\u0627\u064e\u064e","et":"umbes","uk":"\u0431\u043b\u0438\u0437\u044c\u043a\u043e","ka":"\u10d3\u10d0\u10d0\u10ee\u10da\u10dd\u10d4\u10d1\u10d8\u10d7","en-ca":"circa","ro":"circa","bg":"\u043e\u043a\u043e\u043b\u043e","ba":"\u0442\u0438\u0440\u04d9\u04bb\u0435","tg":"\u0442\u0430\u049b\u0440\u0438\u0431\u0430\u043d","hy":"\u0574\u0578\u057f\u0561\u057e\u0578\u0580\u0561\u057a\u0565\u057d","myv":"\u043c\u0430\u043b\u0430\u0432","eo":"\u0109irka\u016d","lb":"circa","bn":"\u0986\u09a8\u09c1\u09ae\u09be\u09a8\u09bf\u0995","azb":"\u0634\u0627\u0628\u0644\u0648\u0646:Circa","ml":"\u0d38\u0d3f\u0d7c\u0d15","nan":"Circa","gu":"\u0a86\u0ab6\u0ab0\u0ac7","be-tarask":"\u043a\u0430\u043b\u044f","ms":"lebih
      kurang","hr":"Cirka","lv":"aptuveni","tt":"\u044f\u043a\u044b\u043d\u0447\u0430","sco":"circa","az":"t\u0259qrib\u0259n","ga":"circa","ext":"circa","tt-cyrl":"\u044f\u043a\u044b\u043d\u0447\u0430","zh-tw":"\u5927\u7d04\u70ba","tl":"Circa","sq":"rreth
      vitit","vec":"sirca","lt":"apie","kw":"a-dro","ku":"n\u00eaz\u00eek\u00ee","sh":"otprilike","sms":"nu\u02b9tt","se":"sullii","smn":"suul\u00e2n","ms-arab":"\u0644\u0628\u064a\u0647
      \u06a9\u0648\u0631\u06a0","sgs":"apl\u0117","bar":"circe","crh":"yaqla\u015f\u0131q","ary":"\u062c\u0648\u0627\u064a\u0647","yue":"\u5927\u6982","ks":"\u062a\u064e\u0642\u0631\u06cc\u0656\u0628\u064e\u0646","bs":"cirka","mzn":"\u062d\u062f\u0648\u062f","xmf":"\u10db\u10d4\u10ee\u10dd\u10da\u10d0\u10e4\u10d8\u10e0\u10dd"},"descriptions":{"en":"approximative
      date \u2013 should be used with qualifier P1480 to indicate the source specified
      a value and explicitly stated that value is approximate, but specify no precision
      information. For example, \"born around 1709\"","ca":"al voltant de. aproximadament:
      s''ha d''utilitzar amb el qualificador P1480 per indicar que la font ha especificat
      un valor i ha indicat expl\u00edcitament que el valor \u00e9s aproximat, per\u00f2
      no s''especifica informaci\u[...]
