interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://query.wikidata.org/sparql?format=json&query=PREFIX%20wdt%3A%20%3Chttp%3A//www.wikidata.org/prop/direct/%3E%0A%0A%20%20%20%20%20%20%20%20SELECT%20%3Fitem%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20%20%20%7B%20%3Fitem%20wdt%3AP3267%20%22199246608%40N02%22%20.%20%7D%0A%20%20%20%20%20%20%20%20%20%20UNION%0A%20%20%20%20%20%20%20%20%20%20%7B%20%3Fitem%20wdt%3AP3267%20%22Alex%20Chan%22%20.%20%7D%0A%20%20%20%20%20%20%20%20%7D
  response:
    content: "{\n  \"head\" : {\n    \"vars\" : [ \"item\" ]\n  },\n  \"results\"
      : {\n    \"bindings\" : [ ]\n  }\n}"
    headers:
      content-type:
      - application/sparql-results+json;charset=utf-8
      x-client-ip:
      - 80.42.123.5
      x-first-solution-millis:
      - '2'
    status_code: 200
version: 1
