interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=52994452213
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"52994452213\" secret=\"443d00faf8\" server=\"65535\" farm=\"66\" dateuploaded=\"1687469849\"
      isfavorite=\"0\" license=\"4\" safety_level=\"0\" rotation=\"0\" originalsecret=\"33120c5330\"
      originalformat=\"jpg\" views=\"114\" media=\"photo\">\n\t<owner nsid=\"150102727@N06\"
      username=\"Ninara31\" realname=\"Nina R\" location=\"Africa\" iconserver=\"513\"
      iconfarm=\"1\" path_alias=\"\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Doho
      Lodge, Ethiopia</title>\n\t<description>Afar, Doho Lodge</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1687469849\"
      taken=\"2021-05-16 12:16:36\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1688071361\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"150057405-52994452213-244713\" author=\"150102727@N06\"
      authorname=\"Ninara31\" raw=\"Afar\" machine_tag=\"0\">afar</tag>\n\t\t<tag
      id=\"150057405-52994452213-499262608\" author=\"150102727@N06\" authorname=\"Ninara31\"
      raw=\"Doho Lodge\" machine_tag=\"0\">doholodge</tag>\n\t\t<tag id=\"150057405-52994452213-28446\"
      author=\"150102727@N06\" authorname=\"Ninara31\" raw=\"Ethiopia\" machine_tag=\"0\">ethiopia</tag>\n\t\t<tag
      id=\"150057405-52994452213-573195\" author=\"150102727@N06\" authorname=\"Ninara31\"
      raw=\"Awash\" machine_tag=\"0\">awash</tag>\n\t\t<tag id=\"150057405-52994452213-791\"
      author=\"150102727@N06\" authorname=\"Ninara31\" raw=\"Nature\" machine_tag=\"0\">nature</tag>\n\t\t<tag
      id=\"150057405-52994452213-5079599\" author=\"150102727@N06\" authorname=\"Ninara31\"
      raw=\"Awash National Park\" machine_tag=\"0\">awashnationalpark</tag>\n\t\t<tag
      id=\"150057405-52994452213-35657\" author=\"150102727@N06\" authorname=\"Ninara31\"
      raw=\"Hot spring\" machine_tag=\"0\">hotspring</tag>\n\t</tags>\n\t<location
      latitude=\"9.135158\" longitude=\"40.083811\" accuracy=\"16\" context=\"0\">\n\t\t<locality>Galoch</locality>\n\t\t<neighbourhood
      />\n\t\t<region>\u0100far</region>\n\t\t<country>Ethiopia</country>\n\t</location>\n\t<geoperms
      ispublic=\"1\" iscontact=\"0\" isfriend=\"0\" isfamily=\"0\" />\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/150102727@N06/52994452213/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=52994452213
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/65535/52994452213_443d00faf8_s.jpg\"
      url=\"https://www.flickr.com/photos/150102727@N06/52994452213/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/52994452213_443d00faf8_q.jpg\"
      url=\"https://www.flickr.com/photos/150102727@N06/52994452213/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
