interactions:
- request:
    body: grant_type=authorization_code&token_endpoint=https%3A%2F%2Fmeta.wikimedia.org%2Fw%2Frest.php%2Foauth2%2Faccess_token&code=[CODE]
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://meta.wikimedia.org/w/rest.php/oauth2/access_token
  response:
    content: '{"token_type":"Bearer","expires_in":14400,"access_token":"ACCESS_TOKEN","refresh_token":"REFRESH_TOKEN"}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=userinfo&format=json
  response:
    content: '{"batchcomplete":"","query":{"userinfo":{"id":829939,"name":"Alexwlchan"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
