interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=opensearch&format=xml&limit=10&search=apple&namespace=14
  response:
    content: <?xml version="1.0"?><SearchSuggestion version="2.0" xmlns="http://opensearch.org/searchsuggest2"><Query
      xml:space="preserve">apple</Query><Section><Item><Text xml:space="preserve">Category:Apple</Text><Url
      xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Apple</Url></Item><Item><Text
      xml:space="preserve">Category:Appleton, Wisconsin</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Appleton,_Wisconsin</Url><Image
      source="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/FoxRiverPaperCompanyHistoricDistrictAppletonWI.jpg/50px-FoxRiverPaperCompanyHistoricDistrictAppletonWI.jpg"
      width="50" height="33" /></Item><Item><Text xml:space="preserve">Category:Apples</Text><Url
      xml:space="preserve">https://commons.wikimedia.org/wiki/Category:Apples</Url><Image
      source="https://upload.wikime[...]
