interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=xml&prop=revisions&rvprop=content&rvslots=%2A&titles=File%3AExample.jpg
  response:
    content: "<?xml version=\"1.0\"?><api batchcomplete=\"\"><query><pages><page _idx=\"6428847\"
      pageid=\"6428847\" ns=\"6\" title=\"File:Example.jpg\"><revisions><rev><slots><slot
      contentmodel=\"wikitext\" contentformat=\"text/x-wiki\" role=\"main\" xml:space=\"preserve\">{{protected}}{{Prohibited
      name}}\n\n{{Information\n|Description={{en|Example image, used for tracking
      test edits. \u2013 This file name (Example.jpg) is used by English language
      and other language MediaWiki installations when you click the respective toolbar
      button. (English language)}}\n|Source={{own}}\n|Date=2005-07\n|Author=[[User:Bdk|bdk]]\n|Permission={{PD-ineligible}}\n|other_versions={{Vector
      version available|File:Example en.svg}}&lt;br/&gt;{{Other versions/Example}}\n}}\n\n==
      {{Section header|see also}} ==\n*[[:Template:Edit]]\n\n[[Category:Example images]]\n[[Category:English-language
      image placeholders]]</slot></slots></rev></revisions></page></pages></query></api>"
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
