interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Cpath_alias&gallery_id=72157720932863274&get_gallery_info=1&method=flickr.galleries.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"14\" perpage=\"10\" total=\"140\">\n\t<photo id=\"52381250655\"
      owner=\"78978556@N06\" secret=\"dcf763d335\" server=\"65535\" farm=\"66\" title=\"When
      the Sun goes down.. (Explored on 24 Sep 22)\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"0\" safety_level=\"0\" dateupload=\"1664036044\" datetaken=\"2022-09-24
      17:50:41\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"Dunstan
      Fernando\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/52381250655_dcf763d335_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/52381250655_dcf763d335_t.jpg\"
      height_t=\"70\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/52381250655_dcf763d335_m.jpg\"
      height_s=\"168\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/52381250655_dcf763d335.jpg\"
      height_m=\"350\" width_m=\"500\" url_q=\"https://live.staticflickr.com/65535/52381250655_dcf763d335_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/52381250655_dcf763d335_b.jpg\"
      height_l=\"717\" width_l=\"1024\" pathalias=\"dunstanfdo\" is_primary=\"1\"
      has_comment=\"0\">\n\t\t<description>While we were shooting some waders on the
      ground, noticed flock of Greater Flamingos flying at a distance. I had no time
      to change the settings on the camera, just clicked One shot. \n\nI thought of
      sharing with you.\n\nTaken at Masirah Island, Oman. \nNikkor 200-500mm Lens
      handheld. \n\nHave a peaceful weekend everyone.\n\nThank you so much for dropping
      by my photostream and leaving all the kind comments. They are very much appreciated.\n\n85A_0883</description>\n\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
