interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=12533665685
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"12533665685\" secret=\"58d3618cdd\" server=\"3705\" farm=\"4\" dateuploaded=\"1392443514\"
      isfavorite=\"0\" license=\"4\" safety_level=\"0\" rotation=\"0\" originalsecret=\"36696b554d\"
      originalformat=\"png\" views=\"2949\" media=\"photo\">\n\t<owner nsid=\"23594237@N02\"
      username=\"MAMJODH\" realname=\"\" location=\"\" iconserver=\"2416\" iconfarm=\"3\"
      path_alias=\"mamjodh\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Expression
      of nature - Png file - Attention only the maximum original size is in png format</title>\n\t<description>Expression
      of nature - fichier png - Attention seulement l&#039;image originale, donc sa
      taille maximale, est en format png.</description>\n\t<visibility ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1392443514\" taken=\"2014-02-15
      06:51:54\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1392444256\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"23573889-12533665685-535\" author=\"23594237@N02\"
      authorname=\"MAMJODH\" raw=\"flower\" machine_tag=\"0\">flower</tag>\n\t\t<tag
      id=\"23573889-12533665685-38459\" author=\"23594237@N02\" authorname=\"MAMJODH\"
      raw=\"fiore\" machine_tag=\"0\">fiore</tag>\n\t\t<tag id=\"23573889-12533665685-6722\"
      author=\"23594237@N02\" authorname=\"MAMJODH\" raw=\"flor\" machine_tag=\"0\">flor</tag>\n\t\t<tag
      id=\"23573889-12533665685-157752\" author=\"23594237@N02\" authornam[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=12533665685
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/3705/12533665685_58d3618cdd_s.jpg\"
      url=\"https://www.flickr.com/photos/mamjodh/12533665685/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/3705/12533665685_58d3618cdd_q.jpg\"
      url=\"https://www.flickr.com/photos/mamjodh/12533665685/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width=\"100\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
