interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3AVaranasi%203.jpg&prop=text&format=json
  response:
    content: '{"parse":{"title":"File:Varanasi 3.jpg","pageid":126402,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Varanasi_3.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<ul><li><a
      href=\"/wiki/Varanasi\" title=\"Varanasi\">Varanasi</a> in <a href=\"/wiki/India\"
      title=\"India\">India</a></li>\n<li><a href=\"https://fr.wikipedia.org/wiki/Varanasi\"
      class=\"extiw\" title=\"fr:Varanasi\">Varanasi</a> en <a href=\"https://fr.wikipedia.org/wiki/Inde\"
      class=\"extiw\" title=\"fr:Inde\">Inde</a></li></ul>\n<h2><span class=\"mw-headline\"
      id=\"Source\">Source</span><span class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a
  [...]
