interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=4079570071
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"4079570071\" secret=\"1603a0b121\" server=\"2537\" farm=\"3\" dateuploaded=\"1257506840\"
      isfavorite=\"0\" license=\"3\" safety_level=\"0\" rotation=\"0\" originalsecret=\"4375372c0f\"
      originalformat=\"gif\" views=\"1472\" media=\"photo\">\n\t<owner nsid=\"24259058@N06\"
      username=\"Astroblue\" realname=\"Guy Buhry\" location=\"Sud de l&#039;Aisne,
      France\" iconserver=\"2131\" iconfarm=\"3\" path_alias=\"astroblue\">\n\t\t<gift
      gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Ragondin
      gif anim\xE9 !</title>\n\t<description>Ragondin, gif anim\xE9, voir en grand
      pour voir l&#039;animation.\nSee it in big for animated gif.</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1257506840\"
      taken=\"2009-11-06 12:27:20\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1264053570\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>1</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"24213736-4079570071-2145\" author=\"24259058@N06\"
      authorname=\"Astroblue\" raw=\"La\" machine_tag=\"0\">la</tag>\n\t\t<tag id=\"24213736-4079570071-9784647\"
      author=\"24259058@N06\" authorname=\"Astroblue\" raw=\"Fert\xE9-Milon\" machine_tag=\"0\">fert\xE9milon</tag>\n\t\t<tag
      id=\"24213736-4079570071-2554\" author=\"24259058@N06\" authorname=\"Astroblue\"
      raw=\"3D\" machine_tag=\"0\">3d</tag>\n\t\t<tag id=\"24213736-4079570071-9093\"
      author=\"24259058@N06\" authorname=\"Astroblue\" raw=\"anaglyph\" machine_tag=\"0\">anaglyph</tag>\n\t\t<tag
      id=\"24213736-4079570071-1213296\" author=\"24259058@N06\" authorname=\"Astroblue\"
      raw=\"anaglyphe\" machine_tag=\"0\">anaglyphe</tag>\n\t\t<tag id=\"24213736-4079570071-22768928\"
      author=\"24259058@N06\" authorname=\"Astroblue\" raw=\"vue-crois\xE9e\" machine_tag=\"0\">vuecrois\xE9e</tag>\n\t\t<tag
      id=\"24213736-4079570071-1679140\" author=\"24259058@N06\" authorname=\"Astroblue\"
      raw=\"Xview\" machine_tag=\"0\">xview</tag>\n\t</tags>\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/astroblue/4079570071/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=4079570071
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/2537/4079570071_1603a0b121_s.jpg\"
      url=\"https://www.flickr.com/photos/astroblue/4079570071/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/2537/4079570071_1603a0b121_q.jpg\"
      url=\"https://www.flickr.com/photos/astroblue/4079570071/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width=\"100\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
