interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=wbgetentities&format=json&sites=commonswiki&titles=File%3AOlonad%C3%A9+-+A+Cena+Negra+Brasileira+%28Teatro+Cacilda+Becker%29+%287%29.jpg
  response:
    body:
      string: '{"entities":{"M51090819":{"pageid":51090819,"ns":6,"title":"File:Olonad\u00e9
        - A Cena Negra Brasileira (Teatro Cacilda Becker) (7).jpg","lastrevid":483358472,"modified":"2020-10-07T06:37:20Z","type":"mediainfo","id":"M51090819","labels":{},"descriptions":{},"statements":{"P571":[{"mainsnak":{"snaktype":"value","property":"P571","hash":"c4430ecd9501996f6a9caffa02dc63b0c5887edc","datavalue":{"value":{"time":"+2016-08-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"}},"type":"statement","id":"M51090819$FE14B23B-999C-447C-9D6E-C79BCC2935EB","rank":"normal"}],"P4082":[{"mainsnak":{"snaktype":"value","property":"P4082","hash":"f0f3de753a0854a10dfb78ab04248c7a79f0908c","datavalue":{"value":{"entity-type":"item","numeric-id":1630030,"id":"Q1630030"},"type":"wikibase-entityid"}},"type":"statement","id":"M51090819$419B2848-2C22-45B0-8CF3-4EA3A81F0388","rank":"normal"}],"P275":[{"mainsnak":{"snaktype":"value","property":"P275","hash":"a62aa88e8696cafc169e9591e6d34b5d3ec5b93e","datavalue":{"value":{"entity-type":"item","numeric-id":19068220,"id":"Q19068220"},"type":"wikibase-entityid"}},"type":"statement","id":"M51090819$B73068B7-DC99-47EC-84BD-8A63FFCB35F1","rank":"normal"}],"P6216":[{"mainsnak":{"snaktype":"value","property":"P6216","hash":"5570347fdc76d2a80732f51ea10ee4b144a084e0","datavalue":{"value":{"entity-type":"item","numeric-id":50423863,"id":"Q50423863"},"type":"wikibase-entityid"}},"type":"statement","id":"M51090819$E1A45C25-98E3-4AB2-8752-BA4272280CC8","rank":"normal"}],"P7482":[{"mainsnak":{"snaktype":"value","property":"P7482","hash":"b82dd47222a210c6dc1f428b693c2fbf7b0e0d6e","datavalue":{"value":{"entity-type":"item","numeric-id":74228490,"id":"Q74228490"},"type":"wikibase-entityid"}},"type":"statement","qualifiers":{"P137":[{"snaktype":"value","property":"P137","hash":"3d8cd4c1ab91d3d9a14900210faaebf1a98b947b","datavalue":{"value":{"entity-type":"item","numeric-id":103204,"id":"Q103204"},"type":"wikibase-entityid"}}],"P973":[{"snaktype":"value","property":"P973","hash":"fcc51decd7ff96de2a62a3c7f7524742f1b0cedf","datavalue":{"value":"https://www.flickr.com/photos/rbmoura/28952265972/","type":"string"}}]},"qualifiers-order":["P137","P973"],"id":"M51090819$6DA0E0FB-4696-4F77-BDEE-99842B7F045D","rank":"normal"}],"P170":[{"mainsnak":{"snaktype":"somevalue","property":"P170","hash":"d3550e860f988c6675fff913440993f58f5c40c5"},"type":"statement","qualifiers":{"P3267":[{"snaktype":"value","property":"P3267","hash":"45b863bc84b3400709e270af279d8749e33d1c9c","datavalue":{"value":"55696846@N04","type":"string"}}],"P2093":[{"snaktype":"value","property":"P2093","hash":"5fa6f57559317fc2aee2cbec010e06339c680259","datavalue":{"value":"Rafael
        B. de Moura","type":"string"}}],"P2699":[{"snaktype":"value","property":"P2699","hash":"841fc6dc7471c11b5230c1b5246e84cf55a7aad1","datavalue":{"value":"https://www.flickr.com/people/55696846@N04","type":"string"}}]},"qualifiers-order":["P3267","P2093","P2699"],"id":"M51090819$E221ED98-B0B2-4F1A-AA49-C141DE8F821E","rank":"normal"}]}}},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=28952265972
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"fail\">\n\t<err
        code=\"1\" msg=\"Photo &quot;28952265972&quot; not found (invalid ID)\" />\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6687ffd9-3dda82f2438ca6b23a9700c9;Root=1-6687ffd9-052ca2df7a38e8997109a175
      x-server:
      - serverless-proxy-10.78.10.89
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
  response:
    body:
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
- request:
    body: action=wbeditentity&site=commonswiki&title=File%3AOlonad%C3%A9+-+A+Cena+Negra+Brasileira+%28Teatro+Cacilda+Becker%29+%287%29.jpg&data=%7B%22claims%22%3A+%5B%7B%22mainsnak%22%3A+%7B%22datavalue%22%3A+%7B%22value%22%3A+%2228952265972%22%2C+%22type%22%3A+%22string%22%7D%2C+%22property%22%3A+%22P12120%22%2C+%22snaktype%22%3A+%22value%22%7D%2C+%22type%22%3A+%22statement%22%7D%5D%7D&summary=Update+the+%5B%5BCommons%3AStructured+data%7Cstructured+data%5D%5D+based+on+metadata+from+Flickr&tags=BotSDC&maxlag=2&bot=1&format=json&token=%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    body:
      string: '{"entity":{"type":"mediainfo","id":"M51090819","labels":{},"descriptions":{},"statements":{"P571":[{"mainsnak":{"snaktype":"value","property":"P571","hash":"c4430ecd9501996f6a9caffa02dc63b0c5887edc","datavalue":{"value":{"time":"+2016-08-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"}},"type":"statement","id":"M51090819$FE14B23B-999C-447C-9D6E-C79BCC2935EB","rank":"normal"}],"P4082":[{"mainsnak":{"snaktype":"value","p[...]
[...]
