interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://query.wikidata.org/sparql?format=json&query=PREFIX+wdt%3A+%3Chttp%3A%2F%2Fwww.wikidata.org%2Fprop%2Fdirect%2F%3E%0A%0A++++++++SELECT+%3Fitem+WHERE+%7B%0A++++++++++%7B+%3Fitem+wdt%3AP3267+%2230884892%40N08%22+.+%7D%0A++++++++++UNION%0A++++++++++%7B+%3Fitem+wdt%3AP3267+%22U.S.+Coast+Guard%22+.+%7D%0A++++++++%7D
  response:
    content: "{\n  \"head\" : {\n    \"vars\" : [ \"item\" ]\n  },\n  \"results\"
      : {\n    \"bindings\" : [ ]\n  }\n}"
    headers:
      content-type:
      - application/sparql-results+json;charset=utf-8
      x-client-ip:
      - 80.42.123.5
      x-first-solution-millis:
      - '3'
    status_code: 200
version: 1
