interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=43686615590
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"43686615590\" secret=\"6f57572d29\" server=\"1921\" farm=\"2\" dateuploaded=\"1540242566\"
        isfavorite=\"0\" license=\"11\" safety_level=\"0\" rotation=\"0\" originalsecret=\"9de8a87f1a\"
        originalformat=\"jpg\" views=\"7558\" media=\"photo\">\n\t<owner nsid=\"150376465@N04\"
        username=\"Andahir\" realname=\"Garip\" location=\"Wien, \xD6sterreich\" iconserver=\"4917\"
        iconfarm=\"5\" path_alias=\"andahir\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Joshi
        35mm 1.4</title>\n\t<description>XF35mmF1.4</description>\n\t<visibility ispublic=\"1\"
        isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1540242566\" taken=\"2018-10-13
        11:27:27\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1750293829\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>11</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"150344326-43686615590-74563\"
        author=\"150376465@N04\" authorname=\"Andahir\" raw=\"Joshi\" machine_tag=\"0\">joshi</tag>\n\t\t<tag
        id=\"150344326-43686615590-1344\" author=\"150376465@N04\" authorname=\"Andahir\"
        raw=\"Cat\" machine_tag=\"0\">cat</tag>\n\t\t<tag id=\"150344326-43686615590-359\"
        author=\"150376465@N04\" authorname=\"Andahir\" raw=\"Pet\" machine_tag=\"0\">pet</tag>\n\t\t<tag
        id=\"150344326-43686615590-53241\" author=\"150376465@N04\" [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=43686615590
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/1921/43686615590_6f57572d29_s.jpg\"
        url=\"https://www.flickr.com/photos/andahir/43686615590/sizes/sq/\" media=\"photo\"
        />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/1921/43686615590_6f57572d29_q.jpg\"
        url=\"https://www.flickr.com/photos/andahir/43686615590/sizes/q/\" media=\"photo\"
        />\n\t<size label=\"Thumbnail\" wid[...]
