interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=5240741057
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"5240741057\" secret=\"09a033b71f\" server=\"5161\" farm=\"6\" dateuploaded=\"1291733411\"
      isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"8cdce283d1\"
      originalformat=\"jpg\" views=\"25075\" media=\"photo\">\n\t<owner nsid=\"31575009@N05\"
      username=\"The National Archives UK\" realname=\"\" location=\"\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"nationalarchives\">\n\t\t<gift gift_eligible=\"\"
      new_flow=\"1\" />\n\t</owner>\n\t<title>Christmas underground</title>\n\t<description>&lt;b&gt;Description&lt;/b&gt;:
      Miners singing Christmas carols underground at Bersham Colliery, Rhostyllen,
      Wrexham\n\n&lt;b&gt;Date:&lt;/b&gt; 1950\n\n&lt;b&gt;Our Catalogue Reference:&lt;/b&gt;
      &lt;a href=&quot;http://www.nationalarchives.gov.uk/catalogue/displaycataloguedetails.asp?CATLN=7&amp;amp;CATID=-6176559&amp;amp;SearchInit=4&amp;amp;SearchType=6&amp;amp;CATREF=coal+80/97/30&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;COAL 80/97/30&lt;/a&gt;\n\nThis image
      is from the collections of The National Archives. Feel free to share it within
      the spirit of the Commons.\n\nFor high quality reproductions of any item from
      our collection please contact our &lt;a href=&quot;http://www.nationalarchives.gov.uk/imagelibrary&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;image library&lt;/a&gt;.</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1291733411\"
      taken=\"1950-01-01 00:00:00\" takengranularity=\"6\" takenunknown=\"0\" lastupdate=\"1482082473\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>7</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"31569669-5240741057-30835915\" author=\"31575009@N05\"
      authorname=\"The National Archives UK\" raw=\"The National Archives (UK)\" machine_tag=\"0\">thenationalarchivesuk</tag>\n\t\t<tag
      id=\"31569669-5240741057-28423\" author=\"31575009@N05\" authorname=\"The National
      Archives UK\" raw=\"coal\" machine_tag=\"0\">coal</tag>\n\t\t<tag id=\"31569669-5240741057-1160\"
      author=\"31575009@N05\" authorname=\"The National Archives UK\" raw=\"Wales\"
      machine_tag=\"0\">wa[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=5240741057
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/5161/5240741057_09a033b71f_s.jpg\"
      url=\"https://www.flickr.com/photos/nationalarchives/5240741057/sizes/sq/\"
      media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
      source=\"https://live.staticflickr.com/5161/5240741057_09a033b71f_q.jpg\" url=\"https://www.flickr.com/photos/nationalarchives/5240741057/sizes/q/\"
      media=\"photo\" />\n\t<size label=\"Thumbnail\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
