interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3ATower%20Bridge%20at%20Night.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":6,"title":"File:Tower
      Bridge at Night.jpg","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 92.13.36.200
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=titleblacklist&tbaction=create&tbtitle=File%3ATower%20Bridge%20at%20Night.jpg&format=json
  response:
    content: '{"titleblacklist":{"result":"ok"}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 92.13.36.200
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=opensearch&format=xml&limit=10&search=Tower%20Bridge%20at%20Night&namespace=6
  response:
    content: <?xml version="1.0"?><SearchSuggestion version="2.0" xmlns="http://opensearch.org/searchsuggest2"><Query
      xml:space="preserve">Tower Bridge at Night</Query><Section><Item><Text xml:space="preserve">File:Tower
      Bridge at Night.JPG</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/File:Tower_Bridge_at_Night.JPG</Url><Image
      source="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Tower_Bridge_at_Night.JPG/50px-Tower_Bridge_at_Night.JPG"
      width="50" height="33" /></Item><Item><Text xml:space="preserve">File:Tower
      Bridge at night (32658848243).jpg</Text><Url xml:space="preserve">https://commons.wikimedia.org/wiki/File:Tower_Bridge_at_night_(32658848243).jpg</Url><Image
      source="https://upl[...]
