interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"715d8ac54ea18a8565c27ce9c536ca45652958e7+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=upload&filename=RailwayMuseumClocks.jpg&url=https%3A%2F%2Flive.staticflickr.com%2F65535%2F53248279408_c23cba9eb8_o_d.jpg&text=A+wall+of+railway+pendulum+clocks+at+the+Slovenian+Railway+Museum+in+Ljubljana&format=json&token=715d8ac54ea18a8565c27ce9c536ca45652958e7%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"upload":{"result":"Warning","warnings":{"exists":"RailwayMuseumClocks.jpg","nochange":{"timestamp":"2023-10-10T11:50:11Z"}},"filekey":"1af50sprx58s.xfatvo.829939.","sessionkey":"1af50sprx58s.xfatvo.829939."}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
