interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&format=json&page=File%3ASunset+rainbow+over+Lang%C3%B8ytangen+lighthouse%2C+Norway.jpg&prop=text
  response:
    content: '{"parse":{"title":"File:Sunset rainbow over Lang\u00f8ytangen lighthouse,
      Norway.jpg","pageid":823321,"text":{"*":"<div class=\"mw-content-ltr mw-parser-output\"
      lang=\"en\" dir=\"ltr\"><h2><span class=\"mw-headline\" id=\"Summary\">Summary</span><span
      class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Sunset_rainbow_over_Lang%C3%B8ytangen_lighthouse,_Norway.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<div
      class=\"hproduct commons-file-information-table\">\n<style data-mw-deduplicate=\"TemplateStyles:r773143704\">.mw-parser-output
      table.commons-file-information-table,.mw-parser-output .fileinfotpl-type-information,.mw-parser-output
      .fileinfotpl-type-artwork{border:1px solid #a2a9b1;background-color:#f8f9fa;padding:5px;font-size:95%;border-spacing:2px;box-sizing:border-box;margin:0;width:100%}.mw-parser-output
      table.commons-file-information-table>tbody>tr,.mw-parser-output .fileinfotpl-type-information>tbody>tr,.mw-parser-output
      .fi[...]
