interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=wbgetentities&sites=commonswiki&titles=File%3APrintedLibraryOfCongressSubjectHeadings.jpg&format=json
  response:
    content: '{"entities":{"M138833893":{"pageid":138833893,"ns":6,"title":"File:PrintedLibraryOfCongressSubjectHeadings.jpg","lastrevid":811528914,"modified":"2023-10-13T13:47:22Z","type":"mediainfo","id":"M138833893","labels":{},"descriptions":{},"statements":[]}},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"6ae96135d81b2cca787ef6b84d3cc83f65294a85+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=wbeditentity&site=commonswiki&title=File%3APrintedLibraryOfCongressSubjectHeadings.jpg&data=%7B%22claims%22%3A+%5B%7B%22mainsnak%22%3A+%7B%22snaktype%22%3A+%22value%22%2C+%22property%22%3A+%22P275%22%2C+%22datavalue%22%3A+%7B%22type%22%3A+%22wikibase-entityid%22%2C+%22value%22%3A+%7B%22id%22%3A+%22Q19125117%22%7D%7D%7D%2C+%22type%22%3A+%22statement%22%7D%5D%7D&format=json&token=6ae96135d81b2cca787ef6b84d3cc83f65294a85%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"entity":{"type":"mediainfo","id":"M138833893","labels":{},"descriptions":{},"statements":{"P275":[{"mainsnak":{"snaktype":"value","property":"P275","hash":"82d5b402aa0a79040483a8c9264bd484c6c13f67","datavalue":{"value":{"entity-type":"item","numeric-id":19125117,"id":"Q19125117"},"type":"wikibase-entityid"}},"type":"statement","id":"M138833893$3EDD9F54-EFDF-4D25-A431-F4A03486265D","rank":"normal"}]},"lastrevid":811529103},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=wbgetentities&sites=commonswiki&titles=File%3APrintedLibraryOfCongressSubjectHeadings.jpg&format=json
  response:
    content: '{"entities":{"M138833893":{"pageid":138833893,"ns":6,"title":"File:PrintedLibraryOfCongressSubjectHeadings.jpg","lastrevid":811529103,"modified":"2023-10-13T13:47:49Z","type":"mediainfo","id":"M138833893","labels":{},"descriptions":{},"statements":{"P275":[{"mainsnak":{"snaktype":"value","property":"P275","hash":"82d5b402aa0a79040483a8c9264bd484c6c13f67","datavalue":{"value":{"entity-type":"item","numeric-id":19125117,"id":"Q19125117"},"type":"wikibase-entityid"}},"type":"statement","id":"M138833893$3EDD9F54-EFDF-4D25-A431-F4A03486265D","rank":"normal"}]}}},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
