interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=20428374183
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"20428374183\" secret=\"76c77aaf6b\" server=\"5717\" farm=\"6\" dateuploaded=\"1441076445\"
      isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" originalsecret=\"bfe445fb11\"
      originalformat=\"jpg\" views=\"388\" media=\"photo\">\n\t<owner nsid=\"132051449@N06\"
      username=\"Jeong Vin, Yoon\" realname=\"Jeong Vin Yoon\" location=\"\" iconserver=\"8752\"
      iconfarm=\"9\" path_alias=\"spike_yun\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Hapjeong</title>\n\t<description
      />\n\t<visibility ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates
      posted=\"1441076445\" taken=\"2015-08-31 20:00:45\" takengranularity=\"0\" takenunknown=\"1\"
      lastupdate=\"1449931285\" />\n\t<editability cancomment=\"0\" canaddmeta=\"0\"
      />\n\t<publiceditability cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\"
      canblog=\"0\" canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes
      />\n\t<people haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"132006127-20428374183-85667990\"
      author=\"132051449@N06\" authorname=\"Jeong Vin, Yoon\" raw=\"vscocam\" machine_tag=\"0\">vscocam</tag>\n\t\t<tag
      id=\"132006127-20428374183-52531\" author=\"132051449@N06\" authorname=\"Jeong
      Vin, Yoon\" raw=\"ricohgr\" machine_tag=\"0\">ricohgr</tag>\n\t\t<tag id=\"132006127-20428374183-15050\"
      author=\"132051449@N06\" authorname=\"Jeong Vin, Yoon\" raw=\"seoul\" machine_tag=\"0\">seoul</tag>\n\t\t<tag
      id=\"132006127-20428374183-7683\" author=\"132051449@N06\" authorname=\"Jeong
      Vin, Yoon\" raw=\"streetphotography\" machine_tag=\"0\">streetphotography</tag>\n\t\t<tag
      id=\"132006127-20428374183-61667948\" author=\"132051449@N06\" authorname=\"Jeong
      Vin, Yoon\" raw=\"streettogs\" machine_tag=\"0\">streettogs</tag>\n\t\t<tag
      id=\"132006127-20428374183-2339\" author=\"132051449@N06\" authorname=\"Jeong
      Vin, Yoon\" raw=\"black &amp; white\" machine_tag=\"0\">blackwhite</tag>\n\t</tags>\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/spike_yun/20428374183/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=20428374183
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/5717/20428374183_76c77aaf6b_s.jpg\"
      url=\"https://www.flickr.com/photos/spike_yun/20428374183/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/5717/20428374183_76c77aaf6b_q.jpg\"
      url=\"https://www.flickr.com/photos/spike_yun/20428374183/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width=\"1[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
