interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.photosets.getPhotos&page=1&per_page=100&photoset_id=72177720311959907&user_id=199246608%40N02
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72177720311959907\" primary=\"53253175319\" owner=\"199246608@N02\" ownername=\"cefarrjf87\"
      page=\"1\" per_page=\"100\" perpage=\"100\" pages=\"1\" title=\"my first album\"
      total=\"15\">\n\t<photo id=\"53253175319\" secret=\"b4a4297abf\" server=\"65535\"
      farm=\"66\" title=\"IMG_5440\" isprimary=\"1\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"4\" safety_level=\"0\" dateupload=\"1697116365\" datetaken=\"2023-10-11
      11:32:02\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"cefarrjf87\"
      realname=\"Alex Chan\" count_views=\"18\" count_comments=\"0\" tags=\"\" originalsecret=\"2f310021b6\"
      originalformat=\"jpg\" latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\"
      media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf_t.jpg\"
      height_t=\"75\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf_m.jpg\"
      height_s=\"180\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf.jpg\"
      height_m=\"375\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53253175319_2f310021b6_o.jpg\"
      height_o=\"3024\" width_o=\"4032\" url_q=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53253175319_b4a4297abf_b.jpg\"
      height_l=\"768\" width_l=\"1024\" pathalias=\"\">\n\t\t<description />\n\t</photo>\n\t<photo
      id=\"53297882430\" secret=\"ee54e8012e\" server=\"65535\" farm=\"66\" title=\"IMG_5612\"
      isprimary=\"0\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"4\" safety_level=\"0\"
      dateupload=\"1698675402\" datetaken=\"2023-10-27 14:04:07\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"cefarrjf87\" realname=\"Alex Chan\" count_views=\"13\"
      count_comments=\"0\" tags=\"\" originalsecret=\"bd3615592f\" originalformat=\"jpg\"
 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
