interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3AP60506151.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"pages":{"-1":{"ns":6,"title":"File:P60506151.jpg","missing":"","contentmodel":"wikitext","pagelanguage":"en","pagelanguagehtmlcode":"en","pagelanguagedir":"ltr"}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=titleblacklist&tbaction=create&tbtitle=File%3AP60506151.jpg&format=json
  response:
    content: '{"titleblacklist":{"result":"blacklisted","reason":"<p>The file name
      you were trying to upload has been [[c:MediaWiki:Titleblacklist|blacklisted]]
      because it is very common, uninformative, or spelled in ALLCAPS. Please go back
      and choose a better file name.  When [[c:Commons:Upload|uploading files to Wikimedia
      Commons]], please use a file name that describes the content of the image or
      media file you''re uploading and is sufficiently distinctive that no-one else
      is likely to pick the same name by accident.</p>\n\n<p><b>Examples of good file
      names:</b></p>\n<ul>\n<li>Nodnol skyline from Nodnol City Hall - Aug 2022.jpg</li>\n<li>1875
      Meeting of Settlers at Falconer Bay, New Nodland.jpg</li>\n<li>Pseudohedron
      with no vertex visible from center.png</li>\n</ul>\n\n<p><b>Examples of bad
      file names:</b></p>\n<ul>\n<li>Image01.png</li>\n<li>Joe.jpg</li>\n<li>DSC00001.JPG</li>\n<li>Foo.svg.png</li>\n<li>30996951316264l.jpg</li>\n<li>PSEUDOHEDRON
      WITH NO VERTEX VISIBLE FROM CENTER.png</li>\n</ul>\n\n<p>For more information,
      please see [[c:Commons:First steps/Upload form|Commons:First steps/Upload form]].
      If you have a good reason for uploading a file with this name, or if you receive
      this message when attempting to upload a new version of an existing file, please
      let us know at [[c:Commons:Administrators'' noticeboard|Commons:Administrators''
      noticeboard]] or directly at [[c:MediaWiki talk:Titleblacklist|MediaWiki talk:Titleblacklist]].  Be
      sure to specify the exact name of the file you are trying to upload. Thank you.</p>","message":"titleblacklist-custom-filename","line":"
      File:P[\\dA-F][\\d\\s]+\\.JPG  &lt;reupload|errmsg=titleblacklist-custom-filename&gt;  #
      Olympus, Kodak"}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=opensearch&format=xml&limit=10&search=P60506151&namespace=6
  response:
    content: <?xml version="1.0"?><SearchSuggestion version="2.0" xmlns="http://opensearch.org/searchsuggest2"><Query
      xml:space="preserve">P60506151</Query><Section /></SearchSuggestion>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 92.13.36.200
      x-opensearch-type:
      - prefix
      x-search-id:
      - disyxyag1yh66hjpvvr0fewrv
    status_code: 200
version: 1
