interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&format=json&page=File%3AVaranasi+3.jpg&prop=text
  response:
    content: '{"parse":{"title":"File:Varanasi 3.jpg","pageid":126402,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Varanasi_3.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<ul><li><a
      href=\"/wiki/Varanasi\" title=\"Varanasi\">Varanasi</a> in <a href=\"/wiki/India\"
      title=\"India\">India</a></li>\n<li><a href=\"https://fr.wikipedia.org/wiki/Varanasi\"
      class=\"extiw\" title=\"fr:Varanasi\">Varanasi</a> en <a href=\"https://fr.wikipedia.org/wiki/Inde\"
      class=\"extiw\" title=\"fr:Inde\">Inde</a></li></ul>\n<h2><span class=\"mw-headline\"
      id=\"Source\">Source</span><span class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a
  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=8784236
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"8784236\" secret=\"ccb440d1dd\" server=\"6\" farm=\"1\" dateuploaded=\"1112950719\"
      isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" views=\"150\"
      media=\"photo\">\n\t<owner nsid=\"98252074@N00\" username=\"TimBrighton\" realname=\"\"
      location=\"Numerous Complaints Studio, Sussex England\" iconserver=\"3\" iconfarm=\"1\"
      path_alias=\"timbrighton\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Varanasi
      (27)</title>\n\t<description />\n\t<visibility ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" />\n\t<dates posted=\"1112950719\" taken=\"2005-03-25 01:40:20\"
      takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1195653555\" />\n\t<editability
      cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\"
      canaddmeta=\"0\" />\n\t<usage candownload=\"0\" canblog=\"0\" canprint=\"0\"
      canshare=\"1\" />\n\t<comments>1</comments>\n\t<notes />\n\t<people haspeople=\"0\"
      />\n\t<tags>\n\t\t<tag id=\"281380-8784236-17102\" author=\"98252074@N00\" authorname=\"TimBrighton\"
      raw=\"varanasi\" machine_tag=\"0\">varanasi</tag>\n\t\t<tag id=\"281380-8784236-137636\"
      author=\"98252074@N00\" authorname=\"TimBrighton\" raw=\"ghats\" machine_tag=\"0\">ghats</tag>\n\t\t<tag
      id=\"281380-8784236-126915\" author=\"98252074@N00\" authorname=\"TimBrighton\"
      raw=\"ganges\" machine_tag=\"0\">ganges</tag>\n\t\t<tag id=\"281380-8784236-393\"
      author=\"98252074@N00\" authorname=\"TimBrighton\" raw=\"india\" machine_tag=\"0\">india</tag>\n\t\t<tag
      id=\"281380-8784236-1702623\" author=\"98252074@N00\" authorname=\"TimBrighton\"
      raw=\"TimBrighton\" machine_tag=\"0\">timbrighton</tag>\n\t</tags>\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/timbrighton/8784236/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=8784236
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"0\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/6/8784236_ccb440d1dd_s.jpg\"
      url=\"https://www.flickr.com/photos/timbrighton/8784236/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/6/8784236_ccb440d1dd_q.jpg\"
      url=\"https://www.flickr.com/photos/timbrighton/8784236/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width=\"100\" height=\"75\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
