interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"db4e4aee7e120ec3dfb13966a730172b6529275d+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=wbsetlabel&site=commonswiki&title=File%3AGwrFireBuckets.jpg&language=en&value=A+row+of+red+fire+buckets+on+a+heritage+railway+in+Gloucestershire&format=json&token=db4e4aee7e120ec3dfb13966a730172b6529275d%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"entity":{"labels":{"en":{"language":"en","value":"A row of red fire
      buckets on a heritage railway in Gloucestershire"}},"id":"M138765501","type":"mediainfo","lastrevid":811496641},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
