interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fdoesnotexist
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"80173751@N00\">\n\t<username>doesnotexist</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=80173751%40N00
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"80173751@N00\" nsid=\"80173751@N00\" ispro=\"0\" is_deleted=\"0\" iconserver=\"48\"
      iconfarm=\"1\" path_alias=\"doesnotexist\" has_stats=\"0\" has_adfree=\"0\"
      has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>doesnotexist</username>\n\t<location
      />\n\t<description />\n\t<photosurl>https://www.flickr.com/photos/doesnotexist/</photosurl>\n\t<profileurl>https://www.flickr.com/people/doesnotexist/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=266047</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2006-06-17
      01:39:52</firstdatetaken>\n\t\t<firstdate>1151042652</firstdate>\n\t\t<count>45</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photosets.getPhotos&page=1&per_page=100&photoset_id=12345678901234567890&user_id=80173751%40N00
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"fail\">\n\t<err
      code=\"1\" msg=\"Photoset not found\" />\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
