interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&format=json&page=File%3AStewart-White+line+in+the+road+spraying+machine.jpg&prop=text
  response:
    content: '{"parse":{"title":"File:Stewart-White line in the road spraying machine.jpg","pageid":36168,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Stewart-White_line_in_the_road_spraying_machine.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<div
      class=\"hproduct commons-file-information-table\">\n<style data-mw-deduplicate=\"TemplateStyles:r773143704\">.mw-parser-output
      table.commons-file-information-table,.mw-parser-output .fileinfotpl-type-information,.mw-parser-output
      .fileinfotpl-type-artwork{border:1px solid #a2a9b1;background-color:#f8f9fa;padding:5px;font-size:95%;border-spacing:2px;box-sizing:border-box;margin:0;width:100%}.mw-parser-output
      table.commons-file-information-table>tbody>tr,.mw-parser-output .fileinfotpl-type-information>tbody>tr,.mw-parser-output
      .fi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=253009
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"fail\">\n\t<err
      code=\"1\" msg=\"Photo &quot;253009&quot; not found (invalid ID)\" />\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
