interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=40286210%40N00
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"40286210@N00\" nsid=\"40286210@N00\" ispro=\"0\" is_deleted=\"0\" iconserver=\"35\"
        iconfarm=\"1\" path_alias=\"bryceedwards\" has_stats=\"0\" has_adfree=\"0\"
        has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Bryce
        Edwards</username>\n\t<realname>Bryce Edwards</realname>\n\t<location>Dunedin,
        New Zealand</location>\n\t<timezone label=\"Auckland, Wellington\" offset=\"+12:00\"
        timezone_id=\"Pacific/Auckland\" timezone=\"73\" />\n\t<description>I am a
        lecturer at Otago University, Dunedin, New Zealand - teaching in Political
        Studies\n\nMy political blog is at: &lt;a href=&quot;http://www.liberation.org.nz&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;www.liberation.org.nz&lt;/a&gt;</description>\n\t<photosurl>https://www.flickr.com/photos/bryceedwards/</photosurl>\n\t<profileurl>https://www.flickr.com/people/bryceedwards/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/bryceedwards/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2001-05-06
        03:26:02</firstdatetaken>\n\t\t<firstdate>1132662164</firstdate>\n\t\t<count>12786</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6650610d-1019c68d081ae36e3d67ed3f;Root=1-6650610d-5820b2af1eecb5b41d8a62f8
      x-server:
      - serverless-proxy-10.78.41.36
    status:
      code: 200
      message: OK
version: 1
