interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"35af471cbc74e1b2ca364052751f7c7e65253dbd+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 80.42.123.5
    status_code: 200
- request:
    body: action=upload&filename=RailwayMuseumClocks.jpg&url=https%3A%2F%2Flive.staticflickr.com%2F65535%2F53248279408_c23cba9eb8_o_d.jpg&token=35af471cbc74e1b2ca364052751f7c7e65253dbd%2B%5C&text=%3D%3D%7B%7Bint%3Alicense-header%7D%7D%3D%3D%0A++++%7B%7Bself%7Ccc-by-2.0%7D%7D&format=json
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"upload":{"result":"Warning","warnings":{"exists":"RailwayMuseumClocks.jpg","nochange":{"timestamp":"2023-10-10T11:50:11Z"}},"filekey":"1aevhej7mq3g.86z4fs.829939.","sessionkey":"1aevhej7mq3g.86z4fs.829939."}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 80.42.123.5
    status_code: 200
version: 1
