interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=127744844%40N06
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"127744844@N06\" nsid=\"127744844@N06\" ispro=\"1\" is_deleted=\"0\" iconserver=\"65535\"
        iconfarm=\"66\" path_alias=\"iip-photo-archive\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>US
        Department of State</username>\n\t<realname>GPA Photo Archive</realname>\n\t<location>Washington,
        DC, USA</location>\n\t<timezone label=\"Eastern Time (US &amp; Canada)\" offset=\"-05:00\"
        timezone_id=\"EST5EDT\" timezone=\"14\" />\n\t<description>The GPA Photo Archive
        is maintained by the Bureau of Global Public Affairs of the United States
        Department of State, and comprises public-access photos intended for use by
        U.S. Missions overseas and other State Department entities.\n\nPhotos may
        be used by staff of the Bureau of Global Public Affairs (GPA), U.S. embassies,
        consulates, American Spaces, and other U.S. mission offices, and distributed
        as warranted for use by non-USG organizations sanctioned by the embassy. \n\nOnly
        non-commercial use is permitted. Credit line should read:  GPA Photo Archive
        / photographer&#039;s name / original source. Example: GPA Photo Archive /
        Carol M. Highsmith / Library of Congress</description>\n\t<photosurl>https://www.flickr.com/photos/iip-photo-archive/</photosurl>\n\t<profileurl>https://www.flickr.com/people/iip-photo-archive/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/iip-photo-archive/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1825-01-01
        00:00:00</firstdatetaken>\n\t\t<firstdate>1410574105</firstdate>\n\t\t<count>8789</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-667440b1-6487f9e4193b32b548d3dcfb;Root=1-667440b1-314077432b5332e755a7410b
      x-server:
      - serverless-proxy-10.78.45.237
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.wikidata.org/w/rest.php/wikibase/v0/entities/items/Q99938311
  response:
    body:
      string: '{"type":"item","labels":{"en":"Andrea Hanks","fr":"Andrea Hanks","it":"Andrea
        Hanks","de":"Andrea Hanks","nl":"Andrea Hanks","sq":"Andrea Hanks","ca":"Andrea
        Hanks","ast":"Andrea Hanks"},"descriptions":{"nl":"Amerikaans fotografe","es":"fot\u00f3grafa
        estadounidense","ast":"fot\u00f3grafa estauxunidense","ca":"fot\u00f2grafa
        estatunidenca","gl":"fot\u00f3grafa estadounidense","fr":"photographe am\u00e9ricaine","it":"fotografa
        statunitense","pt":"fot\u00f3grafa norte-americana","en":"American photographer","eu":"argazkilari
        estatubatuarra","dag":"United States of America artist \u014bun ny\u025b pa\u0263a","ro":"fotograf\u0103
        american\u0103","ar":"\u0645\u0635\u0648\u0631\u0629 \u0623\u0645\u0631\u064a\u0643\u064a\u0629","da":"amerikansk
        fotograf","cs":"americk\u00e1 fotografka","sv":"amerikansk fotograf","sq":"fotografe
        amerikane","eo":"usona fotisto","nn":"amerikansk fotograf","fa":"\u0639\u06a9\u0627\u0633
        \u0622\u0645\u0631\u06cc\u06a9\u0627\u06cc\u06cc","he":"\u05e6\u05dc\u05de\u05ea
        \u05d0\u05de\u05e8\u05d9\u05e7\u05d0\u05d9\u05ea","uk":"\u0430\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u0441\u044c\u043a\u0430
        \u0444\u043e\u0442\u043e\u0433\u0440\u0430\u0444\u043a\u0430","bn":"\u09ae\u09be\u09b0\u09cd\u0995\u09bf\u09a8
        \u0986\u09b2\u09cb\u0995\u099a\u09bf\u09a4\u09cd\u09b0 \u09b6\u09bf\u09b2\u09cd\u09aa\u09c0","et":"Ameerika
        \u00dchendriikide fotograaf"},"aliases":{},"statements":{"P31":[{"id":"Q99938311$BE783EF5-4EF1-4B46-AC35-FDFDC892E409","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P31","data-type":"wikibase-item"},"value":{"type":"value","content":"Q5"}}],"P21":[{"id":"Q99938311$28651273-4808-4036-A6F6-9449BDF6528D","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P21","data-type":"wikibase-item"},"value":{"type":"value","content":"Q6581072"}}],"P106":[{"id":"Q99938311$35CB93C3-0900-40F2-8AC3-A4D49FFB5AC5","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P106","data-type":"wikibase-item"},"value":{"type":"value","content":"Q33231"}}],"P27":[{"id":"Q99938311$5DC44EC2-4BA0-46DC-95B0-BA2B99803879","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P27","data-type":"wikibase-item"},"value":{"type":"value","content":"Q30"}}],"P6634":[{"id":"Q99938311$fb01ca12-4e84-0936-b50c-9a261840ca34","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P6634","data-type":"external-id"},"value":{"type":"value","content":"andrea-hanks-8a52a623"}}],"P2002":[{"id":"Q99938311$55225dc9-4bdc-d0dc-48ad-10534a00030e","rank":"normal","qualifiers":[{"property":{"id":"P6552","data-type":"external-id"},"value":{"type":"value","content":"75449279"}},{"property":{"id":"P580","data-type":"time"},"value":{"type":"value","content":{"time":"+2009-09-00T00:00:00Z","precision":10,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"}}}],"references":[],"property":{"id":"P2002","data-type":"external-id"},"value":{"type":"value","content":"andreahanks"}}],"P2003":[{"id":"Q99938311$6b98d32f-435e-1c47-d270-14bfc97c4f26","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P2003","data-type":"external-id"},"value":{"type":"value","content":"ahanksphoto"}}],"P856":[{"id":"Q99938311$d6c5ee2f-4c70-e865-377a-3d0a6478d7f3","rank":"normal","qualifiers":[{"property":{"id":"P407","data-type":"wikibase-item"},"value":{"type":"value","content":"Q1860"}}],"references":[],"property":{"id":"P856","data-type":"url"},"value":{"type":"value","content":"http://www.andreahanksphotography.com/"}}],"P7763":[{"id":"Q99938311$a7182f13-47b6-4224-bba9-c193d8afdfc8","rank":"normal","qualifiers":[{"property":{"id":"P1001","data-type":"wikibase-item"},"value":{"type":"value","content":"Q87048619"}}],"references":[{"hash":"b155fbf14ac7e46f64b64a7509b22e57be3d3243","parts":[{"property":{"id":"P813","data-type":"time"},"value":{"type":"value","content":{"time":"+2021-02-07T00:00:00Z","precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"}}},{"property":{"id":"P887","data-type":"wikibase-item"},"value":{"type":"value","content":"Q87015571"}},{"property":{"id":"P3452","data-type":"wikibase-item"},"value":{"type":"value","content":"Q918"}}]}],"property":{"id":"P7763","data-type":"wikibase-item"},"value":{"type":"value","content":"Q73555012"}}]},"sitelinks":{},"id":"Q99938311"}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"2146118604"
      last-modified:
      - Mon, 06 May 2024 00:13:59 GMT
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
version: 1
