interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=wbgetentities&sites=commonswiki&titles=File%3AKatscha%20February%202017%2006.jpg&format=json
  response:
    body:
      string: '{"entities":{"M56717420":{"pageid":56717420,"ns":6,"title":"File:Katscha
        February 2017 06.jpg","lastrevid":881356529,"modified":"2024-06-04T21:27:14Z","type":"mediainfo","id":"M56717420","labels":{},"descriptions":{},"statements":{"P6731":[{"mainsnak":{"snaktype":"value","property":"P6731","hash":"00effd845d313cc188e25302a8712c2d48647171","datavalue":{"value":{"entity-type":"item","numeric-id":63348049,"id":"Q63348049"},"type":"wikibase-entityid"}},"type":"statement","id":"M56717420$C0EBB2E9-6110-4705-8483-3ED64C74D61C","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P6731","hash":"caf86f67082da0e2d10079a79bedf327335b0459","datavalue":{"value":{"entity-type":"item","numeric-id":63348069,"id":"Q63348069"},"type":"wikibase-entityid"}},"type":"statement","id":"M56717420$B25C0BE9-4C69-4B1C-BC3C-08B4C0B3181B","rank":"normal"}],"P275":[{"mainsnak":{"snaktype":"value","property":"P275","hash":"ec6e754c5042e13b53376139e505ebd6708745a4","datavalue":{"value":{"entity-type":"item","numeric-id":18199165,"id":"Q18199165"},"type":"wikibase-entityid"}},"type":"statement","id":"M56717420$4F36B2E7-3B4E-4AE0-A623-A199BDCD37F3","rank":"normal"}],"P6216":[{"mainsnak":{"snaktype":"value","property":"P6216","hash":"5570347fdc76d2a80732f51ea10ee4b144a084e0","datavalue":{"value":{"entity-type":"item","numeric-id":50423863,"id":"Q50423863"},"type":"wikibase-entityid"}},"type":"statement","id":"M56717420$4E9B1B2B-AD7D-4126-A4CC-6AAA0CCDD4DD","rank":"normal"}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","hash":"633a8fa06f767338cb76ad90e453838cb6f1d529","datavalue":{"value":{"time":"+2017-02-11T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"}},"type":"statement","id":"M56717420$79667C3C-1A8B-4B4E-98F7-8F8A52195D19","rank":"normal"}],"P4082":[{"mainsnak":{"snaktype":"value","property":"P4082","hash":"e63dcd859a4f408c1ed4645f00dd402d4a0b496c","datavalue":{"value":{"entity-type":"item","numeric-id":15143841,"id":"Q15143841"},"type":"wikibase-entityid"}},"type":"statement","id":"M56717420$E0ADE5D2-6EDB-43D3-82B0-F1A3E62CF03F","rank":"normal"}],"P7482":[{"mainsnak":{"snaktype":"value","property":"P7482","hash":"83568a288a8b8b4714a68e7239d8406833762864","datavalue":{"value":{"entity-type":"item","numeric-id":66458942,"id":"Q66458942"},"type":"wikibase-entityid"}},"type":"statement","id":"M56717420$F183B609-988D-402C-ABD1-64C4CC8856A6","rank":"normal"}],"P170":[{"mainsnak":{"snaktype":"somevalue","property":"P170","hash":"d3550e860f988c6675fff913440993f58f5c40c5"},"type":"statement","qualifiers":{"P2093":[{"snaktype":"value","property":"P2093","hash":"4f66b7f1264fbfe4b0e461077bf598a68d642270","datavalue":{"value":"ArildV","type":"string"}}],"P2699":[{"snaktype":"value","property":"P2699","hash":"07a8941ee68ffa116538cb39047334c3fa273c21","datavalue":{"value":"https://commons.wikimedia.org/wiki/user:ArildV","type":"string"}}],"P3831":[{"snaktype":"value","property":"P3831","hash":"c5e04952fd00011abf931be1b701f93d9e6fa5d7","datavalue":{"value":{"entity-type":"item","numeric-id":33231,"id":"Q33231"},"type":"wikibase-entityid"}}],"P4174":[{"snaktype":"value","property":"P4174","hash":"cf0dc53f564672c58c8f5469e0af0ba0ac64be13","datavalue":{"value":"ArildV","type":"string"}}]},"qualifiers-order":["P2093","P2699","P3831","P4174"],"id":"M56717420$85121FC7-9E4D-45A9-B65C-3D8EB38F732F","rank":"normal"}],"P9149":[{"mainsnak":{"snaktype":"value","property":"P9149","hash":"96ffeae24cd2636e57713c184fddc03dcff527fc","datavalue":{"value":{"latitude":58.588979,"longitude":16.179181,"altitude":null,"precision":1.0e-6,"globe":"http://www.wikidata.org/entity/Q2"},"type":"globecoordinate"}},"type":"statement","id":"M56717420$F5B57E9B-E5CF-4C2E-B9B7-7F7119A9A3D2","rank":"normal"}],"P6757":[{"mainsnak":{"snaktype":"value","property":"P6757","hash":"fc82c85141854f8cd3057d109278593ddab8b288","datavalue":{"value":{"amount":"+10","unit":"http://www.wikidata.org/entity/Q11574"},"type":"quantity"}},"type":"statement","id":"M56717420$875163FE-728D-45DF-B3F1-400382339E0B","rank":"normal"}],"P6790":[{"mainsnak":{"snaktype":"value","property":"P6790","hash":"8a4455665487de2af49f45eb1b75e157bcb959c3","datavalue":{"value":{"amount":"+8","unit":"1"},"type":"quantity"}},"type":"statement","id":"M56717420$CCFDAA77-14E2-42ED-8B17-DD41A9D28B29","rank":"normal"}],"P2151":[{"mainsnak":{"snaktype":"value","property":"P2151","hash":"e682c8fff338c3adf77624acbad5b389bcc888b2","datavalue":{"value":{"amount":"+50","unit":"http://www.wikidata.org/entity/Q174789"},"type":"quantity"}},"type":"statement","id":"M56717420$9A9DD056-20EC-4BB4-BF85-C34F714F41A3","rank":"normal"}],"P6789":[{"mainsnak":{"snaktype":"value","property":"P6789","hash":"1c94f4d4b36f41a354d2396ee9a6e8bbceadbfb5","datavalue":{"value":{"amount":"+100","unit":"1"},"type":"quantity"}},"type":"statement","id":"M56717420$9E3B430C-B54D-4997-AD57-169C1DB8540D","rank":"normal"}],"P1163":[{"mainsnak":{"snaktype":"value","property":"P1163","hash":"723d30b878d4a8deb968b0db429888e5353661a2","datavalue":{"value":"image/jpeg","type":"string"}},"type":"statement","id":"M56717420$49822AEF-5CCB-4779-8F50-44049597F92F","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"78817782cf2abc9d185934ba3b526591e12840f2","datavalue":{"value":{"entity-type":"item","numeric-id":125191,"id":"Q125191"},"type":"wikibase-entityid"}},"type":"statement","id":"M56717420$EDCEE9DA-25A7-411F-905A-2AE544C651EA","rank":"normal"}]}}},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3AKatscha%20February%202017%2006.jpg&prop=text&format=json
  response:
    body:
      string: '{"parse":{"title":"File:Katscha February 2017 06.jpg","pageid":56717420,"text":{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><div class=\"mw-heading
        mw-heading2\"><h2 id=\"Summary\">Summary</h2><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Katscha_February_2017_06.jpg&amp;action=edit&amp;section=1\"
        title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></div>\n<div
        class=\"notheme hproduct commons-file-information-table\">\n<table class=\"fileinfotpl-type-information
        vevent mw-content-ltr\" style=\"direction: ltr;\">\n\n<tbody><tr>\n<td id=\"fileinfotpl_desc\"
        class=\"fileinfo-paramfield\" lang=\"en\">Description<span class=\"summary
        fn\" style=\"display:none\">Katscha February 2017 06.jpg</span></td>\n<td
        class=\"description\">\n<div class=\"description mw-content-ltr en\" dir=\"ltr\"
        lang=\"en\"><span class=\"language en\" title=\"English\"><b>English&#58;
        </b></span> Residential building \u201cKatscha\u201c in Norrk\u00f6ping, Sweden.
        Built 2015. Architects:  Ingrid Reppen and <a href=\"https://en.wikipedia.org/wiki/Kai_Wartiainen\"
        class=\"extiw\" title=\"en:Kai Wartiainen\">Kai Wartiainen</a>. <small>wrong
        exif-information. 12mm and F/11</small></div>\n<div class=\"description mw-content-ltr
        es\" dir=\"ltr\" lang=\"es\"><span class=\"language es\" title=\"Spanish\"><b>Espa\u00f1ol&#58;
        </b></span> Edificio residencial \"Katscha\", construido en 2015 en <a href=\"https://es.wikipedia.org/wiki/Norrk%C3%B6ping\"
        class=\"extiw\" title=\"es:Norrk\u00f6ping\">Norrk\u00f6ping</a>, Suecia.</div>\n<div
        class=\"description mw-content-ltr uk\" dir=\"ltr\" lang=\"[...]
