interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=25868667441
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"25868667441\" secret=\"55b0c0138a\" server=\"1702\" farm=\"2\" dateuploaded=\"1458576973\"
      isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" originalsecret=\"3e6716a4d4\"
      originalformat=\"jpg\" views=\"217\" media=\"photo\">\n\t<owner nsid=\"140375060@N02\"
      username=\"CD PIX\" realname=\"Colin\" location=\"Northern Ireland\" iconserver=\"1523\"
      iconfarm=\"2\" path_alias=\"\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Kirkistown
      1979 (13)</title>\n\t<description>Joey Dunlop</description>\n\t<visibility ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1458576973\" taken=\"2016-03-21
      16:15:39\" takengranularity=\"0\" takenunknown=\"1\" lastupdate=\"1681933352\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"140354712-25868667441-9022895\"
      author=\"140375060@N02\" authorname=\"CD PIX\" raw=\"Kirkistown\" machine_tag=\"0\">kirkistown</tag>\n\t\t<tag
      id=\"140354712-25868667441-689896\" author=\"140375060@N02\" authorname=\"CD
      PIX\" raw=\"Joeydunlop\" machine_tag=\"0\">joeydunlop</tag>\n\t\t<tag id=\"140354712-25868667441-5060\"
      author=\"140375060@N02\" authorname=\"CD PIX\" raw=\"Joey\" machine_tag=\"0\">joey</tag>\n\t\t<tag
      id=\"140354712-25868667441-132871\" author=\"140375060@N02\" authorname=\"CD
      PIX\" raw=\"Dunlop\" machine_tag=\"0\">dunlop</tag>\n\t</tags>\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/140375060@N02/25868667441/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=25868667441
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/1702/25868667441_55b0c0138a_s.jpg\"
      url=\"https://www.flickr.com/photos/140375060@N02/25868667441/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/1702/25868667441_55b0c0138a_q.jpg\"
      url=\"https://www.flickr.com/photos/140375060@N02/25868667441/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" w[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
