interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fmary_faith%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"28724605@N05\">\n\t<username>Mary Faith.</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=28724605%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"28724605@N05\" nsid=\"28724605@N05\" ispro=\"1\" is_deleted=\"0\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"mary_faith\" has_stats=\"0\" pro_badge=\"standard\"
      expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Mary
      Faith.</username>\n\t<realname />\n\t<description>New Zealand</description>\n\t<photosurl>https://www.flickr.com/photos/mary_faith/</photosurl>\n\t<profileurl>https://www.flickr.com/people/mary_faith/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=28719265</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1980-01-01
      00:00:04</firstdatetaken>\n\t\t<firstdate>1216624282</firstdate>\n\t\t<count>7423</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72157711742505183&user_id=28724605%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157711742505183\" primary=\"49041450387\" owner=\"28724605@N05\" ownername=\"Mary
      Faith.\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"2\" title=\"Thailand\"
      total=\"14\">\n\t<photo id=\"49041450387\" secret=\"f7630d7531\" server=\"65535\"
      farm=\"66\" title=\"Amphawa Floating Market  ..  (View large)\" isprimary=\"1\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1573359814\" datetaken=\"2019-11-03 21:25:25\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"Mary Faith.\" media=\"photo\" media_status=\"ready\"
      url_sq=\"https://live.staticflickr.com/65535/49041450387_f7630d7531_s.jpg\"
   [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157711742505183&user_id=28724605%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157711742505183\" owner=\"28724605@N05\" username=\"Mary Faith.\" primary=\"49041450387\"
      secret=\"f7630d7531\" server=\"65535\" farm=\"66\" count_views=\"16\" count_comments=\"0\"
      count_photos=\"14\" count_videos=\"0\" can_comment=\"0\" date_create=\"1573504871\"
      date_update=\"1690086565\" photos=\"14\" visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>Thailand</title>\n\t<description
      />\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
