interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3AIn%20Chinatown%2C%20San%20Francisco.jpg&prop=text&format=json
  response:
    content: '{"parse":{"title":"File:In Chinatown, San Francisco.jpg","pageid":332937,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:In_Chinatown,_San_Francisco.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<div
      class=\"hproduct commons-file-information-table\">\n<table class=\"fileinfotpl-type-information
      vevent mw-content-ltr\" style=\"direction: ltr;\">\n\n<tbody><tr>\n<td id=\"fileinfotpl_desc\"
      class=\"fileinfo-paramfield\" lang=\"en\">Description<span class=\"summary fn\"
      style=\"display:none\">In Chinatown, San Francisco.jpg</span></td>\n<td class=\"description\">\nChinatown,
      San Francisco: Spring 2000 (with a real bad cam)<br />900 block of Grant Avenue
      (odd numbers)</td>\n</tr>\n\n<tr>\n<td id=\"fileinfotpl_date\" class=\"fileinfo-paramfield\"
      lang=\"en\">Date</td>\n<td lang=\"en\">\n<time class=\"dtstart\" datetime=\"2004-10-14
      07:01:32\" lang=\"en\" dir=\"ltr\" style=\"white-space:nowrap\">14 October 2004,
      07:01:32</time></td>\n</tr>\n\n<tr>\n<td id=\"fileinfotpl_src\" class=\"fileinfo-paramfield\"
      lang=\"en\">Source</td>\n<td>\n<a rel=\"nofollow\" class=\"external text\" href=\"https://www.flickr.com/\">Flickr.com</a>
      - <a rel=\"nofollow\" class=\"external text\" href=\"https://www.flickr.com/photos/51035573370@N01/869031\">image
      description page</[...]
