interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=52578982111
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"52578982111\" secret=\"d282832bc4\" server=\"65535\" farm=\"66\" dateuploaded=\"1671696468\"
      isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" views=\"182\"
      media=\"photo\">\n\t<owner nsid=\"52568942@N05\" username=\"Rudr Peter | Smile
      to the world |\" realname=\"Rudr Peter\" location=\"\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"rudrpeter\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Kanyakumari
      sunrise shot with iphone and LR post production.</title>\n\t<description>Sunrise
      at Kanyakumari, southern most tip of India. Follow @RudrPeter\n#instagram #instadaily
      #RudrPeter #love #photography #clicks #Qatar #instagood #photooftheday #beautiful
      #Nikon #NikonIndia #D850 #birds #happy #followme #nature #like4like #travel
      #life #goodmorning\n#NikonQatar #City #Urban #flowers #landscape \n\n @2022-2099
      Copyright Rudr Peter. All rights reserved under the International Copyright
      laws. This picture and portions of this image should not be used in any print
      and electronic form without permission from me</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1671696468\"
      taken=\"2022-12-22 07:00:55\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1673820910\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"0\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"52563602-52578982111-6930\" author=\"52568942@N05\"
      authorname=\"Rudr Peter | Smile to the world |\" raw=\"indian ocean\" machine_tag=\"\">indianocean</tag>\n\t\t<tag
      id=\"52563602-52578982111-244794\" author=\"52568942@N05\" authorname=\"Rudr
      Peter | Smile to the world |\" raw=\"bay of bengal\" machine_tag=\"\">bayofbengal</tag>\n\t\t<tag
      id=\"52563602-52578982111-1657901\" author=\"52568942@N05\" authorname=\"Rudr
      Peter | Smile to the world |\" raw=\"triveni\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=52578982111
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"0\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/65535/52578982111_d282832bc4_s.jpg\"
      url=\"https://www.flickr.com/photos/rudrpeter/52578982111/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/52578982111_d282832bc4_q.jpg\"
      url=\"https://www.flickr.com/photos/rudrpeter/52578982111/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width=\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
