interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2F199246608%40N02
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"199246608@N02\">\n\t<username>cefarrjf87</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=199246608%40N02
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"199246608@N02\" nsid=\"199246608@N02\" ispro=\"0\" is_deleted=\"0\" iconserver=\"0\"
      iconfarm=\"0\" path_alias=\"\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>cefarrjf87</username>\n\t<realname>Alex
      Chan</realname>\n\t<location />\n\t<description />\n\t<photosurl>https://www.flickr.com/photos/199246608@N02/</photosurl>\n\t<profileurl>https://www.flickr.com/people/199246608@N02/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=199226260</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2023-05-12
      14:12:01</firstdatetaken>\n\t\t<firstdate>1696938538</firstdate>\n\t\t<count>26</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photosets.getPhotos&page=1&per_page=100&photoset_id=72177720311959907&user_id=199246608%40N02
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72177720311959907\" primary=\"53253175319\" owner=\"199246608@N02\" ownername=\"cefarrjf87\"
      page=\"1\" per_page=\"100\" perpage=\"100\" pages=\"1\" title=\"my first album\"
      total=\"15\">\n\t<photo id=\"53253175319\" secret=\"b4a4297abf\" server=\"65535\"
      farm=\"66\" title=\"IMG_5440\" isprimary=\"1\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"4\" safety_level=\"0\" dateupload=\"1697116365\" datetaken=\"2023-10-11
      11:32:02\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"cefarrjf87\"
      realname=\"Alex Chan\" tags=\"\" originalsecret=\"2f310021b6\" originalformat=\"jpg\"
      latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\" media=[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72177720311959907&user_id=199246608%40N02
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72177720311959907\" owner=\"199246608@N02\" username=\"cefarrjf87\" primary=\"53253175319\"
      secret=\"b4a4297abf\" server=\"65535\" farm=\"66\" count_views=\"1\" count_comments=\"0\"
      count_photos=\"15\" count_videos=\"0\" can_comment=\"0\" date_create=\"1697466303\"
      date_update=\"1698854230\" photos=\"15\" visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>my
      first album</title>\n\t<description />\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
