interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fslovenia%2Fpool%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"31849566@N00\">\n\t<groupname>Slovenia</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&group_id=31849566%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4453\" perpage=\"10\" total=\"44523\">\n\t<photo id=\"53333201595\"
      owner=\"98623843@N05\" secret=\"7174165ed0\" server=\"65535\" farm=\"66\" title=\"Dragon
      Bridge\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Joe Passe\"
      dateadded=\"1700042775\" license=\"0\" safety_level=\"0\" dateupload=\"1700007404\"
      datetaken=\"2023-09-26 18:27:44\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      tags=\"dragonbridge zmajskimost dragon ljubljana slovenia slovenija slowenien\"
      latitude=\"46.051887\" longitude=\"14.510377\" accuracy=\"16\" context=\"0\"
      place_id=\"\" woeid=\"3196359\" geo_is_public=\"1\" geo_is_contact=\"0\" geo_is_friend=\"0\"
      geo_is_family=\"0\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53333201595_7174165ed0_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53333201595_7174165ed0_t.jpg\"
      height_t=\"75\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53333201595_7174165ed0_m.jpg\"
      height_s=\"180\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53333201595_7174165ed0.jpg\"
      height_m=\"375\" width_m=\"500\" url_q=\"https://live.staticflickr.com/65535/53333201595_7174165ed0_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53333201595_7174165ed0_b.jpg\"
      height_l=\"768\" width_l=\"1024\">\n\t\t<description>Ljubljana, Slovenia</description>\n\t</photo>\n\t<photo
      id=\"53333423543\" owner=\"37075433@N00\" secret=\"0372c97642\" server=\"65535\"
      farm=\"66\" title=\"Huts on Robe meadow\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      ownername=\"Vid Pogacnik\" dateadded=\"1700031990\" license=\"0\" safety_level=\"0\"
      dateupload=\"1700031987\" datetaken=\"2023-11-05 13:22:33\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" realname=\"Vid Pogacnik\" tags=\"slovenia slovenija[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
[...]
