interactions:
- request:
    body: grant_type=refresh_token&refresh_token=%5BREFRESH_TOKEN...8f34f%5D
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://meta.wikimedia.org/w/rest.php/oauth2/access_token
  response:
    content: '{"error":"invalid_request","error_description":"The refresh token is
      invalid.","hint":"Cannot decrypt the refresh token","message":"The refresh token
      is invalid."}'
    headers:
      content-type:
      - application/json
      x-client-ip:
      - 92.13.36.200
    status_code: 401
version: 1
