interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=53167940017
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"53167940017\" secret=\"85f29b3a3b\" server=\"65535\" farm=\"66\" dateuploaded=\"1694013811\"
        isfavorite=\"0\" license=\"12\" safety_level=\"0\" rotation=\"0\" originalsecret=\"4f3173632a\"
        originalformat=\"jpg\" views=\"6140\" media=\"photo\">\n\t<owner nsid=\"194424926@N05\"
        username=\"PattayaPatrol\" realname=\"Pattaya Patrol\" location=\"Pattaya\"
        iconserver=\"65535\" iconfarm=\"66\" path_alias=\"pattayapatrol\">\n\t\t<gift
        gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>DSC_2817:
        a black cat standing on top of a bed</title>\n\t<description>This photo features
        a black cat standing on a table, surrounded by various objects. The cat is
        positioned near the center of the scene, with its body facing the left side
        of the image. The table is covered with a yellow cloth, and the cat appears
        to be walking across it.\nIn the background, there is a bicycle on the right
        side of the image. Additionally, there are two suitcases, one located near
        the top right corner and the other closer to the bottom right corner. A backpack
        can also be seen on the right side of the image, placed above the suitcase.</description>\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1694013811\"
        taken=\"2023-09-05 10:44:03\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1750304175\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>2</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"194419586-53167940017-39874929\"
        author=\"194424926@N05\" authorname=\"PattayaPatrol\" raw=\"na kluea\" machine_tag=\"0\">nakluea</tag>\n\t\t<tag
        id=\"194419586-53167940017-246330390\" author=\"194424926@N05\" authorname=\"PattayaPatrol\"
        raw=\"bang lamung district\" machine_tag=\"0\">banglamungdistrict</tag>\n\t\t<tag
        id=\"194419586-53167940017-39874931\" author=\"194424926@N05\" authorname=\"PattayaPatrol\"
        raw=\"changwat chon buri\" machine_tag=\"0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=53167940017
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/65535/53167940017_85f29b3a3b_s.jpg\"
        url=\"https://www.flickr.com/photos/pattayapatrol/53167940017/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/65535/53167940017_85f29b3a3b_q.jpg\"
        url=\"https://www.flickr.com/photos/pattayapatrol/53167940017/sizes/q/\" media=\"photo\"
        />\n\t<size l[...]
