interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=53331717974
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"53331717974\" secret=\"5ac05d8610\" server=\"65535\" farm=\"66\" dateuploaded=\"1699960441\"
      isfavorite=\"0\" license=\"4\" safety_level=\"0\" rotation=\"0\" originalsecret=\"5e0d763af8\"
      originalformat=\"jpg\" views=\"1\" media=\"photo\">\n\t<owner nsid=\"199246608@N02\"
      username=\"cefarrjf87\" realname=\"Alex Chan\" location=\"\" iconserver=\"0\"
      iconfarm=\"0\" path_alias=\"\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>IMG_4159</title>\n\t<description
      />\n\t<visibility ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates
      posted=\"1699960441\" taken=\"2023-06-16 18:56:24\" takengranularity=\"0\" takenunknown=\"0\"
      lastupdate=\"1700016806\" />\n\t<editability cancomment=\"0\" canaddmeta=\"0\"
      />\n\t<publiceditability cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\"
      canblog=\"0\" canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes
      />\n\t<people haspeople=\"0\" />\n\t<tags />\n\t<location latitude=\"54.162433\"
      longitude=\"-3.164062\" accuracy=\"1\" context=\"0\">\n\t\t<locality>Barrow-in-Furness
      District</locality>\n\t\t<county>Cumbria</county>\n\t\t<region>England</region>\n\t\t<country>UK</country>\n\t\t<neighbourhood>Dalton
      in Furness</neighbourhood>\n\t</location>\n\t<geoperms ispublic=\"1\" iscontact=\"0\"
      isfriend=\"0\" isfamily=\"0\" />\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/199246608@N02/53331717974/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=53331717974
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/65535/53331717974_5ac05d8610_s.jpg\"
      url=\"https://www.flickr.com/photos/199246608@N02/53331717974/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/53331717974_5ac05d8610_q.jpg\"
      url=\"https://www.flickr.com/photos/199246608@N02/53331717974/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
