interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"9259b755e0401716925708666a90948d652ff65d+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=upload&filename=Silver+Blue+Fish+In+Boston+Aquarium.jpg&url=https%3A%2F%2Flive.staticflickr.com%2F8338%2F8273352482_50cb58a54f_o_d.jpg&text=%3D%3D%7B%7Bint%3Afiledesc%7D%7D%3D%3D%0A%7B%7BInformation%0A%7CSource%3Dhttps%3A%2F%2Fwww.flickr.com%2Fphotos%2Fpictureclara%2F8273352482%2F%0A%7CDate%3D2012-12-08+15%3A08%3A45%0A%7CAuthor%3D%5Bhttps%3A%2F%2Fwww.flickr.com%2Fpeople%2F13151547%40N06+Clara+S.%5D%0A%7CPermission%3D%0A%7Cother_versions%3D%0A%7D%7D%0A%0A%3D%3D%7B%7Bint%3Alicense-header%7D%7D%3D%3D%0A%7B%7Bcc-by-2.0%7D%7D%0A&format=json&token=9259b755e0401716925708666a90948d652ff65d%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"upload":{"result":"Success","filename":"Silver_Blue_Fish_In_Boston_Aquarium.jpg","imageinfo":{"timestamp":"2023-10-18T15:14:44Z","user":"Alexwlchan","userid":829939,"size":10280530,"width":4928,"height":3264,"parsedcomment":"","comment":"","html":"<div>\n<figure
      typeof=\"mw:Error mw:File/Thumb\"><a href=\"/w/index.php?title=Special:Upload&amp;wpDestFile=Silver_Blue_Fish_In_Boston_Aquarium.jpg\"
      class=\"new\" title=\"File:Silver Blue Fish In Boston Aquarium.jpg\"><span class=\"mw-file-element
      mw-broken-media\" data-width=\"100\">File:Silver Blue Fish In Boston Aquarium.jpg</span></a><figcaption>Existing
      file</figcaption></figure>\n<p><span id=\"wpUploadWarningFileexists\">A file
      with this name already exists; please check <b><a class=\"mw-selflink selflink\">the
      existing file</a></b> if you are not sure whether you want to change it. Please
      choose another filename, unless you are uploading a technically improved version
      of the same file. <br />Do not overwrite an image with a different one of the
      same topic (see <a href=\"/wiki/Commons:File_naming\" title=\"Commons:File naming\">file
      naming</a>).</span>\n</p>\n<div style=\"clear:both;\"></div>\n</div>","canonicaltitle":"File:Silver
      Blue Fish In Boston Aquarium.jpg","url":"https://upload.wikimedia.org/wikipedia/commons/b/b2/Silver_Blue_Fish_In_Boston_Aquarium.jpg","descriptionurl":"https://commons.wikimedia.org/wiki/File:Silver_Blue_Fish_In_Boston_Aquarium.jpg","sha1":"6c36ca956e93efd81c082429b73eeafdcc11fbe8","metadata":[{"name":"Make","value":"NIKON
      CORPORATION"},{"name":"Model","value":"NIKON D7000"},{"name":"XResolution","value":"240/1"},{"name":"YResolution","value":"240/1"},{"name":"ResolutionUnit","value":2},{"name":"Software","value":"Adobe
      Photoshop Lightroom 3.5 (Macintosh)"},{"name":"DateTime","value":"2012:12:14
      14:47:45"},{"name":"ExposureTime","value":"1/100"},{"name":"FNumber","value":"35/10"},{"name":"ExposureProgram","value":1},{"name":"ISOSpeedRatings","value":1000},{"name":"ExifVersion","value":"023[...]
