interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3ADan%20Potthast.jpg&prop=text&format=json
  response:
    content: '{"parse":{"title":"File:Dan Potthast.jpg","pageid":48081,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><p>Dan Potthast\n</p>\n<ul><li>Photographer:
      <a rel=\"nofollow\" class=\"external text\" href=\"http://thesixman.com/justin/\">Justin
      August</a></li>\n<li>Source: <a rel=\"nofollow\" class=\"external free\" href=\"https://www.flickr.com/photos/justinaugust/3731022/\">https://www.flickr.com/photos/justinaugust/3731022/</a></li></ul>\n<style
      data-mw-deduplicate=\"TemplateStyles:r666199556\">.mw-parser-output .responsive-license-cc{clear:both;text-align:center;box-sizing:border-box;width:100%;justify-content:space-around;align-items:center;margin:0.5em
      auto;background-color:#f9f9f9;border:2px solid #e0e0e0;border-spacing:8px;display:flex}.mw-parser-output
      .responsive-license-cc div{margin:4px}.mw-parser-output .rlicense-text div{margin:0.5em
      auto}@media screen and (max-width:640px){.mw-parser-output .responsive-license-cc{flex-flow:column}.mw-parser-output
      .rlicense-text{order:1}}</style><div class=\"responsive-license-cc layouttemplate
      licensetpl mw-content-ltr\" lang=\"en\"><div class=\"rlicense-icons\"><span
      typeof=\"mw:File\"><span title=\"w:en:Creative Commons\"><img alt=\"w:en:Creative
      Commons\" src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/90px-CC_some_rights_reserved.svg.png\"
      decoding=\"async\" width=\"90\" height=\"36\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/135px-CC_some_rights_reserved.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/180px-CC_some_rights_reserved.svg.png
      2x\" data-file-width=\"744\" data-file-height=\"300\" /></span></span><br />\n<span
      typeof=\"mw:File\"><span title=\"attribution\"><img alt=\"attribution\" src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Cc-by_new_white.svg/24px-Cc-by_new_white.svg.png\"
      decoding=\"async\" width=\"24\" height=\"24\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Cc-by_new_white.svg/36px-Cc-by_new_white.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Cc-by_new_white.svg/48px-Cc-by_ne[...]
