interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fjoshuatreenp
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"115357548@N08\">\n\t<username>Joshua Tree National Park</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=115357548%40N08
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"115357548@N08\" nsid=\"115357548@N08\" ispro=\"1\" is_deleted=\"0\" iconserver=\"5529\"
      iconfarm=\"6\" path_alias=\"joshuatreenp\" has_stats=\"0\" pro_badge=\"standard\"
      expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Joshua
      Tree National Park</username>\n\t<mbox_sha1sum>bc016533f61a5ed79e878efb9423c88d7458e893</mbox_sha1sum>\n\t<location
      />\n\t<timezone label=\"Pacific Time (US &amp; Canada); Tijuana\" offset=\"-08:00\"
      timezone_id=\"PST8PDT\" timezone=\"5\" />\n\t<description>Welcome to Joshua
      Tree National Park&#039;s images on flickr. Images are free and available to
      download for personal and educational use. All we ask is that you credit the
      photographer and the National Park Service (NPS) like this: NPS photo by &amp;quot;photographer
      name&amp;quot;. If you would like to our photos for commercial use, please contact
      the park at JOTR.socialmedia@gmail.com with links to the photos you would like
      to use and a detailed description of how they would be used.</description>\n\t<photosurl>https://www.flickr.com/photos/joshuatreenp/</photosurl>\n\t<profileurl>https://www.flickr.com/people/joshuatreenp/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=115264735</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2000-01-01
      00:00:35</firstdatetaken>\n\t\t<firstdate>1392248012</firstdate>\n\t\t<count>7052</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photosets.getPhotos&page=1&per_page=100&photoset_id=72157640898611483&user_id=115357548%40N08
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157640898611483\" primary=\"40750084443\" owner=\"115357548@N08\" ownername=\"Joshua
      Tree National Park\" page=\"1\" per_page=\"100\" perpage=\"100\" pages=\"4\"
      title=\"Birds\" total=\"357\">\n\t<photo id=\"49021434741\" secret=\"1f8bf237c2\"
      server=\"65535\" farm=\"66\" title=\"Sleepy Barn Owl (Tyto alba)\" isprimary=\"0\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"10\" safety_level=\"0\"
      dateupload=\"1573001718\" datetaken=\"2019-10-29 16:59:38\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"Joshua Tree National Park\" tags=\"joshuatree
      joshuatreenationalpark nationalpark owl oasisofmara palmtree barnowl wildlife
      bird birding bi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157640898611483&user_id=115357548%40N08
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157640898611483\" owner=\"115357548@N08\" username=\"Joshua Tree National
      Park\" primary=\"40750084443\" secret=\"6f4957a282\" server=\"65535\" farm=\"66\"
      count_views=\"14098\" count_comments=\"0\" count_photos=\"357\" count_videos=\"0\"
      can_comment=\"0\" date_create=\"1392248190\" date_update=\"1700016115\" photos=\"357\"
      visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>Birds</title>\n\t<description>Bird
      species of Joshua Tree National Park.</description>\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157640898611483&user_id=115357548%40N08
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157640898611483\" owner=\"115357548@N08\" username=\"Joshua Tree National
      Park\" primary=\"40750084443\" secret=\"6f4957a282\" server=\"65535\" farm=\"66\"
      count_views=\"14098\" count_comments=\"0\" count_photos=\"357\" count_videos=\"0\"
      can_comment=\"0\" date_create=\"1392248190\" date_update=\"1700016115\" photos=\"357\"
      visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>Birds</title>\n\t<description>Bird
      species of Joshua Tree National Park.</description>\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
