interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3ADefinitelyDoesNotExist.jpg&format=xml
  response:
    content: <?xml version="1.0"?><api batchcomplete=""><query><pages><page _idx="-1"
      ns="6" title="File:DefinitelyDoesNotExist.jpg" missing="" /></pages></query></api>
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 92.14.15.136
    status_code: 200
version: 1
