interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=383861611
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"383861611\" secret=\"b984a3c99f\" server=\"126\" farm=\"1\" dateuploaded=\"1170956602\"
        isfavorite=\"0\" license=\"4\" safety_level=\"0\" rotation=\"0\" originalsecret=\"b984a3c99f\"
        originalformat=\"jpg\" views=\"1237\" media=\"photo\">\n\t<owner nsid=\"63603238@N00\"
        username=\"tjmwatson\" realname=\"\" location=\"\" iconserver=\"78\" iconfarm=\"1\"
        path_alias=\"tessawatson\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Testing
        Seeds For Starch</title>\n\t<description />\n\t<visibility ispublic=\"1\"
        isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1170956602\" taken=\"2007-02-08
        14:26:21\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1531302883\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"5086860-383861611-11076\" author=\"63603238@N00\"
        authorname=\"tjmwatson\" raw=\"seeds\" machine_tag=\"0\">seeds</tag>\n\t\t<tag
        id=\"5086860-383861611-371255\" author=\"63603238@N00\" authorname=\"tjmwatson\"
        raw=\"Iodine\" machine_tag=\"0\">iodine</tag>\n\t\t<tag id=\"5086860-383861611-10578\"
        author=\"63603238@N00\" authorname=\"tjmwatson\" raw=\"testing\" machine_tag=\"0\">testing</tag>\n\t\t<tag
        id=\"5086860-383861611-235321\" author=\"63603238@N00\" authorname=\"tjmwatson\"
        raw=\"starch\" machine_tag=\"0\">starch</tag>\n\t</tags>\n\t<urls>\n\t\t<url
        type=\"photopage\">https://www.flickr.com/photos/tessawatson/383861611/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-667d293b-55f4a6851bb772c03d054b88
      x-server:
      - serverless-proxy-10.78.0.9
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=383861611
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/126/383861611_b984a3c99f_s.jpg\"
        url=\"https://www.flickr.com/photos/tessawatson/383861611/sizes/sq/\" media=\"photo\"
        />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/126/383861611_b984a3c99f_q.jpg\"
        url=\"https://www.flickr.com/photos/tessawatson/383861611/sizes/q/\" media=\"photo\"
        />\n\t<size label=\"Thumbnail\" width[...]
