interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=58433307%40N08
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"58433307@N08\" nsid=\"58433307@N08\" ispro=\"1\" is_deleted=\"0\" iconserver=\"5144\"
        iconfarm=\"6\" path_alias=\"camperdown\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>hugh
        llewelyn</username>\n\t<realname>Hugh Llewelyn</realname>\n\t<location>Keynsham,
        UK</location>\n\t<timezone label=\"GMT: Dublin, Edinburgh, Lisbon, London\"
        offset=\"+00:00\" timezone_id=\"Europe/London\" timezone=\"27\" />\n\t<description>I&#039;m
        interested in railways, aircraft, ships &amp;amp; naval history, cars, photography,
        church architecture, stamp collecting, general history, rugby, real ale, good
        food, good wine, keeping fit, swimming, travel and socialising with friends.\n\nI
        was a civil servant but now retired. I have had five books published with
        my railway photographs (Diesel Shunters, HST&#039;s, EMU&#039;s, London Traction
        and Bristol Traction).</description>\n\t<photosurl>https://www.flickr.com/photos/camperdown/</photosurl>\n\t<profileurl>https://www.flickr.com/people/camperdown/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/camperdown/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2006-04-01
        15:41:09</firstdatetaken>\n\t\t<firstdate>1295178229</firstdate>\n\t\t<count>37482</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-665066b0-1bfcfcdc703216011df2d5ed;Root=1-665066b0-6191e4007a0fda5f52375f8f
      x-server:
      - serverless-proxy-10.78.32.246
    status:
      code: 200
      message: OK
version: 1
