interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=wbgetentities&format=json&sites=commonswiki&titles=File%3AMomma+Cat+in+the+living+room+11+%2848771463782%29.jpg
  response:
    body:
      string: '{"entities":{"M84774204":{"pageid":84774204,"ns":6,"title":"File:Momma
        Cat in the living room 11 (48771463782).jpg","lastrevid":878242731,"modified":"2024-05-21T14:51:28Z","type":"mediainfo","id":"M84774204","labels":{},"descriptions":{},"statements":{"P4082":[{"mainsnak":{"snaktype":"value","property":"P4082","hash":"b13e3874ed25e0c65c90ab6b9f84d3f548968927","datavalue":{"value":{"entity-type":"item","numeric-id":20889050,"id":"Q20889050"},"type":"wikibase-entityid"}},"type":"statement","id":"M84774204$54FD5490-4E19-4FDD-87FD-1F86454E6926","rank":"normal"}],"P275":[{"mainsnak":{"snaktype":"value","property":"P275","hash":"82d5b402aa0a79040483a8c9264bd484c6c13f67","datavalue":{"value":{"entity-type":"item","numeric-id":19125117,"id":"Q19125117"},"type":"wikibase-entityid"}},"type":"statement","id":"M84774204$4311DA5E-7C37-4078-BCE4-EC51AEA657CB","rank":"normal"}],"P6216":[{"mainsnak":{"snaktype":"value","property":"P6216","hash":"5570347fdc76d2a80732f51ea10ee4b144a084e0","datavalue":{"value":{"entity-type":"item","numeric-id":50423863,"id":"Q50423863"},"type":"wikibase-entityid"}},"type":"statement","id":"M84774204$AF621DBE-0C92-45EF-AD4B-655681254E8F","rank":"normal"}],"P571":[{"mainsnak":{"snaktype":"value","property":"P571","hash":"f7a5005a71f534dfa0117bf3d0cf9a3e56c3a23d","datavalue":{"value":{"time":"+2019-01-31T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"}},"type":"statement","id":"M84774204$03D878E1-A4F8-48B9-8339-3ECFC74724EC","rank":"normal"}],"P7482":[{"mainsnak":{"snaktype":"value","property":"P7482","hash":"b82dd47222a210c6dc1f428b693c2fbf7b0e0d6e","datavalue":{"value":{"entity-type":"item","numeric-id":74228490,"id":"Q74228490"},"type":"wikibase-entityid"}},"type":"statement","qualifiers":{"P973":[{"snaktype":"value","property":"P973","hash":"dcbeb9e01089525c3fb9a1ac73407482093078e4","datavalue":{"value":"https://www.flickr.com/photos/jsjgeology/48771463782/","type":"string"}}],"P137":[{"snaktype":"value","property":"P137","hash":"3d8cd4c1ab91d3d9a14900210faaebf1a98b947b","datavalue":{"value":{"entity-type":"item","numeric-id":103204,"id":"Q103204"},"type":"wikibase-entityid"}}],"P2699":[{"snaktype":"value","property":"P2699","hash":"69e799dc9dc0342f943bde8eaa06ce3fa4ceb609","datavalue":{"value":"https://live.staticflickr.com/65535/48771463782_fc95bd03bc_o.jpg","type":"string"}}]},"qualifiers-order":["P973","P137","P2699"],"id":"M84774204$B0D168C7-7385-4557-AD98-A7DBE8EF6CE0","rank":"normal"}],"P170":[{"mainsnak":{"snaktype":"somevalue","property":"P170","hash":"d3550e860f988c6675fff913440993f58f5c40c5"},"type":"statement","qualifiers":{"P3267":[{"snaktype":"value","property":"P3267","hash":"bc26b6ae17664204afc0b1732566b369bbd6dd2a","datavalue":{"value":"47445767@N05","type":"string"}}],"P2699":[{"snaktype":"value","property":"P2699","hash":"91aecd6c8734454c29dbbd3a109ffb9697f9d201","datavalue":{"value":"https://www.flickr.com/people/47445767@N05","type":"string"}}],"P2093":[{"snaktype":"value","property":"P2093","hash":"84eebde656cee0ac0fd6745c017765fa17e06dd2","datavalue":{"value":"James
        St. John","type":"string"}}]},"qualifiers-order":["P3267","P2699","P2093"],"id":"M84774204$140A2080-5DB6-478F-92A9-45E242CDE493","rank":"normal"}],"P180":[{"mainsnak":{"snaktype":"value","property":"P180","hash":"ccce95c01ea01fadd10457a4adc5f56bce0fe097","datavalue":{"value":{"entity-type":"item","numeric-id":146,"id":"Q146"},"type":"wikibase-entityid"}},"type":"statement","id":"M84774204$4D35E23E-683A-4C59-AAA8-03F4E0DE472E","rank":"normal"}],"P12120":[{"mainsnak":{"snaktype":"value","property":"P12120","hash":"53be68a8a6c3040d9865d67651406ada3ebaa911","datavalue":{"value":"48771463782","type":"string"}},"type":"statement","id":"M84774204$69768268-3C07-4077-901F-ACBCAD1AE49E","rank":"normal"}],"P1433":[{"mainsnak":{"snaktype":"value","property":"P1433","hash":"42371a72aac2d430d87cc00de671b55cac1f5a79","datavalue":{"value":{"entity-type":"item","numeric-id":103204,"id":"Q103204"},"type":"wikibase-entityid"}},"type":"statement","qualifiers":{"P577":[{"snaktype":"value","property":"P577","hash":"21eac25ad65ca0172246cba3953d9c632adca481","datavalue":{"value":{"time":"+2019-09-21T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"}}]},"qualifiers-order":["P577"],"id":"M84774204$768E1CCE-4E79-465E-BFF6-B1CAB2A8721B","rank":"normal"}]}}},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=48771463782
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"48771463782\" secret=\"9784d59669\" server=\"65535\" farm=\"66\" dateuploaded=\"1569097353\"
        isfavorite=\"0\" license=\"4\" safety_level=\"0\" rotation=\"0\" originalsecret=\"fc95bd03bc\"
        originalformat=\"jpg\" views=\"332\" media=\"photo\">\n\t<owner nsid=\"47445767@N05\"
        username=\"James St. John\" realname=\"James St. John\" location=\"\" iconserver=\"5062\"
        iconfarm=\"6\" path_alias=\"jsjgeology\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Momma
        Cat in the living room 11</title>\n\t<description>This is &amp;quot;Momma
        Cat&amp;quot;.  She was my parents&#039; cat for many years, but sadly passed
        away last month (August 2019).  Friendliest cat toward me I&#039;ve ever known!\n\nShe
        was completely feral as a youngster and had a litter of kittens.  She got
        fixed and became a spoiled house cat.  She didn&#039;t like being picked up,
        but she really liked head rubs, back rubs, and tummy rubs.  Also liked being
        brushed.  Definitely did not like being alone for long periods of time.  When
        the weather was nice, she usually went outside during the daytime to explore
        the yard and the pond and the woods, but always came back inside after a while.\n------------------------------------------------------\n(photo
        by Mary Ellen St. John)\n</description>\n\t<visibility ispublic=\"1\" isfriend=\"0\"
        isfamily=\"0\" />\n\t<dates posted=\"1569097353\" taken=\"2019-01-31 13:19:33\"
        takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1569119837\" />\n\t<editability
        cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\"
        canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\" canprint=\"0\"
        canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people haspeople=\"0\"
        />\n\t<tags>\n\t\t<tag id=\"47440427-48771463782-134965\" author=\"47445767@N05\"
        authorname=\"James St. John\" raw=\"Felis\" machine_tag=\"0\">felis</tag>\n\t\t<tag
        id=\"47440427-48771463782-18286\" author=\"47445767@N05\" authorname=\"James
        St. John\" raw=\"catus\" machine_tag=\"0\">catus</tag>\n\t\t<tag id=\"47440427-48771463782-12652\"
        author=\"47445767@N05\" authorname=\"James St. John\" raw=\"domestic\" machine_tag=\"0\">domestic</tag>\n\t\t<tag
        id=\"47440427-48771463782-1344\" author=\"47445767@N05\" authorname=\"James
        St. John\" raw=\"cat\" machine_tag=\"0\">cat</tag>\n\t\t<tag id=\"47440427-48771463782-364\"
        author=\"47445767@N05\" authorname=\"James St. John\" raw=\"cats\" machine_tag=\"0\">cats</tag>\n\t\t<tag
        id=\"47440427-48771463782-718167\" author=\"47445767@N05\" authorname=\"James
        St. John\" raw=\"Felidae\" machine_tag=\"0\">felidae</tag>\n\t</tags>\n\t<urls>\n\t\t<url
        type=\"photopage\">https://www.flickr.com/photos/jsjgeology/48771463782/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6687fd9a-3cffe9524a4da00a3af95902;Root=1-6687fd9a-772e7362035246be0230d0fd
      x-server:
      - serverless-proxy-10.78.45.235
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=48771463782
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/65535/48771463782_9784d59669_s.jpg\"
        url=\"https://www.flickr.com/photos/jsjgeology/48771463782/sizes/sq/\" media=\"photo\"
        />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/48771463782_9784d59669_q.jpg\"
        url=\"https://www.flickr.com/photos/jsjgeology/48771463782/sizes/q/\" media=\"photo\"
        />\n\t<size label=\"Thumbna[...]
[...]
