interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Furuguay
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"90096392@N00\">\n\t<groupname>Uruguay</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&group_id=90096392%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=100
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"427\" perpage=\"100\" total=\"42644\">\n\t<photo id=\"52894798448\"
      owner=\"26128697@N07\" secret=\"5c782e7a49\" server=\"65535\" farm=\"66\" title=\"Capilla
      de Cella, Canelones\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Luiz
      Filipe Varella\" dateadded=\"1699873079\" license=\"0\" safety_level=\"0\" dateupload=\"1683985195\"
      datetaken=\"2023-05-13 06:01:38\" datetakengranularity=\"0\" datetakenunknown=\"1\"
      realname=\"\" originalsecret=\"cdc2dff94c\" originalformat=\"jpg\" media=\"photo\"
      media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/52894798448_5c782e7a49_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/52894798448_5c782e7a49_t.jpg\"
      height_t=\"67\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/52894798448_5c782e7a49_m.jpg\"
      height_s=\"160\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/52894798448_5c782e7a49.jpg\"
      height_m=\"333\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/52894798448_cdc2dff94c_o.jpg\"
      height_o=\"3648\" width_o=\"5472\" url_q=\"https://live.staticflickr.com/65535/52894798448_5c782e7a49_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/52894798448_5c782e7a49_b.jpg\"
      height_l=\"683\" width_l=\"1024\">\n\t\t<description>Capilla de Cella\nCanelones,
      Uruguay</description>\n\t</photo>\n\t<photo id=\"52894745145\" owner=\"26128697@N07\"
      secret=\"4e7356f642\" server=\"65535\" farm=\"66\" title=\"museu de carros velhos
      de San Carlos\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Luiz
      Filipe Varella\" dateadded=\"1699873000\" license=\"0\" safety_level=\"0\" dateupload=\"1683985178\"
      datetaken=\"2023-05-13 06:06:58\" datetakengranularity=\"0\" datetakenunknown=\"1\"
      real[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
