interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&titles=File%3A%7Bwith%20invalid%20chars%7D.jpg&prop=info&format=json
  response:
    content: '{"batchcomplete":"","query":{"pages":{"-1":{"title":"File:{with invalid
      chars}.jpg","invalidreason":"The requested page title contains invalid characters:
      \"{\".","invalid":""}}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=titleblacklist&tbaction=create&tbtitle=File%3A%7Bwith%20invalid%20chars%7D.jpg&format=json
  response:
    content: '{"error":{"code":"invalidtitle","info":"Bad title \"File:{with invalid
      chars}.jpg\".","*":"See https://commons.wikimedia.org/w/api.php for API usage.
      Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
      for notice of API deprecations and breaking changes."},"servedby":"mw1381"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - invalidtitle
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
