interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3AThe%20main%20Flickr%20photo%20storage%20server.jpg&prop=text&format=json
  response:
    content: '{"parse":{"title":"File:The main Flickr photo storage server.jpg","pageid":329391,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><div class=\"hproduct
      commons-file-information-table\">\n<table class=\"fileinfotpl-type-information
      vevent mw-content-ltr\" style=\"direction: ltr;\">\n\n<tbody><tr>\n<td id=\"fileinfotpl_desc\"
      class=\"fileinfo-paramfield\" lang=\"en\">Description<span class=\"summary fn\"
      style=\"display:none\">The main Flickr photo storage server.jpg</span></td>\n<td
      class=\"description\">\n<div class=\"description mw-content-ltr en\" dir=\"ltr\"
      lang=\"en\"><span class=\"language en\" title=\"English\"><b>English&#58; </b></span>
      The main <a href=\"https://en.wikipedia.org/wiki/Flickr\" class=\"extiw\" title=\"en:Flickr\">Flickr</a>
      photo storage server: 8 x 250 GB ATA drives in Raid 10 for 1 TB of usable storage.</div></td>\n</tr>\n\n<tr>\n<td
      id=\"fileinfotpl_date\" class=\"fileinfo-paramfield\" lang=\"en\">Date</td>\n<td
      lang=\"en\">\n<time class=\"dtstart\" datetime=\"2004-02-08 03:22:13\" lang=\"en\"
      dir=\"ltr\" style=\"white-space:nowrap\">8 February 2004, 03:22:13</time></td>\n</tr>\n\n<tr>\n<td
      id=\"fileinfotpl_src\" class=\"fileinfo-paramfield\" lang=\"en\">Source</td>\n<td>\n<a
      rel=\"nofollow\" class=\"external free\" href=\"https://www.flickr.com/photos/12037949632\">https://www.flickr.com/photos/12037949632</a></td>\n</tr>\n\n<tr>\n<td
      id=\"fileinfotpl_aut\" class=\"fileinfo-paramfield\" lang=\"en\">Author</td>\n<td>\n<a
      rel=\"nofollow\" class=\"external text\" href=\"https://www.flickr.com/photos/12037949632@N01\">Stewart
      Butterfield</a> from San Francisco, USA</td>\n</tr>\n\n<tr>\n<td id=\"fileinfotpl_perm\"
      class=\"fileinfo-paramfield\" lang=\"en\">Permission<br /><small>(<a href=\"/wiki/Commons:Reusing_content_outside_Wikimedia\"
      title=\"Commons:Reusing content outside Wikimedia\">Reusing this file</a>)</small></td>\n<td>\n<style
      data-mw-deduplicate=\"TemplateStyles:r666199556\">.mw-parser-output .responsive-license-cc{clear:both;text-align:center;box-sizing:border-box;width:100%;justify-content:space-around;align-items:center;margin:0.5em
      auto;background-color:#f9f9f9;border:2px solid #e0e0e0;border-spacing:8px;display:flex}.mw-parser-output
      .responsive-license-cc div{margin:4px}.mw-parser-output .rlicense-text div{margin:0.5em
      auto}@media screen and (max-width:640px){.mw-parser-output .responsive-license-cc{flex-flow:column}.mw-parser-output
      .rlicense-text{order:1}}</style><div class=\"responsive-license-cc layouttemplate
      licensetpl mw-content-ltr\" lang=\"en\"><div class=\"rlicense-icons\"><span
      typeof=\"mw:File\"><span title=\"w:en:Creative Commons\"><img alt=\"w:en:Creative
      Commons\" src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/90px-CC_some_rights_reserved.svg.png\"
      decoding=\"async\" width=\"90\" height=\"36\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/135px-CC_some_rights_reserved.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/CC_some_rights_reserved.svg/180px-CC_some_rights_res[...]
