interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=wbgetentities&format=json&sites=commonswiki&titles=File%3ANYCC2017+000bas+%2823894553008%29.jpg
  response:
    body:
      string: '{"entities":{"M120069527":{"pageid":120069527,"ns":6,"title":"File:NYCC2017
        000bas (23894553008).jpg","lastrevid":809837494,"modified":"2023-10-08T02:37:47Z","type":"mediainfo","id":"M120069527","labels":{},"descriptions":{},"statements":{"P4082":[{"mainsnak":{"snaktype":"value","property":"P4082","hash":"97ab3a0149829a4b4732509819ede89fad23d311","datavalue":{"value":{"entity-type":"item","numeric-id":64100,"id":"Q64100"},"type":"wikibase-entityid"}},"type":"statement","id":"M120069527$E13F6B1B-78EC-4B9C-A91C-7A9EBC97B8D4","rank":"normal"}],"P6757":[{"mainsnak":{"snaktype":"value","property":"P6757","hash":"2d27f5e4e4fcfe3211a9ebb1f0dbb207f5810476","datavalue":{"value":{"amount":"+0.02","unit":"http://www.wikidata.org/entity/Q11574"},"type":"quantity"}},"type":"statement","id":"M120069527$ACCC5707-1722-44F6-BDC1-BEA550B720B7","rank":"normal"}],"P6790":[{"mainsnak":{"snaktype":"value","property":"P6790","hash":"7e6187af800cf4d85b7217afac31dc36cd69dd48","datavalue":{"value":{"amount":"+5.6","unit":"1"},"type":"quantity"}},"type":"statement","id":"M120069527$E50D0BDE-0D13-46F5-9156-27FD2D66E361","rank":"normal"}],"P2151":[{"mainsnak":{"snaktype":"value","property":"P2151","hash":"619c7381fb02992fbb1cc76a3e206c396b81c80f","datavalue":{"value":{"amount":"+29","unit":"http://www.wikidata.org/entity/Q174789"},"type":"quantity"}},"type":"statement","id":"M120069527$1E8AA820-B7D2-4184-9AFC-4AF91470ACD8","rank":"normal"}],"P6789":[{"mainsnak":{"snaktype":"value","property":"P6789","hash":"65c2f0864b9a7e4b57edfa997bc864da39b2e0fd","datavalue":{"value":{"amount":"+400","unit":"1"},"type":"quantity"}},"type":"statement","id":"M120069527$35D574F4-AB19-41C9-B518-C49E4EAC86D2","rank":"normal"}],"P1163":[{"mainsnak":{"snaktype":"value","property":"P1163","hash":"723d30b878d4a8deb968b0db429888e5353661a2","datavalue":{"value":"image/jpeg","type":"string"}},"type":"statement","id":"M120069527$B8378D0E-8D0B-4112-B92E-63C2E79EA1D7","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"78817782cf2abc9d185934ba3b526591e12840f2","datavalue":{"value":{"entity-type":"item","numeric-id":125191,"id":"Q125191"},"type":"wikibase-entityid"}},"type":"statement","id":"M120069527$7CF52D93-6470-400E-AFE6-49570A1F6CE4","rank":"normal"}],"P6216":[{"mainsnak":{"snaktype":"value","property":"P6216","hash":"5570347fdc76d2a80732f51ea10ee4b144a084e0","datavalue":{"value":{"entity-type":"item","numeric-id":50423863,"id":"Q50423863"},"type":"wikibase-entityid"}},"type":"statement","id":"M120069527$6B09D3EA-5B78-42F8-90E9-82A7210799AC","rank":"normal"}],"P275":[{"mainsnak":{"snaktype":"value","property":"P275","hash":"82d5b402aa0a79040483a8c9264bd484c6c13f67","datavalue":{"value":{"entity-type":"item","numeric-id":19125117,"id":"Q19125117"},"type":"wikibase-entityid"}},"type":"statement","id":"M120069527$1A9A3793-B39C-41BF-B5BA-B7C203747FC1","rank":"normal"}],"P7482":[{"mainsnak":{"snaktype":"value","property":"P7482","hash":"b82dd47222a210c6dc1f428b693c2fbf7b0e0d6e","datavalue":{"value":{"entity-type":"item","numeric-id":74228490,"id":"Q74228490"},"type":"wikibase-entityid"}},"type":"statement","qualifiers":{"P137":[{"snaktype":"value","property":"P137","hash":"3d8cd4c1ab91d3d9a14900210faaebf1a98b947b","datavalue":{"value":{"entity-type":"item","numeric-id":103204,"id":"Q103204"},"type":"wikibase-entityid"}}],"P973":[{"snaktype":"value","property":"P973","hash":"6bf7b2d299b5e55bbbaa32063e58fd29585921df","datavalue":{"value":"https://www.flickr.com/photos/basknight/23894553008","type":"string"}}]},"qualifiers-order":["P137","P973"],"id":"M120069527$745AB45E-03E7-4B95-A07E-1D1AED3E3928","rank":"normal"}]}}},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=23894553008
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"fail\">\n\t<err
        code=\"2\" msg=\"Photo is private\" />\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-66880970-69c3bcfd45bac128774df87b;Root=1-66880970-1647ab34031141db2c721e93
      x-server:
      - serverless-proxy-10.78.25.238
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
  response:
    body:
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
- request:
    body: action=wbeditentity&site=commonswiki&title=File%3ANYCC2017+000bas+%2823894553008%29.jpg&data=%7B%22claims%22%3A+%5B%7B%22mainsnak%22%3A+%7B%22datavalue%22%3A+%7B%22value%22%3A+%2223894553008%22%2C+%22type%22%3A+%22string%22%7D%2C+%22property%22%3A+%22P12120%22%2C+%22snaktype%22%3A+%22value%22%7D%2C+%22type%22%3A+%22statement%22%7D%5D%7D&summary=Update+the+%5B%5BCommons%3AStructured+data%7Cstructured+data%5D%5D+based+on+metadata+from+Flickr&tags=BotSDC&maxlag=2&bot=1&format=json&token=%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    body:
      string: '{"entity":{"type":"mediainfo","id":"M120069527","labels":{},"descriptions":{},"statements":{"P4082":[{"mainsnak":{"snaktype":"value","property":"P4082","hash":"97ab3a0149829a4b4732509819ede89fad23d311","datavalue":{"value":{"entity-type":"item","numeric-id":64100,"id":"Q64100"},"type":"wikibase-entityid"}},"type":"statement","id":"M120069527$E13F6B1B-78EC-4B9C-A91C-7A9EBC97B8D4","rank":"normal"}],"P6757":[{"mainsnak":{"snaktype":"value","property":"P6757","hash":"2d27f5e4e4fcfe3211a9ebb1f0dbb207f5810476",[...]
[...]
