interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fspike_yun%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"132051449@N06\">\n\t<username>Jeong Vin, Yoon</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=132051449%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"132051449@N06\" nsid=\"132051449@N06\" ispro=\"0\" is_deleted=\"0\" iconserver=\"8752\"
      iconfarm=\"9\" path_alias=\"spike_yun\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>Jeong Vin, Yoon</username>\n\t<realname>Jeong
      Vin Yoon</realname>\n\t<location />\n\t<timezone label=\"Kuwait, Riyadh\" offset=\"+03:00\"
      timezone_id=\"Asia/Kuwait\" timezone=\"40\" />\n\t<description />\n\t<photosurl>https://www.flickr.com/photos/spike_yun/</photosurl>\n\t<profileurl>https://www.flickr.com/people/spike_yun/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=132006127</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2014-03-16
      18:57:37</firstdatetaken>\n\t\t<firstdate>1431506258</firstdate>\n\t\t<count>352</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Curl_q&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72157677773252346&user_id=132051449%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157677773252346\" primary=\"22905488190\" owner=\"132051449@N06\" ownername=\"Jeong
      Vin, Yoon\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"9\" title=\"\uD3EC\uD2B8\uD3F4\uB9AC\uC624
      \uC81C\uC791\uC6A9\" total=\"84\">\n\t<photo id=\"18250964001\" secret=\"df26421e40\"
      server=\"7738\" farm=\"8\" title=\"Seoul\" isprimary=\"0\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"0\" dateupload=\"1474870380\" datetaken=\"2015-05-18
      16:11:59\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"Jeong
      Vin, Yoon\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/7738/18250964001_df26421e40_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.sta[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157677773252346&user_id=132051449%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157677773252346\" owner=\"132051449@N06\" username=\"Jeong Vin, Yoon\"
      primary=\"22905488190\" secret=\"1d41a842cb\" server=\"5629\" farm=\"6\" count_views=\"18\"
      count_comments=\"0\" count_photos=\"84\" count_videos=\"0\" can_comment=\"0\"
      date_create=\"1481807449\" date_update=\"1521352415\" photos=\"84\" visibility_can_see_set=\"1\"
      needs_interstitial=\"0\">\n\t<title>\uD3EC\uD2B8\uD3F4\uB9AC\uC624 \uC81C\uC791\uC6A9</title>\n\t<description
      />\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157677773252346&user_id=132051449%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157677773252346\" owner=\"132051449@N06\" username=\"Jeong Vin, Yoon\"
      primary=\"22905488190\" secret=\"1d41a842cb\" server=\"5629\" farm=\"6\" count_views=\"18\"
      count_comments=\"0\" count_photos=\"84\" count_videos=\"0\" can_comment=\"0\"
      date_create=\"1481807449\" date_update=\"1521352415\" photos=\"84\" visibility_can_see_set=\"1\"
      needs_interstitial=\"0\">\n\t<title>\uD3EC\uD2B8\uD3F4\uB9AC\uC624 \uC81C\uC791\uC6A9</title>\n\t<description
      />\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
