interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias&gallery_id=72157716953066942&get_gallery_info=1&method=flickr.galleries.getPhotos&page=1&per_page=100
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"5\" perpage=\"100\" total=\"484\">\n\t<photo id=\"52211834324\"
      owner=\"96657002@N06\" secret=\"0e8fbd07af\" server=\"65535\" farm=\"66\" title=\"African
      Wild Dog\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1657637942\" datetaken=\"2021-09-28 11:20:25\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"Rckr88\" tags=\"krugernationalpark southafrica
      kruger national park south africa african wild dog africanwilddog africanwilddogs
      dogs wilddogs w[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
