interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fspike_yun
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"132051449@N06\">\n\t<username>Jeong Vin, Yoon</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=132051449%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"132051449@N06\" nsid=\"132051449@N06\" ispro=\"0\" is_deleted=\"0\" iconserver=\"8752\"
      iconfarm=\"9\" path_alias=\"spike_yun\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>Jeong Vin, Yoon</username>\n\t<realname>Jeong
      Vin Yoon</realname>\n\t<location />\n\t<timezone label=\"Kuwait, Riyadh\" offset=\"+03:00\"
      timezone_id=\"Asia/Kuwait\" timezone=\"40\" />\n\t<description />\n\t<photosurl>https://www.flickr.com/photos/spike_yun/</photosurl>\n\t<profileurl>https://www.flickr.com/people/spike_yun/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=132006127</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2014-03-16
      18:57:37</firstdatetaken>\n\t\t<firstdate>1431506258</firstdate>\n\t\t<count>352</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.people.getPublicPhotos&page=1&per_page=100&user_id=132051449%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4\" perpage=\"100\" total=\"352\">\n\t<photo id=\"41748863770\"
      owner=\"132051449@N06\" secret=\"7f960f7368\" server=\"840\" farm=\"1\" title=\"zurich
      HB\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1532219122\" datetaken=\"2018-07-16 16:53:51\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"Jeong Vin, Yoon\" realname=\"Jeong Vin Yoon\"
      tags=\"\" originalsecret=\"7baab4e80e\" originalformat=\"jpg\" latitude=\"0\"
      longitude=\"0\" accuracy=\"0\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
