interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2F150102727%40N06%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"150102727@N06\">\n\t<username>Ninara31</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=150102727%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"150102727@N06\" nsid=\"150102727@N06\" ispro=\"1\" is_deleted=\"0\" iconserver=\"513\"
      iconfarm=\"1\" path_alias=\"\" has_stats=\"0\" pro_badge=\"standard\" expire=\"0\"
      has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Ninara31</username>\n\t<realname>Nina
      R</realname>\n\t<location>Africa</location>\n\t<timezone label=\"Bangkok, Hanoi,
      Jakarta\" offset=\"+07:00\" timezone_id=\"Asia/Bangkok\" timezone=\"55\" />\n\t<description>Thank
      you for your visits, faves and comments. \n\nI have been working in Asia and
      Africa. \n\nMost of my pictures are licenced with CC-BY (some rights reserved).
      \ It means that you are allowed to use the photos without asking for permission,
      but please credit the photos to the author (= Nina R) if possible. \nThe pictures
      with people are mostly &amp;quot;all rights reserved&amp;quot;, which means:
      not allowed to use. \nIf you have questions, contact me by Flickr mail.\n\n______________\n\n\nNina
      is busy working and travelling in Africa. Usually, her mother makes post-processing
      of the photos for her.</description>\n\t<photosurl>https://www.flickr.com/photos/150102727@N06/</photosurl>\n\t<profileurl>https://www.flickr.com/people/150102727@N06/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=150057405</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2015-02-20
      13:40:53</firstdatetaken>\n\t\t<firstdate>1481389511</firstdate>\n\t\t<count>5429</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72157700908640782&user_id=150102727%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157700908640782\" primary=\"32245604208\" owner=\"150102727@N06\" ownername=\"Ninara31\"
      page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"24\" title=\"Kenya Safari\"
      total=\"236\">\n\t<photo id=\"53350921179\" secret=\"48e0e15d1b\" server=\"65535\"
      farm=\"66\" title=\"Shimba Hills, Kenya\" isprimary=\"0\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"4\" safety_level=\"0\" dateupload=\"1700742804\" datetaken=\"2022-10-20
      09:15:49\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"Ninara31\"
      realname=\"Nina R\" tags=\"kenya safari shimbahills giriama waterfall sheldrickfalls\"
      originalsecret=\"9fc92d34f0\" originalformat=\"jpg\" lat[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157700908640782&user_id=150102727%40N06
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157700908640782\" owner=\"150102727@N06\" username=\"Ninara31\" primary=\"32245604208\"
      secret=\"09a54cdd37\" server=\"4896\" farm=\"5\" count_views=\"123\" count_comments=\"0\"
      count_photos=\"236\" count_videos=\"0\" can_comment=\"0\" date_create=\"1543581851\"
      date_update=\"1700743947\" photos=\"236\" visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>Kenya
      Safari</title>\n\t<description>Shimba Hills\nTsavo West\nKichaka\nNakuru\nSamburu\n</description>\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
