interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=5536044022
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"5536044022\" secret=\"7e6f0df667\" server=\"5137\" farm=\"6\" dateuploaded=\"1300402940\"
      isfavorite=\"0\" license=\"5\" safety_level=\"0\" rotation=\"0\" originalsecret=\"44d052df5a\"
      originalformat=\"jpg\" views=\"2833\" media=\"photo\">\n\t<owner nsid=\"32834977@N03\"
      username=\"Al Jazeera English\" realname=\"Al Jazeera English\" location=\"\"
      iconserver=\"3279\" iconfarm=\"4\" path_alias=\"aljazeeraenglish\">\n\t\t<gift
      gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>IMG_1348</title>\n\t<description
      />\n\t<visibility ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates
      posted=\"1300402940\" taken=\"2011-03-04 15:44:00\" takengranularity=\"0\" takenunknown=\"0\"
      lastupdate=\"1372387671\" />\n\t<editability cancomment=\"0\" canaddmeta=\"0\"
      />\n\t<publiceditability cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\"
      canblog=\"0\" canprint=\"0\" canshare=\"1\" />\n\t<comments>2</comments>\n\t<notes
      />\n\t<people haspeople=\"0\" />\n\t<tags />\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/aljazeeraenglish/5536044022/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=5536044022
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/5137/5536044022_7e6f0df667_s.jpg\"
      url=\"https://www.flickr.com/photos/aljazeeraenglish/5536044022/sizes/sq/\"
      media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
      source=\"https://live.staticflickr.com/5137/5536044022_7e6f0df667_q.jpg\" url=\"https://www.flickr.com/photos/aljazeeraenglish/5536044022/sizes/q/\"
      media=\"photo\" />\n\t<size label=\"Thumbnail\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
