interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"c2ced2ec9ff92b7b3c1b430d8f02ad556529282b+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=wbsetlabel&site=commonswiki&title=File%3A%21%21%21.jpg&language=en&value=A+file+that+doesn%27t+actually+exist+in+Wiki+Commons&format=json&token=c2ced2ec9ff92b7b3c1b430d8f02ad556529282b%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"error":{"code":"no-such-entity-link","info":"Could not find an Item
      containing a sitelink to the provided site and page name.","messages":[{"name":"wikibase-api-no-such-entity-link","parameters":[],"html":{"*":"Could
      not find an Item containing a sitelink to the provided site and page name."}}],"*":"See
      https://commons.wikimedia.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce
      mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
      for notice of API deprecations and breaking changes."},"servedby":"mw2302"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - no-such-entity-link
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
