interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3AWild-wadi.jpg&prop=text&format=json
  response:
    content: '{"parse":{"title":"File:Wild-wadi.jpg","pageid":60585,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=File:Wild-wadi.jpg&amp;action=edit&amp;section=1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<div
      class=\"description mw-content-ltr en\" dir=\"ltr\" lang=\"en\"><span class=\"language
      en\" title=\"English\"><b>English&#58; </b></span> The <a href=\"https://en.wikipedia.org/wiki/Wild_Wadi_Water_Park\"
      class=\"extiw\" title=\"en:Wild Wadi Water Park\">Wild Wadi Water Park</a> is
      situated in Jumeirah, an area in Dubai, United Arab Emirates. Wild Wadi is an
      outdoor water park that features a heated/cooled wave pool, several water slides
      and two artificial surfing machines.</div>\n<ul><li>Author: <a rel=\"nofollow\"
      class=\"external text\" href=\"https://www.flickr.com/photos/saudi/\">Saudi</a></li>\n<li>Source:
      <a rel=\"nofollow\" class=\"external text\" href=\"https://www.flickr.com/photos/saudi/4101549/\">Flickr</a></li></ul>\n<table
      class=\"toccolours mw-content-ltr layouttemplate commons-file-information-table\"
      style=\"width: 100%;\" dir=\"ltr\" lang=\"en\">\n<tbody><tr><th class=\"type
      fileinfo-paramfield\">Camera location</th><td style=\"border:none;\"><span class=\"plainlinks\"><span
      class=\"plainlinksneverexpand\"><a class=\"external text\" href=\"https://geohack.toolforge.org/geohack.php?pagename=File:Wild-wadi.jpg&amp;params=025.140382_N_0055.190111_E_globe:Earth_type:camera_region:AE_&amp;language=en\">25\u00b0&#160;08\u2032&#160;25.38\u2033&#160;N,
      55\u00b0&#160;11\u2032&#160;24.4\u2033&#160;E</a></span></span>&#160;<a class=\"mw-kartographer-maplink
      no-icon\" data-mw-kartographer=\"maplink\" data[...]
