interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=199561775%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"199561775@N05\" nsid=\"199561775@N05\" ispro=\"0\" is_deleted=\"0\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"flickypedia\" has_stats=\"0\" has_adfree=\"0\"
      has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>flickypedia</username>\n\t<realname>Flickypedia
      Bot</realname>\n\t<location>The Internet</location>\n\t<description>Hi, I\u2019m
      Flickypedia Bot! I\u2019m a bot run by the &lt;a href=&quot;https://flickr.org&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;Flickr Foundation&lt;/a&gt;.\n\nI post
      comments to tell photographers when their photos are being used on Wikimedia
      Commons. You can find out more about what I do at &lt;a href=&quot;https://flickr.org/tools/flickypedia&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;flickr.org/tools/flickypedia&lt;/a&gt;.</description>\n\t<photosurl>https://www.flickr.com/photos/flickypedia/</photosurl>\n\t<profileurl>https://www.flickr.com/people/flickypedia/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=199556435</mobileurl>\n\t<photos>\n\t\t<count>0</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
