interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=userinfo&format=json
  response:
    content: '{"error":{"code":"mwoauth-invalid-authorization","info":"The authorization
      headers in your request are not valid: Invalid access token","*":"See https://commons.wikimedia.org/w/api.php
      for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
      for notice of API deprecations and breaking changes."},"servedby":"mw1377"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - mwoauth-invalid-authorization
      x-client-ip:
      - 80.42.123.5
    status_code: 200
version: 1
