interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&meta=tokens&type=csrf&format=json
  response:
    content: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"983d4c710d793d24461853a5cfb801c3652ffb54+\\"}}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
- request:
    body: action=upload&filename=Yellow+fish+at+Houston+Zoo+aquarium.jpg&url=https%3A%2F%2Flive.staticflickr.com%2F6192%2F6054362864_a8f52ef695_o_d.jpg&text=A+yellow+fish&format=json&token=983d4c710d793d24461853a5cfb801c3652ffb54%2B%5C
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://commons.wikimedia.org/w/api.php
  response:
    content: '{"upload":{"result":"Warning","warnings":{"duplicate":["Yellow_Fin_(6054362864).jpg"]},"filekey":"1afkfn1e1h2g.cg6fd3.829939.","sessionkey":"1afkfn1e1h2g.cg6fd3.829939."}}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
