interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=126377022%40N07
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"126377022@N07\" nsid=\"126377022@N07\" ispro=\"1\" is_deleted=\"0\" iconserver=\"3852\"
        iconfarm=\"4\" path_alias=\"internetarchivebookimages\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"2025666000\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Internet
        Archive Book Images</username>\n\t<description>The Internet Archive, a 501(c)(3)
        non-profit, is building a digital library of Internet sites and other cultural
        artifacts in digital form. Like a paper library, we provide free access to
        researchers, historians, scholars, the print disabled, and the general public.\n\n&lt;a
        href=&quot;https://archive.org/&quot; rel=&quot;noreferrer nofollow&quot;&gt;archive.org/&lt;/a&gt;</description>\n\t<photosurl>https://www.flickr.com/photos/internetarchivebookimages/</photosurl>\n\t<profileurl>https://www.flickr.com/people/internetarchivebookimages/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/internetarchivebookimages/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1825-01-01
        00:00:00</firstdatetaken>\n\t\t<firstdate>1406334253</firstdate>\n\t\t<count>5328416</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6650622b-62c0d1a345593b362faf4c56;Root=1-6650622b-0ea400da4c1f2dac19c2cbee
      x-server:
      - serverless-proxy-10.78.32.246
    status:
      code: 200
      message: OK
version: 1
