interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=wbgetentities&sites=commonswiki&titles=File%3ADefinitelyDoesNotExist.jpg&format=json
  response:
    content: '{"entities":{"-1":{"site":"commonswiki","title":"File:DefinitelyDoesNotExist.jpg","missing":""}},"success":1}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
