interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=44124472424%40N01
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"44124472424@N01\" nsid=\"44124472424@N01\" ispro=\"0\" is_deleted=\"0\"
        iconserver=\"5059\" iconfarm=\"6\" path_alias=\"strangeinterlude\" has_stats=\"0\"
        has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>StrangeInterlude</username>\n\t<description
        />\n\t<photosurl>https://www.flickr.com/photos/strangeinterlude/</photosurl>\n\t<profileurl>https://www.flickr.com/people/strangeinterlude/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/strangeinterlude/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2002-01-01
        00:00:09</firstdatetaken>\n\t\t<firstdate>1090089009</firstdate>\n\t\t<count>268</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-66506376-5c0dba822c6510401811b5d6;Root=1-66506376-1738aae868e7aebd4799dfda
      x-server:
      - serverless-proxy-10.78.41.36
    status:
      code: 200
      message: OK
version: 1
