interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=65001151%40N03
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"65001151@N03\" nsid=\"65001151@N03\" ispro=\"1\" is_deleted=\"0\" iconserver=\"3824\"
        iconfarm=\"4\" path_alias=\"ajw1970\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>HawkeyeUK</username>\n\t<realname>Alan
        Wilson</realname>\n\t<location>Peterborough, Cambs, UK</location>\n\t<timezone
        label=\"GMT: Dublin, Edinburgh, Lisbon, London\" offset=\"+00:00\" timezone_id=\"Europe/London\"
        timezone=\"27\" />\n\t<description>A lifelong aviation enthusiast, this site
        serves as my own &#039;photo-blog&#039;. I generally photograph every aircraft
        I can, and will usually try to post at least 1 shot of each, depending on
        quality.\nUK based, I also travel in Europe and worldwide, attending airshows
        and visiting museums and airports. \nI have an enthusiasm for all aircraft,
        civil and military, large and small, old and new. \n\nGenerally, these pages
        will be aviation, I also have a love for steam engines and (thanks to my son)
        have recently become interested in tanks, so these will also appear from time
        to time!  \n\nAs well as my trusted D3200 pair, I also now have a D5500 which
        I will be getting to know over the next few months.\n\nFinally, many thanks
        for looking, it is much appreciated.\nAlan</description>\n\t<photosurl>https://www.flickr.com/photos/ajw1970/</photosurl>\n\t<profileurl>https://www.flickr.com/people/ajw1970/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/ajw1970/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1962-09-15
        00:00:00</firstdatetaken>\n\t\t<firstdate>1310209051</firstdate>\n\t\t<count>27413</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-66743d78-2632593a3f8cd5733bf2bb6b;Root=1-66743d78-31ae3d6c7ec151754e6fdb3c
      x-server:
      - serverless-proxy-10.78.6.229
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.wikidata.org/w/rest.php/wikibase/v0/entities/items/Q33132025
  response:
    body:
      string: '{"type":"item","labels":{"en":"Alan Wilson","es":"Alan Wilson","fr":"Alan
        Wilson","ar":"\u0623\u0644\u0627\u0646 \u0648\u064a\u0644\u0633\u0648\u0646","ru":"\u0410\u043b\u0430\u043d
        \u0423\u0438\u043b\u0441\u043e\u043d","ast":"Alan Wilson","af":"Alan Wilson","an":"Alan
        Wilson","bar":"Alan Wilson","bm":"Alan Wilson","br":"Alan Wilson","ca":"Alan
        Wilson","co":"Alan Wilson","cs":"Alan Wilson","cy":"Alan Wilson","da":"Alan
        Wilson","de":"Alan Wilson","de-at":"Alan Wilson","de-ch":"Alan Wilson","en-ca":"Alan
        Wilson","en-gb":"Alan Wilson","eo":"Alan Wilson","et":"Alan Wilson","eu":"Alan
        Wilson","fi":"Alan Wilson","frc":"Alan Wilson","frp":"Alan Wilson","fur":"Alan
        Wilson","ga":"Alan Wilson","gd":"Alan Wilson","gl":"Alan Wilson","gsw":"Alan
        Wilson","hr":"Alan Wilson","hu":"Alan Wilson","ia":"Alan Wilson","id":"Alan
        Wilson","ie":"Alan Wilson","io":"Alan Wilson","it":"Alan Wilson","jam":"Alan
        Wilson","kab":"Alan Wilson","kg":"Alan Wilson","lb":"Alan Wilson","li":"Alan
        Wilson","lij":"Alan Wilson","lt":"Alan Wilson","mg":"Alan Wilson","min":"Alan
        Wilson","ms":"Alan Wilson","nap":"Alan Wilson","nb":"Alan Wilson","nds":"Alan
        Wilson","nds-nl":"Alan Wilson","nl":"Alan Wilson","nn":"Alan Wilson","nrm":"Alan
        Wilson","oc":"Alan Wilson","pap":"Alan Wilson","pcd":"Alan Wilson","pl":"Alan
        Wilson","pms":"Alan Wilson","prg":"Alan Wilson","pt":"Alan Wilson","pt-br":"Alan
        Wilson","rgn":"Alan Wilson","rm":"Alan Wilson","ro":"Alan Wilson","sc":"Alan
        Wilson","scn":"Alan Wilson","sco":"Alan Wilson","sk":"Alan Wilson","sv":"Alan
        Wilson","sw":"Alan Wilson","tr":"Alan Wilson","vec":"Alan Wilson","vi":"Alan
        Wilson","vls":"Alan Wilson","vmf":"Alan Wilson","vo":"Alan Wilson","wa":"Alan
        Wilson","wo":"Alan Wilson","zu":"Alan Wilson","sq":"Alan Wilson","sl":"Alan
        Wilson","bn":"\u0985\u09cd\u09af\u09be\u09b2\u09be\u09a8 \u0989\u0987\u09b2\u09b8\u09a8"},"descriptions":{"en":"photographer
        from the UK","nl":"fotograaf","es":"fot\u00f3grafo brit\u00e1nico","ast":"fot\u00f3grafu
        brit\u00e1nicu","ca":"fot\u00f2graf brit\u00e0nic","gl":"fot\u00f3grafo brit\u00e1nico","fr":"photographe
        britannique","it":"fotografo britannico","pt":"fot\u00f3grafo brit\u00e2nico","eu":"argazkilari
        britainiarra"},"aliases":{},"statements":{"P31":[{"id":"Q33132025$a8a29439-4f0e-4d15-f0b9-fe1c5dfd0aa4","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P31","data-type":"wikibase-item"},"value":{"type":"value","content":"Q5"}}],"P21":[{"id":"Q33132025$581b9279-46fd-c7e5-5cef-6bcae34959e9","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P21","data-type":"wikibase-item"},"value":{"type":"value","content":"Q6581097"}}],"P106":[{"id":"Q33132025$0f9920b5-4ce2-7429-ed68-ff3453a95a2c","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P106","data-type":"wikibase-item"},"value":{"type":"value","content":"Q33231"}}],"P19":[{"id":"Q33132025$264468c1-4b1e-7305-0213-05019746f258","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P19","data-type":"wikibase-item"},"value":{"type":"value","content":"Q1185203"}}],"P735":[{"id":"Q33132025$85deba47-4123-e382-e20b-80a353cadc33","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P735","data-type":"wikibase-item"},"value":{"type":"value","content":"Q294833"}}],"P734":[{"id":"Q33132025$ef76dc77-4e0a-4480-c809-c39810022bf1","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P734","data-type":"wikibase-item"},"value":{"type":"value","content":"Q1645480"}}],"P3267":[{"id":"Q33132025$a2875bd2-4620-50ed-aa61-0d69827eb8b0","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P3267","data-type":"external-id"},"value":{"type":"value","content":"65001151@N03"}}],"P1472":[{"id":"Q33132025$d2b63d03-431f-772b-c66c-9e548b7f453f","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P1472","data-type":"string"},"value":{"type":"value","content":"Alan
        Wilson"}}],"P373":[{"id":"Q33132025$6fb6b322-4439-ec0a-5b3b-e09f3a663440","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P373","data-type":"string"},"value":{"type":"value","content":"Alan
        Wilson (photographer)"}}],"P27":[{"id":"Q33132025$38d9e37a-4c03-263c-17ee-53fa37ce52df","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P27","data-type":"wikibase-item"},"value":{"type":"value","content":"Q145"}}],"P6379":[{"id":"Q33132025$0A1AA8D0-343D-4317-A594-0EB9CA827409","rank":"normal","qualifiers":[],"references":[{"hash":"fb6bec06afbeb335639035d34f25ff9f0d87e023","parts":[{"property":{"id":"P10253","data-type":"commonsMedia"},"value":{"type":"value","content":"Nakajima
        Ki-43 Hayabusa (8034054608).jpg"}},{"property":{"id":"P813","data-type":"time"},"value":{"type":"value","content":{"time":"+2021-02-23T00:00:00Z","precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"}}}]},{"hash":"c077dc8e835b642ac20945f79cc90b7a24a4cb42","parts":[{"property":{"id":"P10253","data-type":"commonsMedia"},"value":{"type":"value","content":"Nakajima
        Ki-43 Hayabusa (8034054608).jpg"}},{"property":{"id":"P813","data-type":"time"},"value":{"type":"value","content":{"time":"+2021-02-24T00:00:00Z","precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"}}}]}],"property":{"id":"P6379","data-type":"wikibase-item"},"value":{"type":"value","content":"Q190694"}}],"P1412":[{"id":"Q33132025$56B7F07B-1A38-44B7-96B8-644C98510075","rank":"normal","qualifiers":[],"references":[],"property":{"id":"P1412","data-type":"wikibase-item"},"value":{"type":"value","content":"Q1860"}}]},"sitelinks":{"commonswiki":{"title":"Category:Alan
        Wilson (photographer)","badges":[],"url":"https://commons.wikimedia.org/wiki/Category:Alan_Wilson_(photographer)"}},"id":"Q33132025"}'
    headers:
      content-type:
      - application/json
      etag:
      - W/"1685388570"
      last-modified:
      - Fri, 22 Jul 2022 20:33:55 GMT
      x-client-ip:
      - 81.131.37.170
    status:
      code: 200
      message: OK
version: 1
