interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://query.wikidata.org/sparql?format=json&query=PREFIX%20wdt%3A%20%3Chttp%3A%2F%2Fwww.wikidata.org%2Fprop%2Fdirect%2F%3E%0A%0A%20%20%20%20%20%20%20%20SELECT%20%3Fitem%20WHERE%20%7B%0A%20%20%20%20%20%20%20%20%20%20%7B%20%3Fitem%20wdt%3AP3267%20%2230884892%40N08%22%20.%20%7D%0A%20%20%20%20%20%20%20%20%20%20UNION%0A%20%20%20%20%20%20%20%20%20%20%7B%20%3Fitem%20wdt%3AP3267%20%22U.S.%20Coast%20Guard%22%20.%20%7D%0A%20%20%20%20%20%20%20%20%7D
  response:
    content: "{\n  \"head\" : {\n    \"vars\" : [ \"item\" ]\n  },\n  \"results\"
      : {\n    \"bindings\" : [ ]\n  }\n}"
    headers:
      content-type:
      - application/sparql-results+json;charset=utf-8
      x-client-ip:
      - 92.13.36.200
      x-first-solution-millis:
      - '2'
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.wikidata.org/w/rest.php/wikibase/v0/entities/items/Q19652
  response:
    content: '{"type":"item","labels":{"lb":"Domaine public","zh":"\u516c\u6709\u9886\u57df","jv":"Domain
      umum","eu":"jabetza publiko","pl":"domena publiczna","ig":"Public domain","bs":"Javno
      vlasni\u0161tvo","es":"dominio p\u00fablico","ta":"\u0baa\u0bca\u0ba4\u0bc1
      \u0b89\u0bb0\u0bbf\u0bae\u0bc8\u0baa\u0bcd \u0baa\u0bb0\u0baa\u0bcd\u0baa\u0bc1","af":"Publieke
      domein","ms":"domain awam","hu":"k\u00f6zkincs","sq":"Domen publik","el":"\u03ba\u03bf\u03b9\u03bd\u03cc
      \u03ba\u03c4\u03ae\u03bc\u03b1","ia":"Dominio public","sv":"public domain","nl":"publiek
      domein","ar":"\u0646\u0637\u0627\u0642 \u0639\u0627\u0645","pt":"dom\u00ednio
      p\u00fablico","eo":"publika hava\u0135o","is":"Almenningur","ru":"\u043e\u0431\u0449\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u043e\u0435
      \u0434\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0435","sr":"\u0458\u0430\u0432\u043d\u043e
      \u0432\u043b\u0430\u0441\u043d\u0438\u0448\u0442\u0432\u043e","ast":"dominiu
      p\u00fablicu","diq":"Mal\u00ea \u015fari","ckb":"\u067e\u0627\u0648\u0627\u0646\u06cc
      \u06af\u0634\u062a\u06cc","tr":"kamu mal\u0131","mk":"\u0458\u0430\u0432\u043d\u0430
      \u0441\u043e\u043f\u0441\u0442\u0432\u0435\u043d\u043e\u0441\u0442","fi":"public
      domain","uk":"\u0441\u0443\u0441\u043f\u0456\u043b\u044c\u043d\u0435 \u043d\u0430\u0434\u0431\u0430\u043d\u043d\u044f","be-tarask":"\u0433\u0440\u0430\u043c\u0430\u0434\u0437\u043a\u0456
      \u043d\u0430\u0431\u044b\u0442\u0430\u043a","nn":"offentleg eigedom","sah":"\u041a\u0438\u04bb\u0438-\u0430\u0439\u043c\u0430\u0445
      \u0431\u0430\u0441 \u0431\u0438\u043b\u0438\u0438\u0442\u044d","gu":"Public
      domain","az":"ictimai varidat","hr":"javno vlasni\u0161tvo","tl":"Pampublikong
      dominyo","da":"Public domain","gsw":"Gemeinfreiheit","fr":"domaine public","be":"\u0433\u0440\u0430\u043c\u0430\u0434\u0441\u043a\u0456
      \u043d\u0430\u0431\u044b\u0442\u0430\u043a","he":"\u05e8\u05e9\u05d5\u05ea \u05d4\u05e6\u05d9\u05d1\u05d5\u05e8","ko":"\ud37c\ube14\ub9ad
      \ub3c4\uba54\uc778","yo":"Ohun \u00ecgboro","bar":"Gmoafreiheit","lv":"neaizsarg\u0101jams
      darbs","li":"Publiek domein","it":"pubblico dominio","gl":"dominio p\u00fablico","de":"Gemeinfreiheit","id":"domain
      publik","ja":"\u30d1\u30d6\u30ea\u30c3\u30af\u30c9\u30e1\u30a4\u30f3","ml":"\u0d2a\u0d4a\u0d24\u0d41\u0d38\u0d1e\u0d4d\u0d1a\u0d2f\u0d02","vi":"ph\u1ea1m
      vi c\u00f4ng c\u1ed9ng","sh":"Javno vlasni\u0161tvo","hi":"\u0938\u093e\u0930\u094d\u0935\u091c\u0928\u093f\u0915
      \u0921\u094b\u092e\u0947\u0928","sk":"public domain","hy":"\u0570\u0561\u0576\u0580\u0578\u0582\u0569\u0575\u0561\u0576
      \u057d\u0565\u0583\u0561\u056f\u0561\u0576\u0578\u0582\u0569\u0575\u0578\u0582\u0576","ro":"domeniu
      public","th":"\u0e2a\u0e32\u0e18\u0e32\u0e23\u0e13\u0e2a\u0e21\u0e1a\u0e31\u0e15\u0e34","nds-nl":"pebliek
      domein","ca":"domini p\u00fablic","la":"Dominium publicum","fo":"Almenn ogn","sl":"javna
      domena","cs":"voln\u00e9 d\u00edlo","fa":"\u0645\u0627\u0644\u06a9\u06cc\u062a
      \u0639\u0645\u0648\u0645\u06cc","bg":"\u041e\u0431\u0449\u0435\u0441\u0442\u0432\u0435\u043d\u043e
      \u0434\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u0435","mr":"\u0938\u093e\u0930\u094d\u0935\u091c\u0928\u093f\u0915","lo":"\u0eaa\u0eb2\u0e97\u0eb2\u0ea5\u0eb0\u0e99\u0eb0\u0eaa\u0ebb\u0ea1\u0e9a\u0eb1\u0e94","ur":"\u062f\u0627\u0626\u0631\u06c1
      \u0639\u0627\u0645","ka":"\u10e1\u10d0\u10e7\u10dd\u10d5\u10d4\u10da\u10d7\u10d0\u10dd
      \u10e1\u10d0\u10d9\u10e3\u10d7\u10e0\u10d4\u10d1\u10d0","lt":"Vie\u0161o naudojimo
      re\u017eimas","zh-cn":"\u516c\u6709\u9886\u57df","zh-hans":"\u516c\u6709\u9886\u57df","zh-hant":"\u516c\u6709\u9818\u57df","en-ca":"Public
      domain","en-gb":"public domain","nb":"offentlig eiendom","oc":"Domeni public","sr-ec":"\u0458\u0430\u0432\u043d\u043e
      \u0432\u043b\u0430\u0441\u043d\u0438\u0448\u0442\u0432\u043e","ceb":"Dominyong
      publiko","et":"Avalik omand","yue":"\u516c\u5bb6\u9818\u57df","ilo":"dominio
      a publiko","te":"\u0c38\u0c3e\u0c30\u0c4d\u0c35\u0c1c\u0c28\u0c3f\u0c15 \u0c2a\u0c30\u0c3f\u0c27\u0c3f","qu":"Sapsi
      Chaskinancha","udm":"\u041c\u0435\u0440 \u0432\u0430\u043d\u044c\u0431\u0443\u0440","cy":"y
      parth cyhoeddus","bn":"\u09aa\u09be\u09ac\u09b2\u09bf\u0995 \u09a1\u09cb\u09ae\u09c7\u0987\u09a8","zh-sg":"\u516c\u6709\u9886\u57df","zh-hk":"\u516c\u6709\u9818\u57df","zh-mo":"\u516c\u6709\u9818\u57df","zh-tw":"\u516c\u6709\u9818\u57df","tg":"\u043c\u043e\u043b\u0438\u043a\u0438\u044f\u0442\u0438
      \u0443\u043c\u0443\u043c","io":"Publika domeno","sd":"\u0639\u0648\u0627\u0645\u064a
      \u06a9\u0627\u062a\u0648","arz":"\u0645\u0644\u0643\u064a\u0647 \u0639\u0627\u0645\u0647","ga":"An
      fearann poibl\u00ed","uz":"Jamoat mulki","yi":"\u05e8\u05e9\u05d5\u05ea \u05d4\u05e8\u05d1\u05d9\u05dd","as":"\u09f0\u09be\u099c\u09b9\u09c1\u09f1\u09be
      \u0995\u09cd\u09b7\u09c7\u09a4\u09cd\u09f0","pt-br":"dom\u00ednio p\u00fablico","wuu":"\u516c\u6709\u9886\u57df","en":"public
      domain","tt":"\u0438\u0497\u0442\u0438\u043c\u0430\u0433\u044b\u0439 \u043c\u0438\u043b\u0435\u043a","br":"domani
      foran","scn":"Duminiu p\u00f9bbricu","wa":"Dominne publik (ouves dizo abondroets)","ku":"Milkiyeta
      gi\u015ft\u00ee","kab":"ta\u0263ult tazayezt","mni":"\uabc3\uabe4\uabcc\uabe5\uabdd\uabd2\uabe4
      \uabca\uabe5\uabdb\uabc7 \uabc2\uabe9\uabd5","ms-arab":"\u062f\u0648\u0645\u0627\u0621\u064a\u0646
      \u0639\u0648\u0627\u0645","ary":"\u0636\u0648\u0645\u064a\u0646 \u0639\u0627\u0645","ks":"\u0639\u064e\u0648\u0672\u0645\u06cc
      \u0688\u0648\u0645\u06cc\u0656\u0646","si":"\u0db4\u0ddc\u0daf\u0dd4 \u0dc0\u0dc3\u0db8","en-us":"public
      domain","zh-my":"\u516c\u6709\u9886\u57df"},"descriptions":{"nb":"\u00e5ndsverk
      som ingen har enerett til \u00e5 r\u00e5de over","hu":"szellemi alkot\u00e1sokra
      vonatkoz\u00f3 (leggyakrabban szerz\u0151i jogi) fogalom, olyan m\u0171vet,
      alkot\u00e1st jelent, amelynek felhaszn\u00e1l\u00e1s\u00e1ra a jog nem \u00edr
      el\u0151 korl\u00e1toz\u00e1st","es":"patrimonio intelectual que est\u00e1 libre
      de toda exclusividad en su acceso y utilizaci\u00f3n","de":"Werke, welche keinem
      Urheberrecht unterliegen","fr":"statut des \[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.wikidata.org/w/rest.php/wikibase/v0/entities/items/Q30
  response:
    content: '{"type":"item","labels":{"el":"\u0397\u03bd\u03c9\u03bc\u03ad\u03bd\u03b5\u03c2
      \u03a0\u03bf\u03bb\u03b9\u03c4\u03b5\u03af\u03b5\u03c2 \u0391\u03bc\u03b5\u03c1\u03b9\u03ba\u03ae\u03c2","ay":"Istadus
      Unidus","pnb":"\u0627\u0645\u0631\u06cc\u06a9\u0627","na":"Eben Merika","mk":"\u0421\u0410\u0414","zu":"IMelika","bpy":"\u09a4\u09bf\u09b2\u09aa\u09be\u09b0\u09be\u09b7\u09cd\u099f\u09cd\u09b0","lt":"Jungtin\u0117s
      Amerikos Valstijos","jam":"Yunaitid Stiet","sk":"Spojen\u00e9 \u0161t\u00e1ty
      americk\u00e9","atj":"Kitci mokoman aski","so":"Gobolada Isku Tegay ee Ameerika","tl":"Estados
      Unidos ng Amerika","uk":"\u0421\u043f\u043e\u043b\u0443\u0447\u0435\u043d\u0456
      \u0428\u0442\u0430\u0442\u0438 \u0410\u043c\u0435\u0440\u0438\u043a\u0438","tt":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430
      \u041a\u0443\u0448\u043c\u0430 \u0428\u0442\u0430\u0442\u043b\u0430\u0440\u044b","sc":"Istados
      Unidos de Am\u00e8rica","pcd":"\u00c9tats-Unis Anm\u00e9rikes","ff":"Dowlaaji
      Dentu\u0257i","za":"Meijgoz","yo":"\u00c0w\u1ecdn \u00ccp\u00ednl\u1eb9\u0300
      A\u1e63\u1ecd\u0300kan Am\u1eb9\u0301r\u00edk\u00e0","ext":"Estaus Unius","ky":"\u0410\u041a\u0428","es":"Estados
      Unidos","or":"\u0b2f\u0b41\u0b15\u0b4d\u0b24\u0b30\u0b3e\u0b37\u0b4d\u0b1f\u0b4d\u0b30
      \u0b06\u0b2e\u0b47\u0b30\u0b3f\u0b15\u0b3e","myv":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u044c
      \u0412\u0435\u0439\u0442\u044c\u0441\u044d\u043d\u0434\u044f\u0432\u043a\u0441
      \u0428\u0442\u0430\u0442\u0442\u043d\u044d","yi":"\u05e4\u05d0\u05e8\u05d0\u05d9\u05d9\u05e0\u05d9\u05e7\u05d8\u05e2
      \u05e9\u05d8\u05d0\u05d8\u05df \u05e4\u05d5\u05df \u05d0\u05de\u05e2\u05e8\u05d9\u05e7\u05e2","ga":"St\u00e1it
      Aontaithe Mheirice\u00e1","csb":"Zjedn\u00f3n\u00e9 Kraje Americzi","mg":"Etazonia","st":"United
      States of America","gan":"\u7f8e\u570b","pfl":"Verainischde Schdaade vun Ameriga","glk":"\u0622\u0645\u0631\u06cc\u06a9\u0627","rw":"Leta
      Zunze Ubumwe z\u2019Amerika","sco":"Unitit States","sgs":"JAV","ltg":"Amerikys
      Sa\u0161kierstuos Va\u013csteibys","nv":"W\u00e1\u00e1shindoon Bik\u00e9yah
      A\u0142hidadiidzoo\u00edg\u00ed\u00ed","zh-sg":"\u7f8e\u56fd","sl":"Zdru\u017eene
      dr\u017eave Amerike","az":"Amerika Birl\u0259\u015fmi\u015f \u015etatlar\u0131","mzn":"\u0645\u062a\u062d\u062f\u0647
      \u0627\u06cc\u0627\u0644\u0627\u062a \u0622\u0645\u0631\u06cc\u06a9\u0627","zh":"\u7f8e\u570b","min":"Amerika
      Sarikat","kn":"\u0c85\u0cae\u0cc7\u0cb0\u0cbf\u0c95 \u0cb8\u0c82\u0caf\u0cc1\u0c95\u0ccd\u0ca4
      \u0cb8\u0c82\u0cb8\u0ccd\u0ca5\u0cbe\u0ca8","nl":"Verenigde Staten van Amerika","lez":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u0434\u0438\u043d
      \u0421\u0430\u0434\u0445\u044c\u0430\u043d\u0432\u0430\u0439 \u0428\u0442\u0430\u0442\u0430\u0440","tn":"USA","ast":"Estaos
      Xun\u00edos","bm":"Amerika ka Kelenyalen Jamanaw","ta":"\u0b85\u0bae\u0bc6\u0bb0\u0bbf\u0b95\u0bcd\u0b95
      \u0b90\u0b95\u0bcd\u0b95\u0bbf\u0baf \u0ba8\u0bbe\u0b9f\u0bc1","jv":"Am\u00e9rikah
      Sar\u00e9kat","xh":"IYunayithedi Steyitsi","hi":"\u0938\u0902\u092f\u0941\u0915\u094d\u0924
      \u0930\u093e\u091c\u094d\u092f \u0905\u092e\u0947\u0930\u093f\u0915\u093e","he":"\u05d0\u05e8\u05e6\u05d5\u05ea
      \u05d4\u05d1\u05e8\u05d9\u05ea","mn":"\u0410\u043c\u0435\u0440\u0438\u043a\u0438\u0439\u043d
      \u041d\u044d\u0433\u0434\u0441\u044d\u043d \u0423\u043b\u0441","gag":"Amerika
      Birle\u015fik Devletl\u00e4ri","ha":"Tarayyar Amurka","crh":"Amerika Qo\u015fma
      Devletleri","vls":"Ver\u00eanigde Stoaten van Amerika","ms":"Amerika Syarikat","din":"Pawuut
      Matiic","bjn":"Amirika Serikat","ro":"Statele Unite ale Americii","bho":"\u0905\u092e\u0947\u0930\u093f\u0915\u093e","av":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043b\u044a\u0443\u043b
      \u0426\u043e\u043b\u044a\u0430\u0440\u0430\u043b \u0428\u0442\u0430\u0442\u0430\u043b","lb":"USA","en-gb":"United
      States of America","kaa":"Amerika Qurama Shtatlar\u0131","vro":"Ameeriga \u00dctisriigiq","stq":"Fereende
      Stoaten fon Amerikoa","aeb-arab":"\u0623\u0645\u0631\u064a\u0643\u064a\u0627","lo":"\u0eaa\u0eb0\u0eab\u0eb0\u0ea5\u0eb1\u0e94","sw":"Marekani","nds":"Verenigten
      Staten vun Amerika","ksh":"Vereenichde Staate van Amerika","bcl":"Estados Unidos","gor":"Amerika
      Serikat","da":"USA","ca":"Estats Units d''Am\u00e8rica","crh-latn":"Amerika
      Qo\u015fma \u015etatlar\u0131","lv":"Amerikas Savienot\u0101s Valstis","got":"\ud800\udf31\ud800\udf30\ud800\udf3d\ud800\udf33\ud800\udf30\ud800\udf42\ud800\udf34\ud800\udf39\ud800\udf3a\ud800\udf3e\ud800\udf30","de-at":"Vereinigte
      Staaten","tcy":"\u0c85\u0cae\u0cc7\u0cb0\u0cbf\u0c95\u0ca6 \u0cb8\u0c82\u0caf\u0cc1\u0c95\u0ccd\u0ca4
      \u0cb8\u0c82\u0cb8\u0ccd\u0ca5\u0cbe\u0ca8\u0cca\u0cb2\u0cc1","ady":"\u0410\u043c\u0435\u0440\u0438\u043a\u044d
      \u0428\u0442\u0430\u0442 \u0417\u044d\u0445\u044d\u0442\u0445\u044d\u0440","ty":"Fenua
      Marite","gv":"Steatyn Unnaneysit America","kbp":"Etaazuunii","pt-br":"Estados
      Unidos","ar":"\u0627\u0644\u0648\u0644\u0627\u064a\u0627\u062a \u0627\u0644\u0645\u062a\u062d\u062f\u0629","srn":"Kondre
      Makandrameki","ch":"Estados Unidus","bn":"\u09ae\u09be\u09b0\u09cd\u0995\u09bf\u09a8
      \u09af\u09c1\u0995\u09cd\u09a4\u09b0\u09be\u09b7\u09cd\u099f\u09cd\u09b0","pih":"Yunitid
      Staits","tk":"Amerikany\u0148 Birle\u015fen \u015etatlary","tt-cyrl":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430
      \u041a\u0443\u0448\u043c\u0430 \u0428\u0442\u0430\u0442\u043b\u0430\u0440\u044b","szl":"Zjednocz\u016fne
      Sztaty","ace":"Amirika Car\u00e9kat","cv":"\u0410\u043c\u0435\u0440\u0438\u043a\u0103\u0440\u0438
      \u041f\u0115\u0440\u043b\u0435\u0448\u04f3\u043b\u043b\u0115 \u0428\u0442\u0430\u0442\u0441\u0435\u043c","ak":"Amerika","pt":"Estados
      Unidos","io":"Usa","zh-my":"\u7f8e\u56fd","ru":"\u0421\u0428\u0410","tpi":"Ol
      Yunaitet Stet","th":"\u0e2a\u0e2b\u0e23\u0e31\u0e10","kjp":"\u1021\u103a\u102f\u1019\u1031\u101b\u102d\u1000\u102d\u102f\u1004\u103a\u1001\u102b\u1014\u103a\u108b\u1015\u1039\u1000\u102f\u1036","azb":"\u0622\u0645\u0631\u06cc\u06a9\u0627
      \u0628\u06cc\u0631\u0644\u0634\u0645\u06cc\u0634 \u0627\u06cc\u0627\u0644\u062a\u200c\u0644\u0631\u06cc","an":"Estatos
      Unitos","eml":"Stat Un\u00ee","hy":"\u0531\u0574\u0565\u0580\u056b\u056f\u0561\u0575\u056b
      \u0544\u056b\u0561\u0581\u0575\u0561\u056c \u0546\u0561\u0570\u0561\u0576\u0563\u0576\u0565\u0580","diq":"Dewlet\u00ea
      Yewbiyaey\u00ea Amerika","bxr":"\u0410\u043c\u0435\u0440\u0438\u043a\u044b\u043d
      \u041d\u044d\u0433\u044d\u0434\u044d\u04bb\u044d\u043d \u0423\u043b\u0430\u0441","mai":"\u0905\u092e\u0947\u0930\u093f\u0915\u093e","nov":"Unionati
      States de Amerika","ne":"\u0938\u0902\u092f\u0941\u0915\u094d\u0924 \u0930\u093e\u091c\u094d\u092f
      \u0905\u092e\u0947\u0930\u093f\u0915\u093e","ab":"\u0415\u0438\u0434\u0443 \u0410\u043c\u0435\u0440\u0438\u043a\u0430\u0442\u04d9\u0438
      \u0410\u0448\u0442\u0430\u0442\u049b\u04d9\u0430","de":"Vereinigte Staaten","sm":"Iunaite
      Sitete o Amerika","pag":"United States","pam":"Kaestaduang Mis\u00e1sanmetung","rmy":"Phandle
      Staturya la Amerikiyake","jbo":"mergu''e","kbd":"\u0410\u043c\u0435\u0440\u0438\u043a\u044d
      \u0428\u0442\u0430\u0442 \u0417\u044d\u0433\u0443\u044d\u0442","nap":"State
      Aunite d''Amereca","mdf":"\u0410\u043c\u0435\u0440\u0438\u043a\u043e\u043d\u044c
      \u0421\u043e\u0442\u043a\u0441","mwl":"Stados Ounidos de la Am\u00e9rica","lrc":"\u0648\u0644\u0627\u062a\u06cc\u0627
      \u06cc\u06a9\u0627\u06af\u0631\u062a\u0647 \u0627\u0645\u0631\u06cc\u06a9\u0627","en":"United
      States of America","as":"\u0986\u09ae\u09c7\u09f0\u09bf\u0995\u09be \u09af\u09c1\u0995\u09cd\u09a4\u09f0\u09be\u09b7\u09cd\u099f\u09cd\u09f0","bgn":"\u0622\u06cc\u0627\u0644\u0627\u062a
      \u0645\u0648\u062a\u0647 \u0647\u06cc\u062f\u0647","os":"\u0410\u043c\u0435\u0440\u0438\u043a\u00e6\u0439\u044b
      \u0418\u0443\u0433\u043e\u043d\u0434 \u0428\u0442\u0430\u0442\u0442\u00e6","my":"\u1021\u1019\u1031\u101b\u102d\u1000\u1014\u103a\u1015\u103c\u100a\u103a\u1011\u1031\u102c\u1004\u103a\u1005\u102f","zh-cn":"\u7f8e\u56fd","dz":"\u0f61\u0f74\u0f0b\u0f53\u0f60\u0f72\u0f4a\u0f7a\u0f4a\u0f0b\u0f66\u0f72\u0f0b\u0f4a\u0f7a\u0f66","et":"Ameerika
      \u00dchendriigid","cbk-zam":"Estados Unidos de America","wo":"Diiwaan yu Bennoo","iu":"\u140a\u14a5\u140a\u14d5\u1472","ug":"\u0626\u0627\u0645\u06d0\u0631\u0649\u0643\u0627
      \u0642\u0648\u0634\u0645\u0627 \u0634\u0649\u062a\u0627\u062a\u0644\u0649\u0631\u0649","zh-tw":"\u7f8e\u570b","nn":"USA","chr":"\u13cc\u13ca\u13a2\u13f3\u13be\u13b5\u13cd\u13d4\u13c5\u13cd\u13a6\u13da\u13a9","wuu":"\u7f8e\u5229\u575a\u5408\u4f17\u56fd","lg":"Amereka","nrm":"\u00catats
      Unnis d''Am\u00e9thique","gl":"Estados Unidos de Am\u00e9rica","roa-tara":"Stat\u00e8re
      Aun\u00ecte d''Americhe","eo":"Usono","ee":"United States","bi":"Yunaeted Stet
      blong Amerika","rm":"Stadis Unids","ml":"\u0d05\u0d2e\u0d47\u0d30\u0d3f\u0d15\u0d4d\u0d15\u0d7b
      \u0d10\u0d15\u0d4d\u0d2f\u0d28\u0d3e\u0d1f\u0d41\u0d15\u0d7e","ckb":"\u0648\u06cc\u0644\u0627\u06cc\u06d5\u062a\u06d5
      \u06cc\u06d5\u06a9\u06af\u0631\u062a\u0648\u0648\u06d5\u06a9\u0627\u0646\u06cc
      \u0626\u06d5\u0645\u0631\u06cc\u06a9\u0627","ln":"Lisang\u00e1 lya Amer\u00edka","frp":"\u00c8tats-Unis
      d\u2019Am\u00e8rica","cy":"Unol Daleithiau America","nso":"United States of
      America","la":"Civitates Foederatae Americae","rup":"V\u00e3s\u00e3liili Diadunu
      ali Americhia","ki":"United States","mr":"\u0905\u092e\u0947\u0930\u093f\u0915\u0947\u091a\u0940
      \u0938\u0902\u092f\u0941\u0915\u094d\u0924 \u0938\u0902\u0938\u094d\u0925\u093e\u0928\u0947","fo":"Sameindu
      Statirnir","fr":"\u00c9tats-Unis","is":"Bandar\u00edkin","lzh":"\u7f8e\u570b","hsb":"Zjedno\u0107ene
      staty Ameriki","mt":"Stati Uniti tal-Amerka","li":"Vereinegde State van Amerika","ps":"\u062f
      \u0627\u0645\u0631\u06cc\u06a9\u0627 \u0645\u062a\u062d\u062f\u0647 \u0627\u06cc\u0627\u0644\u0627\u062a","fi":"Yhdysvallat","zh-hant":"\u7f8e\u570b","id":"Amerika
      Serikat","gom":"\u0905\u092e\u0947\u0930\u093f\u0915\u0947\u091a\u0940\u0902
      \u0938\u0902\u092f\u0941\u0915\u094d\u0924 \u0938\u0902\u0938\u094d\u0925\u093e\u0928\u093e\u0903","gu":"\u0aaf\u0ac1\u0aa8\u0abe\u0a87\u0a9f\u0ac7\u0aa1
      \u0ab8\u0acd\u0a9f\u0ac7\u0a9f\u0acd\u0ab8 \u0a93\u0aab \u0a85\u0aae\u0ac7\u0ab0\u0abf\u0a95\u0abe","su":"Am\u00e9rika
      Sarikat","inh":"\u0425\u0435\u0442\u0442\u0430 \u0410\u043c\u0435\u0440\u0438\u043a\u0435\u0440\u0430
      \u0428\u0442\u0430\u0442\u0430\u0448","ia":"Statos Unite de America","pa":"\u0a38\u0a70\u0a2f\u0a41\u0a15\u0a24
      \u0a30\u0a3e\u0a1c \u0a05\u0a2e\u0a30\u0a40\u0a15\u0a3e","cr":"\u146d\u1426\u148b
      \u14a8\u1426\u146f\u14ab\u14c7\u1422\u146d\u1540","sg":"\u00c2K\u00f6d\u00f6r\u00f6-\u00f4ko
      t\u00ee Amer\u00eeka","vi":"Hoa K\u1ef3","ilo":"Estados Unidos iti Amerika","lbe":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u0430\u043b
      \u0426\u0430\u0447\u04c0\u0443\u043d\u0445\u044c\u0443 \u0428\u0442\u0430\u0442\u0440\u0443","zh-mo":"\u7f8e\u570b","ny":"United
      States","oc":"Estats Units d''America","af":"Verenigde State van Amerika","ceb":"mga
      Estadong Hiniusa","krc":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u044b
      \u0411\u0438\u0440\u043b\u0435\u0448\u0433\u0435\u043d \u0428\u0442\u0430\u0442\u043b\u0430\u0440\u044b","qu":"Hukllachasqa
      Amirika Suyukuna","nb":"USA","gsw":"Verainigte Staate vu Amerika","si":"\u0d87\u0db8\u0dbb\u0dd2\u0d9a\u0dcf\u0db1\u0dd4
      \u0d91\u0d9a\u0dca\u0dc3\u0dad\u0dca \u0da2\u0db1\u0db4\u0daf\u0dba","zh-hans":"\u7f8e\u56fd","sv":"USA","km":"\u179f\u17a0\u179a\u178a\u17d2\u178b\u17a2\u17b6\u1798\u17c1\u179a\u17b7\u1780","liv":"Am\u0113rik
      \u012at\u00f5nd-Vald\u00f5d","scn":"Stati Uniti d''America","pms":"Stat Un\u00ec
      d''Am\u00e9rica","vep":"Amerikan \u00dchtenzoittud Valdkundad","kab":"Iwunak
      Yeddukklen n Temrikt","bg":"\u0421\u0410\u0429","eu":"Ameriketako Estatu Batuak","xmf":"\u10d0\u10db\u10d4\u10e0\u10d8\u10d9\u10d0\u10e8
      \u10d0\u10d9\u10dd\u10d0\u10e0\u10d7\u10d0\u10e4\u10d8\u10da\u10d8 \u10e8\u10e2\u10d0\u10e2\u10d4\u10e4\u10d8","vo":"Lamerik\u00e4n","sat":"\u1c65\u1c6e\u1c5e\u1c6e\u1c6b
      \u1c6f\u1c5a\u1c71\u1c5a\u1c5b","bar":"Vaoanigte Stootn","frc":"\u00c9tats-Unis","pap":"Estadonan
      Uni di Merka","lfn":"Statos Unida de America","haw":"\u2018Amelika Hui P\u016b
      \u2018ia","tum":"United States","map-bms":"Amerika Serikat","om":"Tokkummaa
      Koonyoota Ameerikaa","tg-cyrl":"\u0418\u0451\u043b\u043e\u0442\u0438 \u041c\u0443\u0442\u0442\u0430\u04b3\u0438\u0434\u0430\u0438
      \u0410\u043c\u0440\u0438\u043a\u043e","kl":"Amerika","brh":"Amr\u00edk\u00e1
      n\u00e1 Baddh\u00ed Riy\u00e1sat","sa":"\u0905\u092e\u0947\u0930\u093f\u0915\u093e
      \u0938\u0902\u092f\u0941\u0915\u094d\u0924 \u0938\u0902\u0938\u094d\u0925\u093e\u0928\u0903","co":"Stati
      Uniti d''America","dsb":"Zjadno\u015bone staty Ameriki","be-tarask":"\u0417\u043b\u0443\u0447\u0430\u043d\u044b\u044f
      \u0428\u0442\u0430\u0442\u044b \u0410\u043c\u044d\u0440\u044b\u043a\u0456","vec":"Stati
      Unii de l''Am\u00e8rica","cdo":"M\u012b-gu\u00f3k","nan":"B\u00ed-kok","gn":"Am\u00e9rika
      Ret\u00e3voreku\u00e9ra Joaju","tg":"\u0418\u0451\u043b\u043e\u0442\u0438 \u041c\u0443\u0442\u0442\u0430\u04b3\u0438\u0434\u0430\u0438
      \u0410\u043c\u0440\u0438\u043a\u043e","bs":"Sjedinjene Ameri\u010dke Dr\u017eave","sd":"\u0622\u0645\u0631\u064a\u06aa\u0627","sh":"Sjedinjene
      Ameri\u010dke Dr\u017eave","ti":"\u12a3\u1218\u122a\u12ab","hu":"Amerikai Egyes\u00fclt
      \u00c1llamok","yue":"\u7f8e\u570b","te":"\u0c05\u0c2e\u0c46\u0c30\u0c3f\u0c15\u0c3e
      \u0c38\u0c02\u0c2f\u0c41\u0c15\u0c4d\u0c24 \u0c30\u0c3e\u0c37\u0c4d\u0c1f\u0c4d\u0c30\u0c3e\u0c32\u0c41","koi":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u0438\u0441\u044c
      \u04e6\u0442\u043b\u0430\u0430\u0441\u044c\u04e7\u043c \u0428\u0442\u0430\u0442\u0442\u044d\u0437","ba":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430
      \u04a0\u0443\u0448\u043c\u0430 \u0428\u0442\u0430\u0442\u0442\u0430\u0440\u044b","sah":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430
      \u0425\u043e\u043b\u0431\u043e\u04bb\u0443\u043a\u0442\u0430\u0430\u0445 \u0428\u0442\u0430\u0430\u0442\u0442\u0430\u0440\u0430","ang":"Ge\u0101nedu
      R\u012bcu America","pi":"\u0938\u0902\u092f\u0941\u0915\u094d\u0924 \u0930\u093e\u091c\u094d\u092f
      \u0905\u092e\u0947\u0930\u093f\u0915\u093e","uz":"Amerika Qo\u02bbshma Shtatlari","tet":"Estadu
      Naklibur Sira Am\u00e9rika Nian","hif":"United States","xal":"\u0410\u043c\u0435\u0440\u0438\u043a\u0438\u043d
      \u041d\u0438\u0438\u0446\u04d9\u0442\u04d9 \u041e\u0440\u043d \u041d\u0443\u0442\u0433\u0443\u0434","cu":"\u0410\u043c\u0454\u0440\u0457\u043a\u0430\u043d\u044c\u0441\u043a\ua651
      \u0464\u0434\u044c\u043d\u0465\u043d\ua651 \u0414\u0440\u044c\u0436\u0430\u0432\ua651","new":"\u0905\u092e\u0947\u0930\u093f\u0915\u093e","fur":"St\u00e2ts
      Un\u00eets di Americhe","ht":"Etazini","sn":"United States of America","tr":"Amerika
      Birle\u015fik Devletleri","ie":"Unit States de America","gd":"Na St\u00e0itean
      Aonaichte","be":"\u0417\u043b\u0443\u0447\u0430\u043d\u044b\u044f \u0428\u0442\u0430\u0442\u044b
      \u0410\u043c\u0435\u0440\u044b\u043a\u0456","ka":"\u10d0\u10db\u10d4\u10e0\u10d8\u10d9\u10d8\u10e1
      \u10e8\u10d4\u10d4\u10e0\u10d7\u10d4\u10d1\u10e3\u10da\u10d8 \u10e8\u10e2\u10d0\u10e2\u10d4\u10d1\u10d8","ce":"\u0410\u0426\u0428","kv":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u0441\u0430
      \u04e6\u0442\u0443\u0432\u0442\u0447\u04e7\u043c \u0428\u0442\u0430\u0442\u044a\u044f\u0441","fa":"\u0627\u06cc\u0627\u0644\u0627\u062a
      \u0645\u062a\u062d\u062f\u0647 \u0622\u0645\u0631\u06cc\u06a9\u0627","fj":"Matanitu
      Cokovata o Amerika","nds-nl":"Verienigde Staoten van Amerika","bo":"\u0f68\u0f0b\u0f58\u0f7a\u0f0b\u0f62\u0f72\u0f0b\u0f41\u0f0b\u0f62\u0f92\u0fb1\u0f63\u0f0b\u0f55\u0fb2\u0f53\u0f0b\u0f58\u0f49\u0f58\u0f0b\u0f60\u0f56\u0fb2\u0f7a\u0f63\u0f0b\u0f62\u0f92\u0fb1\u0f63\u0f0b\u0f41\u0f56\u0f0d","mo":"\u0421\u0442\u0430\u0442\u0435\u043b\u0435
      \u0423\u043d\u0438\u0442\u0435 \u0430\u043b\u0435 \u0410\u043c\u0435\u0440\u0438\u0447\u0438\u0439","mi":"Hononga-o-Amerika","pl":"Stany
      Zjednoczone","en-ca":"United States of America","tw":"Amerika","am":"\u12e8\u1270\u1263\u1260\u1229\u1275
      \u130d\u12db\u1276\u127d","sr-el":"Sjedinjene Ameri\u010dke Dr\u017eave","udm":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043b\u044d\u043d
      \u041e\u0433\u0430\u0437\u0435\u044f\u0441\u044c\u043a\u0435\u043c \u0428\u0442\u0430\u0442\u044a\u0451\u0441\u044b\u0437","kk":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430
      \u049a\u04b1\u0440\u0430\u043c\u0430 \u0428\u0442\u0430\u0442\u0442\u0430\u0440\u044b","it":"Stati
      Uniti d''America","war":"Estados Unidos","ur":"\u0631\u06cc\u0627\u0633\u062a\u06c1\u0627\u0626\u06d2
      \u0645\u062a\u062d\u062f\u06c1 \u0627\u0645\u0631\u06cc\u06a9\u0627","wa":"Estats
      Unis","frr":"Ferianigt Stooten faan Ameerikaa","ik":"Tannapta Nunaat","sq":"Shtetet
      e Bashkuara t\u00eb Amerik\u00ebs","rn":"Leta z\u2019Unze Ubumwe za Amerika","de-ch":"Vereinigte
      Staaten","mhr":"\u0423\u0448\u044b\u043c\u043e \u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043d
      \u0428\u0442\u0430\u0442-\u0432\u043b\u0430\u043a","pdc":"Amerikaa","rue":"\u0421\u0428\u0410","fy":"Feriene
      Steaten fan Amearika","tt-latn":"Amerika Qu\u015fma \u015etatlar\u0131","ku":"Dewlet\u00ean
      Yekb\u00fby\u00ee y\u00ean Amer\u00eekay\u00ea","olo":"Amierikan Yhtysvallat","arc":"\u0710\u0718\u071a\u0715\u0722\u0710
      \u0721\u071a\u071d\u0715\u0710","ss":"IMelika","ts":"Amerikha","dv":"\u0787\u07ac\u0789\u07ac\u0783\u07a8\u0786\u07a7","arz":"\u0627\u0645\u0631\u064a\u0643\u0627","se":"Amerihk\u00e1
      ovttastuvvan st\u00e1htat","nah":"Estadosonidos","ig":"Njikota Obodo Amerika","cs":"Spojen\u00e9
      st\u00e1ty americk\u00e9","lij":"Stati Un\u00efi d''America","lad":"Estatos
      Unitos d''Amerika","zea":"Vere\u00eanigde Staeten","mrj":"\u0410\u043c\u0435\u0440\u0438\u043a\u044b\u043d
      \u0423\u0448\u044b\u043c\u044b \u0428\u0442\u0430\u0442\u0432\u043b\u04d3\u0436\u04f9","sr-ec":"\u0421\u0458\u0435\u0434\u0438\u045a\u0435\u043d\u0435
      \u0410\u043c\u0435\u0440\u0438\u0447\u043a\u0435 \u0414\u0440\u0436\u0430\u0432\u0435","to":"Pule\u02bbanga
      fakatahataha \u02bbAmelika","hr":"Sjedinjene Ameri\u010dke Dr\u017eave","ja":"\u30a2\u30e1\u30ea\u30ab\u5408\u8846\u56fd","ko":"\ubbf8\uad6d","br":"Stado\u00f9-Unanet
      Amerika","chy":"United States","kw":"Statys Unys","lmo":"Stat Unid d''America","hak":"M\u00ee-koet","dty":"\u0938\u0902\u092f\u0941\u0915\u094d\u0924
      \u0930\u093e\u091c\u094d\u092f \u0905\u092e\u0947\u0930\u093f\u0915\u093e","sr":"\u0421\u0458\u0435\u0434\u0438\u045a\u0435\u043d\u0435
      \u0410\u043c\u0435\u0440\u0438\u0447\u043a\u0435 \u0414\u0440\u0436\u0430\u0432\u0435","zh-hk":"\u7f8e\u570b","hyw":"\u0531\u0574\u0565\u0580\u056b\u056f\u0561\u0575\u056b
      \u0544\u056b\u0561\u0581\u0565\u0561\u056c \u0546\u0561\u0570\u0561\u0576\u0563\u0576\u0565\u0580","nqo":"\u07ca\u07e1\u07cb\u07d9\u07cc\u07de\u07cc\u07ec
      \u07de\u07ca\u07ec\u07dd\u07cf\u07eb \u07d8\u07cd\u07ec\u07e3\u07cd\u07f2","kea":"Stadus
      Unidus","ban":"Am\u00e9rika Serikat","szy":"United states","gcr":"L\u00e9tazini","tyv":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u044b\u04a3
      \u041a\u0430\u0442\u044b\u0448\u043a\u0430\u043d \u0428\u0442\u0430\u0442\u0442\u0430\u0440\u044b","kg":"Etats-Unis
      ya Amelika","ary":"\u0627\u0644\u0648\u0644\u0627\u064a\u0627\u062a \u0627\u0644\u0645\u062a\u0627\u062d\u062f\u0629
      \u062f \u0645\u064a\u0631\u064a\u0643\u0627\u0646","shn":"\u1019\u102d\u1030\u1004\u103a\u1038\u1081\u1030\u1019\u103a\u1088\u1010\u102f\u1019\u103a
      \u1022\u1019\u1084\u1087\u101b\u102d\u1075","smn":"Amerik ovt\u00e2stum staatah","sms":"Ameriikk
      \u00f5htt\u00f5\u00f5vv\u00e2mv\u00e4\u00e4\u02b9ld","awa":"\u0938\u0902\u092f\u0941\u0915\u094d\u0924
      \u0930\u093e\u091c\u094d\u092f \u0905\u092e\u0947\u0930\u093f\u0915\u093e","avk":"Amerikatanarasokeem","lld":"Stac
      Unii d''America","nia":"Amerika Sorudu","mad":"Am\u00e8rika Sarikat","kk-cyrl":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430
      \u049a\u04b1\u0440\u0430\u043c\u0430 \u0428\u0442\u0430\u0442\u0442\u0430\u0440\u044b","mni":"\uabd1\uabc3\uabe6\uabd4\uabe4\uabc0\uabe5","ms-arab":"\u0627\u0645\u064a\u0631\u064a\u06a9\u0627
      \u0634\u0631\u064a\u06a9\u062a","shi":"Iwankn Munnin n Marikan","dag":"America","trv":"United
      States","ami":"Amilika","tg-latn":"Iyoloti Muttahidai Amriko","skr":"\u0627\u0645\u0631\u06cc\u06a9\u06c1","mnw":"\u1021\u1019\u1031\u101b\u102d\u1000\u1014\u103a\u1015\u103c\u100a\u103a\u1011\u1031\u102c\u1004\u103a\u1005\u102f","ks":"\u0627\u064e\u0645\u0631\u064a\u0656\u06a9\u06c1","guw":"Plidop\u1ecd
      Ayimat\u1eb9n l\u1eb9 t\u1ecdn Am\u1eb9lika t\u1ecdn","tay":"Amirika''","rmc":"Amerikakere
      spojimen Thema","kcg":"Mun\u00e1\u0331pyia\u0331 S\u00ed\u0331tet Amerika","alt":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430\u043d\u044b\u04a5
      \u0411\u0438\u0440\u0438\u043a\u0442\u0438\u0440\u0438\u043b\u0433\u0435\u043d
      \u0428\u0442\u0430\u0442\u0442\u0430\u0440\u044b","ike-latn":"amialika","bug":"\u1a15\u1a06\u1a19\u1a11\u1a17\u1a00
      \u1a14\u1a19\u1a11\u1a17\u1a00\u1a08","crh-cyrl":"\u0410\u043c\u0435\u0440\u0438\u043a\u0430
      \u041a\u044a\u043e\u0448\u043c\u0430 \u0414\u0435\u0432\u043b\u0435\u0442\u043b\u0435\u0440\u0438","qug":"Shukllachishka
      America Suyukuna","hil":"mga Estado Tingob","ko-kp":"\ubbf8\uad6d","pnt":"\u0397\u03bd\u03c9\u03bc\u03ad\u03bd\u03b5\u03c2
      \u03a0\u03bf\u03bb\u03b9\u03c4\u03b5\u03af\u03b5\u03c2 \u0391\u03bc\u03b5\u03c1\u03b9\u03ba\u03ae\u03c2","fit":"Yhtysvallat","rmf":"Ameriko
      them","blk":"\u1021\u1019\u1031\u108f\u101b\u102d\u1000\u1014\u103a\u108f\u1001\u1019\u103a\u1038\u1001\u103c\u103d\u1009\u103a\u1038\u1017\u1030\u108f","pcm":"Amerika","arq":"\u0645\u0631\u064a\u0643\u0627\u0646","krj":"manga
      Estado Ting\u00ebb","tok":"ma Mewika","en-us":"United States of America","guc":"Mma
[...]
