interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=9751269%40N07
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"9751269@N07\" nsid=\"9751269@N07\" ispro=\"1\" is_deleted=\"0\" iconserver=\"65535\"
        iconfarm=\"66\" path_alias=\"dwhartwig\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>dwhartwig</username>\n\t<realname>Daniel
        Hartwig</realname>\n\t<location>Stoughton, United States</location>\n\t<timezone
        label=\"Pacific Time (US &amp; Canada); Tijuana\" offset=\"-08:00\" timezone_id=\"PST8PDT\"
        timezone=\"5\" />\n\t<description />\n\t<photosurl>https://www.flickr.com/photos/dwhartwig/</photosurl>\n\t<profileurl>https://www.flickr.com/people/dwhartwig/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/dwhartwig/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1969-05-18
        00:34:22</firstdatetaken>\n\t\t<firstdate>1059117485</firstdate>\n\t\t<count>78060</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-66505fab-79ff0d272dc2ccc74be594f2;Root=1-66505fab-2e62ce834aa6043b57508993
      x-server:
      - serverless-proxy-10.78.31.120
    status:
      code: 200
      message: OK
version: 1
