interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.wikidata.org/w/rest.php/wikibase/v0/entities/items/Q50423863
  response:
    content: '{"type":"item","labels":{"nl":"auteursrechtelijk beschermd","en":"copyrighted","fr":"sous
      copyright","zh-hans":"\u7248\u6743\u6240\u6709","zh-hant":"\u6709\u8457\u4f5c\u6b0a","sr":"\u0437\u0430\u0448\u0442\u0438\u045b\u0435\u043d\u043e
      \u0430\u0443\u0442\u043e\u0440\u0441\u043a\u0438\u043c \u043f\u0440\u0430\u0432\u0438\u043c\u0430","eo":"sub
      kopirajto","bn":"\u0995\u09aa\u09bf\u09b0\u09be\u0987\u099f\u0995\u09c3\u09a4","es":"bajo
      derechos de autor","ja":"\u8457\u4f5c\u6a29\u3067\u4fdd\u8b77","ru":"\u0437\u0430\u0449\u0438\u0449\u0435\u043d\u043e
      \u0430\u0432\u0442\u043e\u0440\u0441\u043a\u0438\u043c \u043f\u0440\u0430\u0432\u043e\u043c","pt":"protegido
      por direitos autorais","cs":"d\u00edlo chr\u00e1n\u011bn\u00e9 autorsk\u00fdm
      pr\u00e1vem","be-tarask":"\u0430\u0445\u043e\u045e\u0432\u0430\u0435\u0446\u0446\u0430
      \u0430\u045e\u0442\u0430\u0440\u0441\u043a\u0456\u043c \u043f\u0440\u0430\u0432\u0430\u043c","nn":"opphavsrettsleg
      verna","sv":"upphovsr\u00e4ttsskyddad","id":"berhak cipta","be":"\u0430\u0445\u043e\u045e\u0432\u0430\u0435\u0446\u0446\u0430
      \u0430\u045e\u0442\u0430\u0440\u0441\u043a\u0456\u043c \u043f\u0440\u0430\u0432\u0430\u043c","nb":"opphavsrettsbeskyttet","he":"\u05de\u05d5\u05d2\u05df
      \u05d1\u05d6\u05db\u05d5\u05d9\u05d5\u05ea \u05d9\u05d5\u05e6\u05e8\u05d9\u05dd","uk":"\u0437\u0430\u0445\u0438\u0449\u0435\u043d\u043e
      \u0430\u0432\u0442\u043e\u0440\u0441\u044c\u043a\u0438\u043c \u043f\u0440\u0430\u0432\u043e\u043c","zh":"\u7248\u6743\u6240\u6709","tt":"\u0430\u0432\u0442\u043e\u0440\u043b\u044b\u043a
      \u0445\u043e\u043a\u0443\u043a\u043b\u0430\u0440\u044b \u0431\u0435\u043b\u04d9\u043d
      \u044f\u043a\u043b\u0430\u043d\u0433\u0430\u043d","ms":"berhak cipta","gl":"baixo
      dereito de autor\u00eda","de":"Urheberrechtsschutz","zh-tw":"\u6709\u8457\u4f5c\u6b0a","eu":"copyrightduna","ro":"material
      protejat de drepturi de autor","ca":"amb drets d''autor","hsb":"\u0161kitane
      p\u0159ez awtorske prawo","it":"coperto da diritti d''autore","pl":"chroniony
      prawem autorskim","ml":"\u0d2a\u0d15\u0d7c\u0d2a\u0d4d\u0d2a\u0d35\u0d15\u0d3e\u0d36
      \u0d38\u0d02\u0d30\u0d15\u0d4d\u0d37\u0d3f\u0d24\u0d02","fi":"tekij\u00e4noikeuden
      suojaama","ga":"faoi ch\u00f3ipcheart","hr":"za\u0161ti\u0107eno autorskim pravom","da":"ophavsretsbeskyttet","lv":"aizsarg\u0101ts
      ar autorties\u012bb\u0101m","vi":"c\u00f3 b\u1ea3n quy\u1ec1n","mk":"\u0437\u0430\u0448\u0442\u0438\u0442\u0435\u043d\u043e
      \u0441\u043e \u0430\u0432\u0442\u043e\u0440\u0441\u043a\u0438 \u043f\u0440\u0430\u0432\u0430","hu":"szerz\u0151i
      jogi v\u00e9delem alatt \u00e1ll","th":"\u0e21\u0e35\u0e25\u0e34\u0e02\u0e2a\u0e34\u0e17\u0e18\u0e34\u0e4c","tr":"telif
      hakk\u0131 al\u0131nm\u0131\u015f","sq":"me t\u00eb drejta autori","pt-br":"protegido
      por direitos autorais","ce":"\u0430\u0432\u0442\u043e\u0440\u0430\u043d \u0431\u0430\u043a\u044a\u043e
      \u043b\u0430\u0440\u0439\u0438\u043d\u0430 \u044e","fa":"\u062d\u0642 \u062a\u06a9\u062b\u06cc\u0631
      \u0645\u062d\u0641\u0648\u0638 \u0634\u062f\u0647","ar":"\u062d\u0642\u0648\u0642
      \u0627\u0644\u062a\u0623\u0644\u064a\u0641 \u0648\u0627\u0644\u0646\u0634\u0631
      \u0645\u062d\u0641\u0648\u0638\u0629","arz":"\u062d\u0642\u0648\u0642 \u0627\u0644\u0637\u0628\u0639
      \u0648 \u0627\u0644\u0646\u0634\u0631 \u0645\u062d\u0641\u0648\u0638\u0647","zh-cn":"\u7248\u6743\u6240\u6709","bs":"za\u0161ti\u0107eno
      autorskim pravima","el":"\u03c0\u03c1\u03bf\u03c3\u03c4\u03b1\u03c4\u03b5\u03cd\u03b5\u03c4\u03b1\u03b9
      \u03b1\u03c0\u03cc \u03c0\u03bd\u03b5\u03c5\u03bc\u03b1\u03c4\u03b9\u03ba\u03ac
      \u03b4\u03b9\u03ba\u03b1\u03b9\u03ce\u03bc\u03b1\u03c4\u03b1","ko":"\uc800\uc791\uad8c
      \uc18c\uc720","cy":"dan hawlfraint","vec":"protezesto da deriti d''autor","hi":"\u0915\u0949\u092a\u0940\u0930\u093e\u0907\u091f
      \u0915\u0947 \u0905\u0902\u0924\u0930\u094d\u0917\u0924","sl":"avtorskopravno
      varovano","ks":"\u06a9\u0627\u067e\u06cc \u0631\u0627\u06cc\u0650\u0679 \u062f\u0627\u0631","ur":"\u062d\u0642
      \u0646\u0642\u0644 \u0648 \u0627\u0634\u0627\u0639\u062a \u0645\u062d\u0641\u0648\u0638
      \u0634\u062f\u06c1","uz":"mualliflik huquqi himoyalangan","en-us":"copyrighted","ms-arab":"\u0628\u0631\u062d\u0642
      \u0686\u064a\u06a4\u062a\u0627","yue":"\u6709\u7248\u6b0a"},"descriptions":{"en":"legal
      state of a work as recognised as an intellectual property of an entity","nl":"juridische
      status van een werk waarbij het valt onder auteursrechtelijke bescherming","fr":"statut
      l\u00e9gal d''une \u0153uvre appartenant \u00e0 son cr\u00e9ateur","es":"estatus
      legal de una obra","cs":"pr\u00e1vn\u00ed stav d\u00edla, kter\u00e9 po\u017e\u00edv\u00e1
      ochrany autorsk\u00fdm pr\u00e1vem","id":"diindungi oleh hukum untuk kekayaan
      intelektual","gl":"estad[...]
