interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fnationalarchives%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"31575009@N05\">\n\t<username>The National Archives UK</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=31575009%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"31575009@N05\" nsid=\"31575009@N05\" ispro=\"1\" is_deleted=\"0\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"nationalarchives\" has_stats=\"0\" pro_badge=\"standard\"
      expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>The
      National Archives UK</username>\n\t<realname />\n\t<mbox_sha1sum>dae9b69e849ff6f114b64d7d6b18906732351605</mbox_sha1sum>\n\t<location
      />\n\t<timezone label=\"GMT: Dublin, Edinburgh, Lisbon, London\" offset=\"+00:00\"
      timezone_id=\"Europe/London\" timezone=\"27\" />\n\t<description>&lt;b&gt;Who
      are we?&lt;/b&gt;\n\nWe are The National Archives, the UK government&#039;s
      official archive, containing over 1,000 years of history with records ranging
      from parchment and paper scrolls through to digital files and archived websites.
      We are also at the heart of government information policy, to ensure the survival
      of today\xB4s information for the future.\n\n&lt;b&gt; What are these images?
      &lt;/b&gt;\n\nWe&#039;ve selected these images to give a flavour of our massive
      holdings. As well as our 11 million catalogued documents our collection of maps,
      photographs and artwork is huge and it&#039;s also growing as more images are
      located in files and new material arrives from government departments.\n\n&lt;b&gt;
      Where are you?&lt;/b&gt;\n\nWe are in Kew, in the west of London. But you can
      also find us on &lt;a href=&quot;http://uk.youtube.com/user/NationalArchives08&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;YouTube&lt;/a&gt;, Facebook and at &lt;a
      href=&quot;http://www.nationalarchives.gov.uk&quot; rel=&quot;noreferrer nofollow&quot;&gt;www.nationalarchives.gov.uk&lt;/a&gt;</description>\n\t<photosurl>https://www.flickr.com/photos/nationalarchives/</photosurl>\n\t<profileurl>https://www.flickr.com/people/nationalarchives/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=31569669</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1868-01-01
      00:00:00</firstdatetaken>\n\t\t<firstdate>1224517176</firstdate>\n\t\t<count>83</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72157664284840282&user_id=31575009%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157664284840282\" primary=\"24284955104\" owner=\"31575009@N05\" ownername=\"The
      National Archives UK\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"3\"
      title=\"The Mangrove Nine\" total=\"21\">\n\t<photo id=\"24819736071\" secret=\"e9c8f76b1d\"
      server=\"1577\" farm=\"2\" title=\"Demonstration/Political Statement\" isprimary=\"0\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"7\" safety_level=\"0\"
      dateupload=\"1455012159\" datetaken=\"2016-02-09 10:01:59\" datetakengranularity=\"0\"
      datetakenunknown=\"1\" ownername=\"The National Archives UK\" realname=\"\"
      tags=\"\" originalsecret=\"f558de7f40\" originalformat=\"jpg\" latitude=\"0\"
      longitude=\"0\" a[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157664284840282&user_id=31575009%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157664284840282\" owner=\"31575009@N05\" username=\"The National Archives
      UK\" primary=\"24284955104\" secret=\"a636db6774\" server=\"1462\" farm=\"2\"
      count_views=\"4095\" count_comments=\"0\" count_photos=\"21\" count_videos=\"0\"
      can_comment=\"0\" date_create=\"1455012442\" date_update=\"1455538908\" photos=\"21\"
      visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>The Mangrove
      Nine</title>\n\t<description>The trial of the Mangrove Nine in 1970 represents
      a high point of the Black Panther movement in the UK and stands as a watershed
      moment for black activism.</description>\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
