interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&format=json&page=File%3AExample.jpg&prop=text
  response:
    content: '{"parse":{"title":"File:Example.jpg","pageid":6428847,"text":{"*":"<div
      class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\">  <table class=\"protected\"
      style=\"direction: ltr; background:#fff; border:1px solid #aaa; padding:.2em;
      margin:.5em auto;\">\n  <tbody><tr>\n  <td style=\"padding-right:4px; padding-left:4px;\"><span
      typeof=\"mw:File\"><a href=\"/wiki/Commons:P\" title=\"Protected\"><img alt=\"Protected\"
      src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Full-protection-shackle-block.svg/40px-Full-protection-shackle-block.svg.png\"
      decoding=\"async\" width=\"40\" height=\"40\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Full-protection-shackle-block.svg/60px-Full-protection-shackle-block.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Full-protection-shackle-block.svg/80px-Full-protection-shackle-block.svg.png
      2x\" data-file-width=\"512\" data-file-height=\"512\" /></a></span></td>\n  <td><b>This
      media file has been protected from editing to prevent vandalism.</b><br /><span
      style=\"font-size:90%;\">Please discuss changes on the <a href=\"/wiki/File_talk:Example.jpg\"
      title=\"File talk:Example.jpg\">talk page</a> or <a href=\"/wiki/Commons:AN/P\"
      class=\"mw-redirect\" title=\"Commons:AN/P\">request unprotection</a>. </span></td>\n  </tr>\n  </tbody></table>\n<table
      class=\"protected\" style=\"margin:.5em auto;background:#FFF;color:#333;border:1px
      solid #AAA;padding:.2em\">\n\n<tbody><tr>\n<td style=\"padding:0 4px\"><span
      typeof=\"mw:File\"><a href=\"/wiki/Special:MyLanguage/Commons:Page_protection\"
      title=\"Protected\"><img alt=\"Protected\" src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Upload-protection-shackle.svg/20px-Upload-protection-shackle.svg.png\"
      decoding=\"async\" width=\"20\" height=\"20\" class=\"mw-file-element\" srcset=\"https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Upload-protection-shackle.svg/30px-Upload-protection-shackle.svg.png
      1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Upload-protection-shackle.svg/40px-Upload-protection-shackle.svg.png
      2x\" data-file-width=\"512\" data-file-height=\"512\" /></a></span>\n</td>\n<td><b>This
      file is protected because it has an inappropriate filename (<a href=\"/wiki/Special:MyLanguage/Commons:File_naming\"
      title=\"Special:MyLanguage/Commons:File naming\">common title or imprecise</a>).</b>\n</td></tr></tbody></table>\n<h2><span
      class=\"mw-headline\" id=\"Summary\">Summary</span><span class=\"mw-editsection\"><span
      class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=Template:Prohibited_name&amp;action=edit&amp;section=T-1\"
      title=\"Edit section: Summary\"><span>edit</span></a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<div
      class=\"hproduct commons-file-information-table\">\n<style data-mw-deduplicate=\"TemplateStyles:r773143704\">.mw-parser-output
      table.commons-file-information-table,.mw-parser-output .fileinfotpl-type-information,.mw-parser-output
      .fileinfotpl-type-artwork{border:1px solid #a2a9b1;background-color:#f8f9fa;padding:5px;font-size:95%;border-spacing:2px;box-sizing:border-box;margin:0;width:100%}.mw-parser-output
      table.commons-file-information-table>tbody>tr,.mw-parser-output .fileinfotpl-type-information>tbody>tr,.mw-parser-output
      .fi[...]
