interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=13270291833
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"13270291833\" secret=\"a3cd57842f\" server=\"2889\" farm=\"3\" dateuploaded=\"1395250394\"
      isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"de92c432c4\"
      originalformat=\"jpg\" views=\"27564\" media=\"photo\">\n\t<owner nsid=\"99902797@N03\"
      username=\"Schlesinger Library, RIAS, Harvard University\" realname=\"Schlesinger
      Library on the History of Women in America\" location=\"\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"schlesinger_library\">\n\t\t<gift gift_eligible=\"\"
      new_flow=\"1\" />\n\t</owner>\n\t<title>Mae_Eberhardt</title>\n\t<description>&lt;b&gt;Biography:&lt;/b&gt;
      Mae Massie Eberhardt has been a union activist for nearly 35 years. Born in
      Virginia, one of the eight children of Randolph and Ida Kenny Graves, she married
      and moved to New Jersey after completing high school. When she was divorced
      from her first husband, she went to work at Orange and Domestic Laundry where
      she became active in Local 284, AFL, and led the fight for better pay and improved
      working conditions. She was elected sho[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=13270291833
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/2889/13270291833_a3cd57842f_s.jpg\"
      url=\"https://www.flickr.com/photos/schlesinger_library/13270291833/sizes/sq/\"
      media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
      source=\"https://live.staticflickr.com/2889/13270291833_a3cd57842f_q.jpg\" url=\"https://www.flickr.com/photos/schlesinger_library/13270291833/sizes/q/\"
      media=\"photo\" />\n\t<size label=\"T[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
