interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=parse&page=File%3ADefinitelyDoesNotExist.jpg&prop=text&format=json
  response:
    content: '{"error":{"code":"missingtitle","info":"The page you specified doesn''t
      exist.","*":"See https://commons.wikimedia.org/w/api.php for API usage. Subscribe
      to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
      for notice of API deprecations and breaking changes."},"servedby":"mw1392"}'
    headers:
      content-disposition:
      - inline; filename=api-result.json
      content-type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - missingtitle
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
