interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=53248070597
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"53248070597\" secret=\"91aed2326c\" server=\"65535\" farm=\"66\" dateuploaded=\"1696963680\"
      isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" views=\"1386\"
      media=\"photo\">\n\t<owner nsid=\"73422502@N08\" username=\"Zeeyolq Photography\"
      realname=\"Yoann JEZEQUEL\" location=\"Paris, France\" iconserver=\"7384\" iconfarm=\"8\"
      path_alias=\"zeeyolqpictures\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Paris</title>\n\t<description>Paris
      Montmartre</description>\n\t<visibility ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      />\n\t<dates posted=\"1696963680\" taken=\"2020-07-26 09:31:59\" takengranularity=\"0\"
      takenunknown=\"0\" lastupdate=\"1699134789\" />\n\t<editability cancomment=\"0\"
      canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\" canaddmeta=\"1\"
      />\n\t<usage candownload=\"0\" canblog=\"0\" canprint=\"0\" canshare=\"1\" />\n\t<comments>8</comments>\n\t<notes
      />\n\t<people haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"73329689-53248070597-484\"
      author=\"73422502@N08\" authorname=\"Zeeyolq Photography\" raw=\"paris\" machine_tag=\"0\">paris</tag>\n\t</tags>\n\t<location
      latitude=\"48.884444\" longitude=\"2.338611\" accuracy=\"16\" context=\"0\">\n\t\t<locality>Paris</locality>\n\t\t<county>Paris</county>\n\t\t<region>\xCEle-de-France</region>\n\t\t<country>France</country>\n\t\t<neighbourhood>Paris
      02 Ancien - Quartier Faubourg-Montmartre</neighbourhood>\n\t</location>\n\t<geoperms
      ispublic=\"1\" iscontact=\"0\" isfriend=\"0\" isfamily=\"0\" />\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/zeeyolqpictures/53248070597/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=53248070597
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"0\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/65535/53248070597_91aed2326c_s.jpg\"
      url=\"https://www.flickr.com/photos/zeeyolqpictures/53248070597/sizes/sq/\"
      media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
      source=\"https://live.staticflickr.com/65535/53248070597_91aed2326c_q.jpg\"
      url=\"https://www.flickr.com/photos/zeeyolqpictures/53248070597/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"T[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
