interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://commons.wikimedia.org/w/api.php?action=query&format=xml&prop=revisions&titles=File%3AThe%20main%20Flickr%20photo%20storage%20server.jpg&rvslots=%2A&rvprop=content
  response:
    content: "<?xml version=\"1.0\"?><api batchcomplete=\"\"><query><pages><page _idx=\"329391\"
      pageid=\"329391\" ns=\"6\" title=\"File:The main Flickr photo storage server.jpg\"><revisions><rev><slots><slot
      contentmodel=\"wikitext\" contentformat=\"text/x-wiki\" role=\"main\" xml:space=\"preserve\">{{Information\n|Description
      = {{en|The main [[:en:Flickr|Flickr]] photo storage server: 8 x 250 GB ATA drives
      in Raid 10 for 1 TB of usable storage.}}\n|Source      = https://www.flickr.com/photos/12037949632\n|Date
      \       = 2004-02-08 03:22:13\n|Author      = [https://www.flickr.com/photos/12037949632@N01
      Stewart Butterfield] from San Francisco, USA\n|Permission  = {{Cc-by-1.0}}\n{{flickrreview|FlickrLickr|5
      June 2007|changed=}}\n|other_versions = \n}}\n\n\n[[Category:Server hardware]]\n[[Category:FlickrLickr
      images]]\n[[Category:Files from Flickr| ]]</slot><slot contentmodel=\"wikibase-mediainfo\"
      contentformat=\"application/json\" role=\"mediainfo\" xml:space=\"preserve\">{\"type\":\"mediainfo\",\"id\":\"M329391\",\"labels\":[],\"descriptions\":[],\"statements\":{\"P571\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P571\",\"hash\":\"7cbf61f89f5d961653632dbe4a872f9b213f4d64\",\"datavalue\":{\"value\":{\"time\":\"+2004-02-08T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}},\"type\":\"statement\",\"id\":\"M329391$B1C7F746-31FD-49AE-A60F-7040215A493F\",\"rank\":\"normal\"}],\"P275\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P275\",\"hash\":\"018d38b0e8013d912434b491da7e648f05efeef7\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":30942811,\"id\":\"Q30942811\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"M329391$5DAE015C-CE93-41A2-9A97-3587DF705BF9\",\"rank\":\"normal\"}],\"P6216\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P6216\",\"hash\":\"5570347fdc76d2a80732f51ea10ee4b144a084e0\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":50423863,\"id\":\"Q50423863\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"M329391$EBB9C8B2-1823-43C1-9CA3-98447D8920B1\",\"rank\":\"normal\"}]}}</slot></slots></rev></revisions></page></pages></query></api>"
    headers:
      content-disposition:
      - inline; filename=api-result.xml
      content-type:
      - text/xml; charset=utf-8
      x-client-ip:
      - 81.131.37.170
    status_code: 200
version: 1
