interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=7982377911
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"7982377911\" secret=\"7e49d9ae15\" server=\"8178\" farm=\"9\" dateuploaded=\"1347539868\"
        isfavorite=\"0\" license=\"10\" safety_level=\"0\" rotation=\"0\" originalsecret=\"042e69b5e9\"
        originalformat=\"jpg\" views=\"9291\" media=\"photo\">\n\t<owner nsid=\"61021753@N02\"
        username=\"BioDivLibrary\" realname=\"Biodiversity Heritage Library\" location=\"\"
        iconserver=\"5468\" iconfarm=\"6\" path_alias=\"biodivlibrary\">\n\t\t<gift
        gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>n83_w1150</title>\n\t<description>Prof.
        Dr. Thome\u0301&#039;s Flora von Deutschland, O\u0308sterreich und der Schweiz,
        in Wort und Bild, fu\u0308r Schule und Haus ; mit ... Tafeln ... von Walter
        Mu\u0308ller..\nGera-Untermhaus :F.E. Ko\u0308hler,1886-1934..\n&lt;a href=&quot;http://biodiversitylibrary.org/page/4321212&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;biodiversitylibrary.org/page/4321212&lt;/a&gt;\n\nNearly
        all #wine produced globally comes from cultivars of Vitis vinifera. See it
        in #bhlib &lt;a href=&quot;http://biodiversitylibrary.org/page/4321212&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;biodiversitylibrary.org/page/4321212&lt;/a&gt;
        &amp;amp; @eol &lt;a href=&quot;http://eol.org/pages/582304/overview&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;eol.org/pages/582304/overview&lt;/a&gt;</description>\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1347539868\"
        taken=\"2012-09-13 08:37:48\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1590606414\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"61001405-7982377911-2088\" author=\"61021753@N02\"
        authorname=\"BioDivLibrary\" raw=\"Austria\" machine_tag=\"0\">austria</tag>\n\t\t<tag
        id=\"61001405-7982377911-23038870\" author=\"61021753@N02\" authorname=\"BioDivLibrary\"
        raw=\"Cryptogamia\" machine_tag=\"0\">cryptogamia</tag>\n\t\t<tag id=\"61001405-7982377911-1322408\"
        author=\"61021753@N02\" authorname=\"BioDivLibrary\" raw=\"Floras\" machine_tag=\"0\">floras</tag>\n\t\t<tag
        id=\"61001405-7982[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
        url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license
        id=\"5\" name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
        />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
        />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
        />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
        />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
        />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-66798341-2bcff8857da0e5d8241e71a7;Root=1-66798341-3d7487e333cadd417a02fee2
      x-server:
      - serverless-proxy-10.78.0.9
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=7982377911
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/8178/7982377911_7e49d9ae15_s.jpg\"
        url=\"https://www.flickr.com/photos/biodivlibrary/7982377911/sizes/sq/\" media=\"photo\"
        />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/8178/7982377911_7e49d9ae15_q.jpg\"
        url=\"https://www.flickr.com/photos/biodivlibrary/7982377911/sizes/q/\" media=\"photo\"
        />\n\t<size label=\"Thumbna[...]
