{% extends "base.html" %}

{% set page_id = "select_photos" %}

{% block content %}
  {% include "components/header.html" %}

  <label for="{{ photo_url_form.flickr_url.id }}">
    <p>
      At this Flickr URL:
    </p>
  </label>

  {% include "components/get_photos_form.html" %}

  {% with messages = get_flashed_messages(category_filter=["select_photos"]) %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message | safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% include "select_photos/what_did_the_user_pick.html" %}

  {% include "select_photos/which_photos_can_be_uploaded.html" %}

  {% if photos.available %}
    <h3>
      Select photos to upload:
    </h3>

    <form id="select_photos" action="{{ url_for('select_photos', flickr_url=flickr_url) }}" method="post">
      {{ select_photos_form.hidden_tag() }}

      {{ select_photos_form.cache_id }}

      <ul class="plain_list photoslist photoslist-{{ parsed_url.type }}">
        {% for field in select_photos_form %}
          {% if field.id.startswith('photo_') %}
            <li id="li-{{ field.id }}">
              <label for="{{ field.id }}">
                {% set photo = field.label.text %}
                {% set thumbnail = photo.sizes|size_at(desired_size='Medium') %}
                <img src="{{ thumbnail.source }}">
                <div class="info">

                  {#
                    Every photo in an album belongs to the album owner, so
                    we don’t need to repeat their name on every photo.
                  #}
                  {% if parsed_url.type != 'album' and parsed_url.type != 'user' %}
                  <span class="owner">by {{ photo.owner.realname or photo.owner.username }}</span>
                  {% endif %}

                  <span class="license">{{ photo.license.label }}</span>
                  {{ field(onclick="highlightSelected()") }}
                </div>
              </label>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      <p class="warning">
        Don’t forget, your selection must be information, educational, or instructional. <br/>
        That means <strong>no selfies or other personal photos like that</strong>.
      </p>

      <p id="summary">
        <span id="selectedPhotosSummary"></span>

        {{ select_photos_form.submit(class="pink_button") }}
      </p>
    </form>

    <script>
      function highlightSelected(x) {
        const selectedPhotos =
          Array.from(document.querySelectorAll("#select_photos li input"))
            .filter(input => input.checked)
            .map(input => input.id);

        document.querySelectorAll("#select_photos li")
          .forEach(li => {
            if (selectedPhotos.includes(li.id.replace("li-", ""))) {
              li.classList.add("checked");
            } else {
              li.classList.remove("checked");
            }
          })

        if (selectedPhotos.length === 0) {
          document.querySelector("#selectedPhotosSummary").innerHTML = "";
        } else if (selectedPhotos.length === 1) {
          document.querySelector("#selectedPhotosSummary").innerHTML = "<span class=\"count\">1</span> photo selected";
        } else {
          document.querySelector("#selectedPhotosSummary").innerHTML = `<span class=\"count\">${selectedPhotos.length}</span> photos selected`;
        }

        console.log(selectedPhotos);
      }
    </script>
  {% endif %}
{% endblock %}
