#page-get_photos {
  #examples li {
    display: inline-block;
    margin-right:  8px;
    margin-bottom: 8px;
  }

  form.get_photos {
    .inputs {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto 80px;
      height: 50px;
    }

    input[type="url"] {
      width: calc(100% - 10px);
    }

    input[type="button"] {
      width: 80px;
      text-transform: uppercase;
    }

    input[type="url"],
    input[type="button"] {
      height: 28px;
    }
  }
}
