#page-wait_for_upload {
  /* Ensure that the animated "Uploading....." and "1 of N" are
   * vertically aligned with each other. */
  .title_container {
    line-height: 50px;
    margin-bottom: 1.5em;
  }

  .title_container, .image_counter {
    height: 50px;
  }
}

/*
 * This adds five animated dots on Uploading.....
 *
 * The dots gradually fill up and then reset.  For users who have
 * CSS disabled or the "reduce motion" preference, it just shows
 * a static five dots.
 *
 */
.animated_uploading:after {
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis 1.2s linear infinite;
  content: ".....";

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.animated_uploading .ellipsis {
  display: none;
}

@keyframes ellipsis {
  0% {
    content: "";
  }
  20% {
    content: ".";
  }
  40% {
    content: "..";
  }
  60% {
    content: "...";
  }
  80% {
    content: "....";
  }
  100% {
    content: ".....";
  }
}
