<ul class="plain_list upload_progress">
  {% for request in task.task_input.requests %}
    {% with photo = request.photo %}
    {% with state = task.task_output[photo.id].state %}    
      <li data-id="{{ photo.id }}" data-status="{{ state }}">
        <div class="container">
          {% set large_size = photo.sizes|size_at(desired_size='Large') %}
          <img src="{{ large_size.source }}">
        
          {% if state == "succeeded" %}
            <div class="text">DONE</div>
          {% elif state == "failed" %}
            <div class="text">NOT DONE</div>
          {% endif %}
        </div>
      </li>
    {% endwith %}
    {% endwith %}
  {% endfor %}
</ul>
