<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>{% if title is defined %}{{ title }} – {% endif %}Flickypedia</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='phk3iud.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <link rel="icon" href="{{ url_for('static', filename='flickypedia-logo.svg') }}">
    
    {% block head %}{% endblock %}
  </head>

  <body>
    <main {% if page_id is defined %} id="page-{{ page_id }}"{% endif %}>
      {% include "components/flashes.html" %}

      {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}
  </body>
</html>
