{% extends "base.html" %}

{% set title = "FAQs" %}

{% set questions = [
  {
    "id": "how-do-i-get-my-flickr-photos-on-to-wikimedia-commons",
    "title": "How do I get my Flickr photos on to Wikimedia Commons?",
    "text": """
    <p>
      Why, using Flickypedia, of course! It's useful to know that Wikimedia Commons only accepts photos with particular, open licenses. If you share your photos using CC&nbsp;BY, CC&nbsp;BY&#8209;SA, CC0, PDM, or US Government Work licenses, they will show up as options here, in Flickypedia, for people upload to Wikimedia Commons.
    </p>

    <p>
      So, if you have a Flickr account, and photographs that suit the Wikimedia Commons subject matter rules &ndash; like, no selfies or other personal photos, but photos that have a place as reference works for, e.g., Wikipedia articles &ndash; <strong><em>and</em></strong> you use one of those Creative Commons licenses above, you or someone else will be able to get your Flickr photos on Wikimedia Commons.
    </p>

    <p>
      (You can also use the in-built <a href='https://commons.wikimedia.org/wiki/Special:UploadWizard'>Upload Wizard</a> on Wikimedia Commons, if you prefer.)
    </p>
    """
  },
  {
    "id": "how-can-i-see-how-my-flickr-photos-are-being-used-on-wikimedia-commons",
    "title": "How can I see how my Flickr photos are being used on Wikimedia Commons?",
    "text": """
    <p>
      Each time an upload happens through Flickypedia, we stamp the photo on Wikimedia Commons with the Flickr account holder's username and Flickr page (and some other bits of metadata from Flickr, like date info or licensing stuff).
    </p>
    <p>
      If you check back soon, we’re building a handy tool you can use to find all the photos whose metadata says they were taken by you.
    </p>
    """
  },
  {
    "id": "i-got-a-comment-on-flickr-from-flickypediabot",
    "title": "I got a comment on Flickr from FlickypediaBot. What's that?",
    "text": """
    <p>
      A big part of what Flickypedia does is thank Flickr members for their photographs, and letting them know one has been sent to Wikimedia Commons. We’ve built it so you can say thanks as yourself on Flickr if you have an account there, but, not everyone does.
    </p>
    <p>
      We made our FlickypediaBot to also notify Flickr members that one of their photos had been sent to Wikimedia Commons in case the person using Flickypedia to send it over doesn’t have a Flickr account, or doesn’t want to leave a comment as themselves.
    </p>
    <p>
      Here’s <a href='https://www.flickr.com/people/flickypedia'>FlickypediaBot’s Flickr profile</a>.
    </p>
    """
  },
  {
    "id": "i-didnt-want-my-photo-to-go-on-wikimedia-commons",
    "title": "I didn’t want my photo to go on Wikimedia Commons. What can I do?",
    "text": """
    <p>
      Sorry to hear you don't want your photo on Wikimedia Commons. It's gotten there because you would have used one of the open licenses required by the Wikimedia Commons community, and respected by Flickypedia. That’s either CC&nbsp;BY, CC&nbsp;BY&#8209;SA, CC0, PDM, or US Government Work.
    </p>
    <p>
      One effect of using one of those licenses is that others are able to reuse your work as long as they also abide by the rules of reuse. And Wikimedia Commons certainly does do that. This means, there'll be a connection drawn with you as the photo owner on Flickr, and the license you chose will also accompany the image.
    </p>
    """
  },
  {
    "id": "how-do-i-donate-to-the-flickr-foundation",
    "title": "I love this! How do I donate to the Flickr Foundation?",
    "text": """
    <p>
      OMG! The easiest way is to head straight to our <a href='https://www.flickr.org/donate'>Donate to the Flickr Foundation</a> page. Thanks so much!
    </p>
    """
  },
  {
    "id": "one-of-the-flickr-urls-i-tried-only-showed-me-100-photos",
    "title": "One of the Flickr URLs I tried only showed me 100 photos even though I know there's more. Why is that?",
    "text": """
    <p>
      This happens when the set of photos you've chosen (group pool, tag, photostream) has more than 100&nbsp;photos in it. Some Flickr groups have <em>millions</em> of pictures. But, we have limited Flickypedia to only show the first 100. There is a way to get to more of the pictures, and that's to try the same base URL, and add <code>/page2</code> at the end.
    </p>
    """
  },
  {
    "id": "why-cant-i-see-a-particular-photo",
    "title": "I was expecting to see a particular photo turn up when I try a certain URL, but I can’t see it. Why is that?",
    "text": """
    <p>
      There are two main reasons this may happen:
    </p>
    <ol>
      <li>Privacy settings: On Flickr, you can choose which other Flickr members can see your photos, or if you're OK with them being fully public. If your photos are anything other than public, they won’t show up as options.</li>
      <li>Search settings: It’s possible that you may be looking for Flickr photos that have been marked as something other than safe in their search settings, as in either moderate, or restricted.</li>
    </ol>
    <p>
      We only offer photos marked as safe and public as options for upload in Flickypedia.
    </p>
    """
  },
  {
    "id": "what-are-the-licenses-wikimedia-commons-accepts",
    "title": "What are the licenses Wikimedia Commons accepts?",
    "text": """
    <p>
      Wikimedia Commons allows media shared with CC&nbsp;BY, CC&nbsp;BY&#8209;SA, CC0, PDM, or US Government Work licenses.
    </p>

    <p>
      Find out more at the Wikimedia Commons <a href='https://commons.wikimedia.org/wiki/Commons:Copyright_rules'>Commons:Copyright Rules</a> page. On there, it reads, “files uploaded to Wikimedia Commons should be free of copyright restrictions both in the country of origin and the United States.”
    </p>
    """
  },
  {
    "id": "can-i-share-flickr-commons-photos",
    "title": "Can I share Flickr Commons photos on to Wikimedia Commons?",
    "text": """
    <p>
      Good question! Sounds like you may already know that <a href='https://flickr.com/commons'>Flickr Commons</a> is a program by Flickr (and now run by the <a href='https://www.flickr.org/'>Flickr Foundation</a>) that helps our cultural heritage institutions around the world share their photography collections with a global audience.
    </p>
    <p>
      A special feature of Flickr Commons is the capacity to use the “no known copyright restrictions” (NKCR) assertion. This isn’t a license, and it doesn’t actually mean the images are 100% definitely free of copyright, but, to each institution’s knowledge, it’s most likely fine to share openly, or sometimes the institution may look after the copyright, but choose to relinquish it. <a href='https://www.flickr.org/programs/flickr-commons/no-known-copyright-restrictions-how-it-works/'>Find out more about NKCR</a>.
    </p>
    <p>
      Anyway, because NKCR images are not 100% guaranteed to be free of copyright, the Wikimedia Commons community has decided that it isn’t a good fit for their <a href='https://commons.wikimedia.org/wiki/Commons:Project_scope#:~:text=information%20when%20required.-,Precautionary%20principle,file%2C%20it%20should%20be%20deleted.'>current precautionary principle</a>. This may change in future, and we’re ready to modify Flickypedia to allow NKCR uploads just in case.
    </p>
    """
  }
] %}

{% block head %}
  <style>
    .question {
      margin-top: 3em;
      margin-bottom: 2em;
    }
  </style>
{% endblock %}

{% block content %}
  {% include "components/header.html" %}

  <h1>Frequently Asked Questions</h1>

  <ul id="contents">
    {% for q in questions %}
    <li><a href="#{{ q.id }}">{{ q.title }}</a></li>
    {% endfor %}
  </ul>

  {% for q in questions %}
  <div class="question">
    <h2 id="{{ q.id }}">{{ q.title }} <a href="#{{ q.id }}">#</a></h2>

    {{ q.text|safe }}
  </div>
  {% endfor %}
{% endblock %}
