{% extends "base.html" %}

{% set page_id = "get_photos" %}

{% block head %}
  <script>
    function setExample(url) {
      document.querySelector('form#get_photos input[type="url"]').value = url;
    }
  </script>
{% endblock %}

{% block content %}
  {% include "components/header.html" %}

  <h2>Put your Flickr URL here:</h2>

  {% include "components/get_photos_form.html" %}

  <p>
    <strong>Note:</strong>
    Wikimedia Commons will only accept photos with certain licenses, so we’ll hide any that don’t match those requirements.
  </p>

  <p>Try out these examples to see how it works:</p>

  {% set try_it_out_examples = [
    {
      "label": "Album",
      "url": "https://www.flickr.com/photos/aljazeeraenglish/albums/72157626164453131/"
    },
    {
      "label": "Gallery",
      "url": "https://www.flickr.com/photos/bunnyfrogs/galleries/72157628088497125/"
    },
    {
      "label": "Group pool",
      "url": "https://www.flickr.com/groups/lomo/pool/"
    },
    {
      "label": "Photo",
      "url": "https://www.flickr.com/photos/schlesinger_library/13270291833/"
    },
    {
      "label": "Photostream",
      "url": "https://www.flickr.com/photos/obamawhitehouse/"
    },
    {
      "label": "Search",
      "url": "https://www.flickr.com/search/?text=hot%20air%20balloons"
    },
    {
      "label": "Tag",
      "url": "https://flickr.com/photos/tags/auroraborealis/"
    },
  ] %}

  <ul class="plain_list" id="examples">
    {% for example in try_it_out_examples %}
    <li>
      <input
        type="button"
        class="pink_button"
        onclick="setExample('{{ example.url }}')"
        value="{{ example.label }}"
      >
    </li>
    {% endfor %}
  </ul>
{% endblock %}
