{% extends "base.html" %}

{% set title = "Say thanks!" %}
{% set page_id = "post_comments" %}

{% block head %}
  <script src="{{ url_for('static', filename='flickypedia.js') }}"></script>
{% endblock %}

{% block content %}
  {% include "components/header.html" %}

  <h1>
    Say thanks
  </h1>

  <p>
    We’ll post on your behalf as Flickypedia Bot.
  </p>

  <ul class="plain_list upload_progress">
    {% for item in successful_requests %}
      {% with photo = item.photo %}
      {% with result = task.task_output[photo.id] %}
        <li>
          {% set large_size = photo.sizes|size_at(desired_size='Large') %}
          <img src="{{ large_size.source }}">
        </li>
        <li class="comment_info">
          <p>
            To <a href="{{ photo.owner.profile_url }}">{{ photo.owner.realname or photo.owner.username }}</a>
          </p>

          <div class="comment_text">
            {{- current_user.name|bot_comment_text(current_user.profile_url, result.title)|safe -}}
          </div>

          <p>
            <button class="pink_button" onclick='postBotComment(this, {{ api_url|tojson }}, {{task.id|tojson}}, {{ photo.id|tojson}} )'>POST</button>
          </p>


        </li>
      {% endwith %}
      {% endwith %}
    {% endfor %}
  </ul>
{% endblock %}
