{% extends "base.html" %}

{% set title = "Say thanks!" %}
{% set page_id = "upload_complete" %}

{% block content %}
  {% include "components/header.html" %}

  <style>
    .comment_info {
      grid-column: 2 / -1;
      max-width: 100% !important;
    }

    .comment_info p:first-child {
      margin-top: 0;
    }

    .comment_text {
      font-family: monospace;
      line-height: 1.3em;
      white-space: pre-line;
    }
  </style>

  <script>
    function postBotComment(buttonElement, taskId, photoId) {
      buttonElement.classList.add("thinking");

      fetch(
        `{{api_url}}?task_id=${taskId}&photo_id=${photoId}`,
        { method: "POST" }
      )
        .then((response) => response.json())
        .then(() => {
          buttonElement.classList.remove("thinking");
          buttonElement.parentElement.innerHTML = '<p>Posted! ✅</p>';
        });
    }
  </script>

  <h1>
    Say thanks
  </h1>

  <p>
    We’ll post on your behalf as Flickypedia Bot.
  </p>

  <ul class="plain_list upload_progress">
    {% for item in successful_requests %}
      {% with photo = item.photo %}
      {% with result = task.task_output[photo.id] %}
        <li>
          {% set large_size = photo.sizes|size_at(desired_size='Large') %}
          <img src="{{ large_size.source }}">
        </li>
        <li class="comment_info">
          <p>
            To <a href="{{ photo.url }}">{{ photo.owner.realname or photo.owner.username }}</a>
          </p>

          <div class="comment_text">
            {{- current_user|bot_comment_text(result.title)|safe -}}
          </div>

          <p>
            <button class="pink_button" onclick='postBotComment(this, {{ task.id|tojson }}, {{ photo.id|tojson }})'>POST</button>
          </p>


        </li>
      {% endwith %}
      {% endwith %}
    {% endfor %}
  </ul>
{% endblock %}
