{% extends "base.html" %}

{% set title = "Say thanks!" %}
{% set page_id = "post_comments" %}

{% block head %}
  <script src="{{ url_for('static', filename='flickypedia.js') }}"></script>
{% endblock %}

{% block content %}
  {% include "components/header.html" %}

  <h1>
    Say thanks
  </h1>

  <div class="which_user">
    {% if user == 'bot' %}
      <img src="{{ '199561775@N05'|buddy_icon }}">
      <p>
        We’ll post on your behalf as Flickypedia Bot.
      </p>
    {% else %}
      {% with token = current_user.flickr_token() %}
        <img src="{{ token.user_nsid|buddy_icon }}">
        <p>
          You’re logged into Flickr as {{ token.fullname or token.username }}.
        </p>
      {% endwith %}
    {% endif %}
  </div>

  <ul class="plain_list upload_progress">
    {% for item in successful_requests %}
      {% with photo = item.photo %}
      {% with result = task.task_output[photo.id] %}
        <li>
          {% set large_size = photo.sizes|size_at(desired_size='Large') %}
          <img src="{{ large_size.source }}">
        </li>
        <li class="comment_info">
          <p>
            To <a href="{{ photo.owner.profile_url }}">{{ photo.owner.realname or photo.owner.username }}</a>
          </p>

          {% if user == 'bot' %}

            <div class="comment_text">
              {{- current_user.name|bot_comment_text(current_user.profile_url, result.title)|safe -}}
            </div>

            <p>
              <button class="pink_button" onclick='postBotComment(this, {{ api_urls.bot_comment|tojson }}, {{task.id|tojson}}, {{ photo.id|tojson}} )'>POST</button>
            </p>
          {% else %}
            <textarea id="comment-{{ photo.id }}" rows="7">
              {{- result.title|default_user_comment_text|safe -}}
            </textarea>

            <p>
              <button class="pink_button" onclick='postUserComment(this, {{ api_urls.user_comment|tojson }}, {{task.id|tojson}}, {{ photo.id|tojson}} )'>POST</button>
            </p>
          {% endif %}


        </li>
      {% endwith %}
      {% endwith %}
    {% endfor %}
  </ul>
{% endblock %}
