{% extends "base.html" %}

{% set title = "401 Unauthorized" %}

{% block content %}
  {% include "components/header.html" %}

  <h1>401 Unauthorized</h1>

  <p>
    Something went wrong logging in to Wikimedia Commons!
    Please try <a href="{{ url_for('oauth2_authorize_wikimedia') }}">logging in</a> again.
  </p>

  <p>
    If the problem persists, please email us at <a href="mailto:hello@flickr.org">hello@flickr.org</a>.
  </p>

  <figure>
    <a href="https://commons.wikimedia.org/wiki/File:Moor_Street_Station_-_No_Unauthorised_persons_allowed_beyond_this_point_(5269054535).jpg">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Moor_Street_Station_-_No_Unauthorised_persons_allowed_beyond_this_point_%285269054535%29.jpg/1280px-Moor_Street_Station_-_No_Unauthorised_persons_allowed_beyond_this_point_%285269054535%29.jpg" style="aspect-ratio: 1280 / 960;">
    </a>
    <figcaption>
      A “no unauthorised persons” sign at Moor Street railway station, Birmingham, UK.
      Photograph by Elliott Brown.
      From <a href="https://commons.wikimedia.org/wiki/File:Moor_Street_Station_-_No_Unauthorised_persons_allowed_beyond_this_point_(5269054535).jpg">Wikimedia Commons</a>, used under CC&nbsp;BY&nbsp;2.0.
    </figcaption>
  </figure>
{% endblock %}
