{% extends "base.html" %}

{% if successful_requests %}
  {% set title = "Upload complete!" %}
{% else %}
  {% set title = "Upload failed!" %}
{% endif %}

{% set page_id = "upload_complete" %}

{% block content %}
  {% include "components/header.html" %}

  {% if successful_requests %}
    <div class="title">
      <h2>Upload complete!</h2>
      <a href="{{ url_for('say_thanks', task_id=task_id) }}" class="pink_button">SAY THANKS</a>
    </div>
  {% else %}
    <h2>Upload failed!</h2>
  {% endif %}

  <!-- TODO: There should be a link here -->

  {% if successful_requests %}
    <p>
      <a href="{{ upload_results|link_to_commons }}">Review your work</a>
      on Wikimedia Commons?
    </p>
  {% endif %}

  {% if failed_requests %}
    <p>
      {% set all_photos_failed = failed_requests and not successful_requests %}

      <span class="highlight red" style="margin-right: 0;">
        {%- if all_photos_failed and failed_requests|length == 1 -%}
          Your photo didn’t upload
        {%- elif all_photos_failed and failed_requests|length == 2 -%}
          Neither of your photos uploaded
        {%- elif all_photos_failed -%}
          None of your photos uploaded
        {%- else -%}
          {{ failed_requests|length }} of your photos didn’t upload
        {%- endif -%}
      </span>
      We recommend you try uploading {% if failed_requests|length > 1 %}them{% else %}it{% endif %} again later.
      You can make a copy of the title{% if failed_requests|length > 1 %}s{% endif %} and caption{% if failed_requests|length > 1 %}s{% endif %} you wrote for your next attempt.
    </p>
  {% endif %}

  <ul class="plain_list upload_progress">
    {% for item in failed_requests %}
      {% with photo = item.photo %}
      {% with result = task.task_output[photo.id] %}
        <li data-status="{{ result.state }}">
          {% set large_size = photo.sizes|size_at(desired_size='Large') %}
          <div class="container">
            <img src="{{ large_size.source }}">
            <div class="text">NOT DONE</div>
          </div>
        </li>
        <li class="error_info">
          <dl>
            <dt>URL</dt>
            <dd>{{ photo.url }}</dd>

            <dt>title</dt>
            <dd>{{ item.title }}</dd>

            <dt>short caption</dt>
            <dd>{{ item.caption.text }}</dd>

            <dt>error</dt>
            <dd>
              {#
                This branch is to handle errors of the form
                
                    {
                        "code": "abusefilter-warning",
                        "info": "abusefilter-warning-copyv2",
                        "abusefilter": {
                            "id": "156",
                            "description": "Small jpeg's uploaded by users with low editcount",
                            "actions": ["warn"],
                        },
                        "filekey": "1ajpz6wsbm38.53lkc.808449.",
                        "sessionkey": "1ajpz6wsbm38.53lkc.808449.",
                        "*": "See https://commons.wikimedia.org/w/api.php for API usage. Subscribe to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki- api-announce.lists.wikimedia.org/&gt; for notice of API deprecations and breaking changes.",
                    }

                #}
              {% if result.error.code == "abusefilter-warning"
                 and result.error.abusefilter.description %}
                This upload has been blocked by an abuse filter on Wikimedia Commons:<br/><br/>
                
                {{ result.error.abusefilter.description }}
              {% else %}
                {{ result.error or '<unknown>' }}
              {% endif %}
            </dt>
          </dl>
        </li>
      {% endwith %}
      {% endwith %}
    {% endfor %}

    {% for item in successful_requests %}
      {% with photo = item.photo %}
      {% with result = task.task_output[photo.id] %}
        <li data-status="{{ result.state }}">
          <a href="https://commons.wikimedia.org/wiki/{{ result.title }}">
            <div class="container">
              {% set large_size = photo.sizes|size_at(desired_size='Large') %}
              <img src="{{ large_size.source }}">
              <div class="text">DONE</div>
            </div>
          </a>
        </li>
      {% endwith %}
      {% endwith %}
    {% endfor %}
  </ul>
{% endblock %}
