{% extends "base.html" %}

{% set title = "Uploading to Wikimedia Commons…" %}
{% set page_id = "wait_for_upload" %}
{% set show_nav = True %}

{% block head %}
  <noscript>
    <meta http-equiv="refresh" content="10">
  </noscript>

  <script src="{{ url_for('static', filename='flickypedia.js') }}"></script>
  <script>
    window.onload = function() {
      setInterval(updatePhotosWithUploadProgress, 1000);
    };
  </script>
{% endblock %}

{% block content %}
  {% include "components/header.html" %}

  <div class="title_container" style="position: relative;">
    <h2 class="animated_uploading">Uploading<span class="ellipsis">.....</span></h2>

    <div class="image_counter">1 of {{ task.task_input.requests|length }}</div>
  </div>

  <div id="progress">
    {% include "wait_for_upload/progress.html" %}
  </div>
{% endblock %}
