{% extends "base.html" %}

{% set title = "Uploading to Wikimedia Commons…" %}
{% set page_id = "wait_for_upload" %}
{% set show_nav = True %}

{% block head %}
  <script src="{{ url_for('static', filename='flickypedia.js') }}"></script>

  <!--
    We need to poll for updates to find out if the update has completed yet.

    For most users, this will occur with JavaScript fetching data from the
    API.  However, if there's a JS error or the user doesn't have JS-enabled,
    we still want the user to progress to the next screen eventually, so
    the <meta> tag will tell the browser to reload every 30 seconds.
    
    If you reload and the upload is complete, you'll be redirected to
    the next screen.
    -->
  <meta http-equiv="refresh" content="30">
  <script>
    window.onload = function() {
      const ONE_SECOND = 1000;

      setInterval(updatePhotosWithUploadProgress, ONE_SECOND);
    };
  </script>
{% endblock %}

{% block content %}
  {% include "components/header.html" %}

  <div class="title_container" style="position: relative;">
    <h2 class="animated_uploading">Uploading<span class="ellipsis">.....</span></h2>

    <div class="image_counter">1 of {{ task.task_input.requests|length }}</div>
  </div>

  <div id="progress">
    {% include "wait_for_upload/progress.html" %}
  </div>
{% endblock %}
