<style>
  .highlight {
    font-weight: bold;
    color: white;
    padding-left: 4px;
    margin-left: -4px;
    margin-right: 5px;
  }

  .message_available .highlight {
    background-color: green;
    padding-right: 4px;
  }

  .message_duplicate .highlight {
    background-color: deeppink;
  }

  .message_disallowed .highlight {
    background-color: darkred;
  }
</style>

{% set
    all_photos_available =
    photos.available
    and not photos.disallowed_licenses
    and not photos.duplicates %}

{% set
    all_photos_duplicates =
    photos.duplicates
    and not photos.available
    and not photos.disallowed_licenses %}

{% set
    all_photos_disallowed_licenses =
    photos.disallowed_licenses
    and not photos.duplicates
    and not photos.available %}

{% set
    all_photos_restricted =
    photos.restricted
    and not photos.available
    and not photos.duplicates
    and not photos.disallowed_licenses %}

{% if photos.available %}
  <p class="message_available">
    <span class="highlight">
      {% if photos.available|length == 1 and all_photos_available %}
        This photo
      {% elif photos.available|length == 1 %}
        One of these photos
      {% elif photos.available|length == 2 and all_photos_available %}
        Both photos
      {% elif all_photos_available %}
        All {{ photos.available|length }} photos
      {% else %}
        {{ photos.available|length }} of these photos
      {% endif %}
      can be uploaded to Wikimedia Commons.
      Yay!
    </span>
  </p>
{% endif %}

{% if photos.duplicates %}
  <p class="message_duplicate">
    {% if photos.duplicates|length == 1 and all_photos_duplicates %}
      <span class="highlight">
        Your work is done!
      </span>
      This photo is
    {% elif photos.duplicates|length == 1 %}
      <span class="highlight">
        Some of your work is done!
      </span>
      One photo is
    {% elif photos.duplicates|length == 2 and all_photos_duplicates %}
      <span class="highlight">
        Your work is done!
      </span>
      Both photos are
    {% elif all_photos_duplicates %}
      <span class="highlight">
        Your work is done!
      </span>
      All {{ photos.duplicates|length }} photos are
    {% else %}
      <span class="highlight">
        Some of your work is done!
      </span>
      {{ photos.duplicates|length }} photos are
    {% endif %}
    already in Wikimedia Commons.
    W00t!
  </p>

  <p class="duplicate_link">
    <a href="{{ photos.duplicates|link_to_commons }}">Have a look</a>?
  </p>
{% endif %}

{% if photos.disallowed_licenses %}
  <p class="message_disallowed">
    {% if photos.disallowed_licenses|length == 1 and all_photos_disallowed_licenses %}
      <span class="highlight">
        This photo can’t be used
      </span>
    {% elif photos.disallowed_licenses|length == 1 %}
      <span class="highlight">
        One photo can’t be used
      </span>
    {% elif photos.disallowed_licenses|length == 2 and all_photos_disallowed_licenses %}
      <span class="highlight">
        Neither of these photos can be used
      </span>
    {% elif all_photos_disallowed_licenses %}
      <span class="highlight">
        None of these photos can be used
      </span>
    {% else %}
      <span class="highlight">
        {{ photos.disallowed_licenses|length }} photos can’t be used
      </span>
    {% endif %}
    because
    {% if photos.disallowed_licenses|length == 1 %}
      it has
      {% if photos.disallowed_licenses.values()|sort == ["All Rights Reserved"] %}
        an
      {% else %}
        a
      {% endif %}
    {% else %}
      they have
    {% endif %}
    {% for lic in photos.disallowed_licenses.values()|unique %}
      {{ lic }}
      {%- if loop.index <= loop.length - 2 %},{% endif %}
      {% if loop.index == loop.length - 1 %} and{% endif %}
    {% endfor %}
    license{% if photos.disallowed_licenses|length > 1 %}s{% endif %}.

    Sorry!
  </p>

  <p class="license_explanation">
    Wikimedia Commons only accepts CC0, CC BY, CC BY-SA, and Public Domain photos that are also public and safe on Flickr.
  </p>
{% endif %}

{#
  We don't want to acknowledge the existence of restricted photos -- if
  there are other photos in the mix, we show the user those messages instead.
  
  This is only for the case where every/the only image is restricted,
  in which case we need to provide some sort of explanation.
#}

{% if all_photos_restricted %}
  <p class="message_disallowed">
    {% if photos.restricted|length == 1 %}
      <span class="highlight">
        This photo can’t be used.
      </span>
    {% elif photos.restricted|length == 2 %}
      <span class="highlight">
        Neither of these photos can be used.
      </span>
    {% else %}
      <span class="highlight">
        None of these photos can be used.
      </span>
    {% endif %}

    Sorry!
  </p>

  <p class="license_explanation">
    Wikimedia Commons only accepts CC0, CC BY, CC BY-SA, and Public Domain photos that are also public and safe on Flickr.
  </p>
{% endif %}

