{% extends "base.html" %}

{% set page_id = "homepage" %}

{% block content %}
  <img
    class="hero"
    src="{{ url_for('static', filename='flickypedia-hero.svg') }}"
    alt="Flickypedia, by Flickr.org."
  >

  <h2 class="hero">
    <span class="welcome">Welcome!</span>
    Flickypedia helps you put Flickr photos in Wikimedia Commons.
    You need a Wikimedia Commons account to use it.
  </h2>

  <h2 class="hero">
    Here’s how it works:
  </h2>

  {% include "components/homepage_how_it_works.svg" %}

  <ul id="actions" class="plain_list">
    <li id="wiki_requires_cc_licenses">
      <div id="cc_logo_wrapper">
        <img
          src="{{ url_for('static', filename='creative-commons-logo.svg') }}"
          alt=""
        >
      </div>

      <h3>Wikimedia requires CC licenses</h3>

      <p>so we’ll only offer Flickr photos that fit</p>
    </li>

    <li id="get_started">
      <img
        src="{{ url_for('static', filename='wikimedia-commons-logo.svg') }}"
        alt=""
      >

      {% if current_user.is_anonymous %}
        <h3>
          <span class="highlight">Start</span>:
          <a href="{{ url_for('oauth2_authorize_wikimedia') }}">Log in</a>
        </h3>

        <p>to Wikimedia Commons</p>
      {% else %}
        <h3>
          <span class="highlight">Start</span>:
          <a href="{{ url_for('get_photos') }}">Get Flickr photos</a>
        </h3>

        <p>
          you’re logged in as
          <br/>
          <a class="wikimedia_user" href="{{ current_user.profile_url }}">
            {{- current_user.name -}}
          </a>
          /
          <a href="{{ url_for('logout') }}">Log out</a>
        </p>
      {% endif %}

    </li>
  </ul>
{% endblock %}
