{% extends "base.html" %}

{% block content %}
  {% include "components/header.html" %}

  At this Flickr URL:

  <form action="{{ url_for('find_photos') }}" method="post">
    {{ photo_url_form.hidden_tag() }}

    {% with messages = get_flashed_messages(category_filter=["flickr_url"]) %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message | safe }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {{ photo_url_form.flickr_url(value=flickr_url) }}

    <p>{{ photo_url_form.submit() }}</p>
  </form>
  
  {% with messages = get_flashed_messages(category_filter=["select_photos"]) %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message | safe }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  

  <form id="select_photos" action="{{ url_for('select_photos', flickr_url=flickr_url) }}" method="post" style="background: yellow;">
    {{ select_photos_form.hidden_tag() }}
    
    {{ select_photos_form.cached_api_response_id }}

    <ul>
      {% for field in select_photos_form %}
        {% if field.id.startswith('photo_') %}
          <li>
            {{ field }} <br/>
            <label for="{{ field.id }}">
              {% set photo = field.label.text %}
              {% set thumbnail = photo.sizes|size_at(desired_size='Square') %}
              <img src="{{ thumbnail.source }}">
              {{ photo.title }} <br/> {{ photo.url }} <br/> {{ photo.license.label }}
            </label>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    
    <p>{{ select_photos_form.submit() }}</p>
  </form>
{% endblock %}
