{% extends "base.html" %}

{% block content %}
  {% include "components/header.html" %}
  
  At this Flickr URL:
  
  <form action="{{ url_for('find_photos') }}" method="post" novalidate>
    {{ form.hidden_tag() }}
    
    {% with messages = get_flashed_messages(category_filter=["flickr_url"]) %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message | safe }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}    
    
    {{ form.flickr_url(value=flickr_url) }}
    
    <p>{{ form.submit() }}</p>
  </form>
  
  
  <p>{{ parsed_url }}</p>
  
  <ul>
    {% for ph in photo_data.photos %} 
      <li>{{ ph.title }} <br/> {{ ph.url }} <br/> {{ ph.license.label }}</li>
    {% endfor %}
  </ul>
{% endblock %}
