{% extends "base.html" %}

{% set page_id = "upload_complete" %}

{% block content %}
  {% include "components/header.html" %}

  <h2>Upload complete!</h2>

  <p>Review your work on Wikimedia Commons?</p>

  {% set failed_requests = status.progress|selectattr("status", "eq", "failed")|list %}

  {% set succeeded_photos = status.progress|selectattr("status", "eq", "succeeded")|list %}

  <style>
    .failed_requests {
      grid-template-columns: auto !important;
    }

    .failed_requests .container {
      aspect-ratio: 1.01 !important;
    }

    .failed_requests li {
      display: grid !important;
      grid-template-columns: 200px auto;
      grid-gap: 2em;
    }

    .failed_requests .text {
      // Disable text selection highlighting
      // https://stackoverflow.com/a/4407335/1558022
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }

    .failed_requests img {
      width: 100%;
      display: block;
      /* I actually want a square, but an aspect ratio of 1 causes
       * a small amount of space below the image. */
      aspect-ratio: 1.01;
      object-fit: cover;
    }

    .failed_requests dl {
      font-family: monospace;
      line-height: 1.6em;
      margin-top: 0;
    }

    .failed_requests dt {
      font-weight: bold;
    }

    .failed_requests dt:not(:first-child) {
      margin-top: 1em;
    }

    .failed_requests dd {
      margin-left: 0;
    }

    .successful_requests img {
      max-width
    }
  </style>

  {% if failed_requests %}
    <p>
      <span class="highlight red">
        {{ failed_requests|length }}
        of your photo{% if failed_requests|length > 1 %}s{% endif %}
        did not upload
      </span>
    </p>

    <p>
      We recommend you try uploading {% if failed_requests|length > 1 %}them{% else %}it{% endif %} again later.
      You can make a copy of the title{% if failed_requests|length > 1 %}s{% endif %} and caption{% if failed_requests|length > 1 %}s{% endif %} you wrote for your next attempt.
    </p>

    <ul class="plain_list upload_progress failed_requests">
      {% for item in failed_requests %}
      <li data-status="{{ item.status }}">
        {% with photo = item.req.photo %}
          {% set large_size = photo.sizes|size_at(desired_size='Large') %}
          <div class="container">
            <img src="{{ large_size.source }}">
            <div class="text">NOT DONE</div>
          </div>
          <dl>
            <dt>URL</dt>
            <dd>{{ photo.url }}</dd>

            <dt>title</dt>
            <dd>{{ item.req.title }}</dd>

            <dt>short caption</dt>
            <dd>{{ item.req.caption.text }}</dd>

            <dt>error</dt>
            <dd>{{ item.error or '<unknown>' }}</dt>
          </dl>
        {% endwith %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <p></p>

  <ul class="plain_list upload_progress successful_requests">
    {% for item in succeeded_photos %}
      {% with photo = item.req.photo %}
      <li data-status="{{ item.status }}">
        <a href="{{ photo.url }}">
          <div class="container">
            {% set large_size = photo.sizes|size_at(desired_size='Large') %}
            <img src="{{ large_size.source }}">
            <div class="text">DONE</div>
          </div>
        </a>
      </li>
      {% endwith %}
    {% endfor %}
  </ul>
{% endblock %}
