{% extends "base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <script>
    function updateBasedOnTaskId() {
      const xhr = new XMLHttpRequest();
      xhr.open("GET", `${window.location}/status`);
      xhr.send();
      xhr.responseType = "json";
      xhr.onload = () => {
        if (xhr.readyState == 4 && xhr.status == 200) {
          var processing = 0;

          xhr.response.progress.forEach((progress) => {
            const photoId = progress.req.photo.id;
            const uploadStatus = progress.status;

            document
              .querySelector(`li[data-id="${photoId}"]`)
              .setAttribute("data-status", uploadStatus);

            if (uploadStatus !== "waiting") {
              processing += 1;
            }

          });

          document
            .querySelector('.image_counter')
            .innerHTML = `${processing} of ${xhr.response.progress.length}`;

        } else {
          console.log(`Error: ${xhr.status}`);
        }
      };
    };

    window.onload = function() {
      updateBasedOnTaskId();
      setInterval(updateBasedOnTaskId, 1000);
    };
  </script>

  <div class="container" style="position: relative;">
    <h2>
      Uploading....
    </h2>

    <div class="image_counter">1 of {{ status.progress|length }}</div>
  </div>

  <div id="progress">
    {% include "wait_for_upload/progress.html" %}
  </div>

  <div id="results"></div>
{% endblock %}
