<header>
  <div class="logo">
    <a href="{{ url_for('homepage') }}">
      <img class="icon" src="{{ url_for('static', filename='flickypedia-logo.svg') }}">
    </a>
  </div>

  <div>
    <img class="wiki_commons" src="{{ url_for('static', filename='wikimedia-commons-logo.svg') }}">
  </div>

  <p>
    {% if current_user.is_anonymous %}
      <a href="{{ url_for('oauth2_authorize_wikimedia') }}">Log in</a>
    {% else %}
      {% with messages = get_flashed_messages(category_filter=["login_header"]) %}
        {% if messages %}
          ✅ OK, <a href="{{ current_user.profile_url }}">{{ current_user.name }}</a>.
          {% for msg in messages %}
            <span class="next_step">{{ msg }}</span>
          {% endfor %}
        {% else %}
          <a href="{{ current_user.profile_url }}">{{ current_user.name }}</a>
        {% endif %}
        / <a href="{{ url_for('logout') }}">Log out</a>
      {% endwith %}
    {% endif %}
  </p>
</header>

{% if show_nav is defined and show_nav %}
  <nav>
    {% include "components/header_how_it_works.svg" %}
  </nav>
{% endif %}
