interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2F35591378%40N03
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"35591378@N03\">\n\t<username>Obama White House Archived</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=35591378%40N03
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"35591378@N03\" nsid=\"35591378@N03\" ispro=\"1\" is_deleted=\"0\" iconserver=\"475\"
      iconfarm=\"1\" path_alias=\"obamawhitehouse\" has_stats=\"0\" pro_badge=\"standard\"
      expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Obama
      White House Archived</username>\n\t<location>Washington, DC</location>\n\t<timezone
      label=\"Eastern Time (US &amp; Canada)\" offset=\"-05:00\" timezone_id=\"EST5EDT\"
      timezone=\"14\" />\n\t<description>This account will be maintained by the National
      Archives and Records Administration (NARA) and will serve as an archive of Obama
      Administration content.</description>\n\t<photosurl>https://www.flickr.com/photos/obamawhitehouse/</photosurl>\n\t<profileurl>https://www.flickr.com/people/obamawhitehouse/</profileurl>\n\t<mobileurl>https://m.flickr.com/photostream.gne?id=35568324</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2005-06-12
      01:25:15</firstdatetaken>\n\t\t<firstdate>1240962741</firstdate>\n\t\t<count>6668</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
