{% extends "base.html" %}

{% set page_id = "prepare_info" %}

{% block head %}
  <script src="{{ url_for('static', filename='flickypedia.js') }}"></script>

  <script>
    window.onload = function() {
      document
        .querySelectorAll('input[data-type="title"]')
        .forEach(input => addTitleValidatorTo(input));

      document
        .querySelectorAll('textarea[data-type="short_caption"]')
        .forEach(textarea => {
          const counterElement =
            document.querySelector(`label[for=${textarea.id}] .charCounter`);

          addCharCounterTo(textarea, counterElement);
        });

      const parentForm = document.querySelector('form#prepare_info');

      document
        .querySelectorAll('.categories')
        .forEach(categoriesElement =>
           addInteractiveCategoriesTo(categoriesElement, parentForm)
        );
    }
  </script>
{% endblock %}

{% block content %}
  {% include "components/header.html" %}

  <h2>Prepare info</h2>

  <form id="prepare_info" action="" method="post">
    {{ prepare_info_form.hidden_tag() }}

    {{ prepare_info_form.cached_api_response_id() }}

    <!-- TODO: These messages need to be plural-aware -->

    <h3>
      <span class="highlight">First</span>, please set the language you’ll be using to write your caption{% if photo_fields|length > 1 %}s{% endif %}:
    </h3>

    {{ prepare_info_form.language() }}

    <h3>
      <span class="highlight">Next</span>, please add
      {% if photo_fields|length > 1 %}
        titles and captions for each photo,
      {% else %}
        a title and short caption,
      {% endif %}
      and optional Wikimedia Commons categories:
    </h3>

    <ul class="plain_list">
      {% for field in photo_fields %}
        {% set photo = field.label.text %}
        <li class="photo">

        {% set large_size = photo.sizes | size_at(desired_size='Large') %}

        <div class="preview">
          <div class="image_counter">
            {{ loop.index }} of {{ loop.length }}
          </div>

          <img
            src="{{ large_size.source }}"
            style="aspect-ratio: {{ large_size.width }} / {{ large_size.height }}"
          >
        </div>

        <div class="info">
          <div class="to_from_with_logo from_flickr">
            <img src="{{ url_for('static', filename='flickr-logo.svg') }}">

            <div>From Flickr</div>
          </div>

          <div class="to_from_with_logo to_wiki">
            <img src="{{ url_for('static', filename='wikimedia-commons-logo.svg') }}">

            <div>To Wikimedia Commons</div>
          </div>

          {% include "prepare_info/flickr_photo_info.html" %}

          {% include "prepare_info/wiki_fields_form.html" %}

          <details class="sdc">
            <summary>More details</summary>

            {% with structured_data = photo.sdc %}
              {% include "prepare_info/structured_data_preview.html" %}
            {% endwith %}
          </details>
        </div>
        </li>
      {% endfor %}
    </ul>
    
    <p class="warning">
      Wikimedia Commons requires that your titles and captions are assigned a <strong>CC0 license</strong>.
      <br/>
      (That means anyone is free to use these titles and captions in any way.)
    </div>

    <p id="summary">{{ prepare_info_form.upload(class="pink_button") }}</p>
  </form>
{% endblock %}
