:root {
  --cream: 255, 252, 242; /* #fffcf2 */
  --blue:    0, 102, 153; /* #006699 */
  --brown: 204, 197, 185; /* #CCC5B9 */;
  --black:   8,   9,  10; /* 08090A */;
}

body {
  margin: 0;

  background: rgb(var(--cream));
  color: rgb(var(--black));

  font-family: proxima-nova, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

main {
  margin-left:  auto;
  margin-right: auto;
  max-width: 850px;
  padding-left:  1em;
  padding-right: 1em;
}

footer {
  margin-top: 1em;
  padding: 2px 1em;

  background: rgb(var(--black));

  text-align: center;
  color: rgb(var(--cream));

  /* This ensures the background color extends to the bottom of the page,
     wherever the footer appears.

     See https://designdev.blog/extend-footer-background-color-to-bottom-of-web-page/
   */
  box-shadow: 0 50vh 0 50vh rgb(var(--black));
}

footer a {
  color: rgb(var(--cream));
  font-weight: bold;
}

footer a:hover {
  background-color: rgba(var(--cream), 0.4);
}

ul.plain_list {
  list-style-type: none;
  padding: 0;
  margin:  0;
}

a {
  color: rgb(var(--blue));
}

a:hover {
  background-color: rgba(var(--blue), 0.3);
}

/* Temporary styles */
main {
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

.flashes {
  color: red;
}

input[type="url"] {
  width: 100%;
  font-size: 1.2em;
}