body {
  margin: 0;

  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

main {
  margin-left:  auto;
  margin-right: auto;
  max-width: 700px;
}

footer {
  margin-top: 1em;
  padding: 2px 1em;

  background: black;

  text-align: center;
  color: white;
}

footer a {
  color: white;
  font-weight: bold;
}

/* Temporary styles */
main {
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

.flashes {
  color: red;
}