:root {
  --cream: 255, 252, 242; /* #fffcf2 */
  --blue:    0, 102, 153; /* #069, from the Wiki Commons logo */
  --brown: 204, 197, 185; /* #CCC5B9 */
  --black:   8,   9,  10; /* #08090A */
  --grey:   87,  90,  94; /* #575A5E */

  --pink:   227, 99, 151; /* #E36397 */

  --red:    255,  0,   0; /* CSS red    */
  --yellow: 255, 255,  0; /* CSS yellow */
}

body {
  margin: 0;

  background: rgb(var(--cream));
  color: rgb(var(--black));

  font-family: proxima-nova, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

main {
  margin-left:  auto;
  margin-right: auto;
  max-width: 850px;
  padding-left:  1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
  padding: 1em;

  background: rgb(var(--black));

  text-align: center;
  color: rgb(var(--cream));

  /* This ensures the background color extends to the bottom of the page,
     wherever the footer appears.

     See https://designdev.blog/extend-footer-background-color-to-bottom-of-web-page/
   */
  box-shadow: 0 50vh 0 50vh rgb(var(--black));
}

footer a {
  color: rgb(var(--cream));
}

footer a:hover {
  background-color: rgba(var(--cream), 0.4);
}

footer li {
  display: inline-block;
}

footer li:not(:last-child):after {
  content: "| ";
  white-space: pre;
  color: rgb(var(--grey));
}

ul.plain_list {
  list-style-type: none;
  padding: 0;
  margin:  0;
}

a {
  color: rgb(var(--blue));
}

a:hover {
  background-color: rgba(var(--blue), 0.3);
}

input[type="url"],
input[type="text"],
select,
textarea {
  border: 1px solid rgb(var(--brown));
  border-radius: 8px;
  padding: 10px 6px;
  font-size: 1.2em;
}

select {
  background: rgb(var(--cream));
}

input[type="url"],
input[type="text"],
textarea {
  width: calc(100% - 20px);
}

.pink_button {
  color: rgb(var(--cream));
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 8px;
  background: rgb(var(--pink));
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  text-decoration: none;
}

.pink_button:hover {
  background: color-mix(in srgb, rgb(var(--pink)), #000 15%);
}

input.pink_button:active {
  transform: translate(0, 2px);
}

.warning {
  background: color-mix(in srgb, rgb(var(--yellow)), white 65%);
  padding: 1em;
  font-size: 1.2em;
  text-align: center;
}

.highlight {
  background: rgb(var(--yellow));
}

/* Styles for the 'get photos' form */

.get_photos .inputs {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 80px;
  height: 50px;
}

.get_photos input[type="url"] {
  width: calc(100% - 10px);
}

.get_photos input[type="button"] {
  width: 80px;
  text-transform: uppercase;
}

.get_photos input[type="url"],
.get_photos input[type="button"] {
  height: 28px;
}

/* Styles for the 'prepare info' page */
#prepare_info li.photo {
  margin-bottom: 2em;
}

.required, .validation_errors, .too_many_characters, .not_enough_characters {
  font-family: monospace;
  font-size: small;
  color: rgb(var(--red));
}

.validation_errors {
  margin-top: 7px;
  line-height: 1.4em;
}

textarea + .validation_errors {
  margin-top: 1px;
}

.validation_errors.hidden {
  display: none;
}

#prepare_info label {
  display: flex;
}

label .required, label .charCounter {
  display: inline;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: 4.5px;
}

.remove_category {
  margin-left: 5px;
  cursor: pointer;
  color: rgb(var(--red));
}

#prepare_info .wiki_info .selected_categories .remove_category:hover {
  background: none;
}

#prepare_info .wiki_info .selected_categories {
  margin-top: 1em;
}

#prepare_info .wiki_info .selected_categories li {
  list-style-type: disc;
}

/* Styles for the "From Flickr" info in the left-hand sidebar */
.flickr_info {
  font-size: small;
  margin-top: 4px;
}

.flickr_info dt {
  font-weight: bold;
}

.flickr_info dt:not(:first-child) {
  margin-top: 1em;
}

.flickr_info dd {
  margin-left: 0;
}

.flickr_description {
  white-space: pre-line;
}

/* These two selectors add a "barberpole" animation to any input field
 * which is "thinking" (making an API request which hasn't returned yet).
 *
 * It's a basic progress indicator, similar to the one found in the
 * Wikimedia Commons Upload Wizard interface.
 *
 * You can get a funky edge appear when the lines don't quite match up;
 * the hope is that we're not "thinking" long enough for this to be
 * noticeable!
 *
 * Based on https://css-tricks.com/books/fundamental-css-tactics/striped-barberpole-animation/
 * Note that I've tweaked the background-position to go left-to-right,
 * whereas the code in that article goes right-to-left.
 */
input.thinking {
  animation: barberpole 21s linear infinite;
  background-size: 200% 200%;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(var(--brown), 0.3),
    rgba(var(--brown), 0.3) 10px,
    rgba(var(--brown), 0.5) 10px,
    rgba(var(--brown), 0.5) 20px
  );
  background-position: 250% 100%;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

/* Styles for "N characters remaining" on the short caption field */
.charCounter {
  font-family: monospace;
  font-size: small;
  color: rgb(var(--grey));
  margin-left: auto !important;
  margin-right: 1em;
}

.charCounter .remainingCharacters {
  font-weight: bold;
}

/* Temporary styles */
main {
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

.flashes {
  color: red;
}
