header {
  display: grid;
  grid-template-columns: 1fr 30px auto;
  grid-gap: 10px;

  &, div {
    height: 80px;
  }

  img {
    margin-top: 5px;
    height: 60px;
    margin-bottom: 15px;
  }

  img.wiki_commons {
    height: 50px;
  }

  p {
    padding-top: 7px;
    margin-top:    auto;
    margin-bottom: auto;
  }

  div.logo a:hover {
    background: none;
  }
}

nav {
  margin-bottom: 2em;
}
