header {
  display: grid;
  grid-template-columns: 1fr 30px auto;
  grid-gap: 10px;
  margin-top:   10px;
  margin-bottom: 6px;

  &, div {
    height: 80px;
  }

  img.icon {
    height: 60px;
    margin-top: 10px;
  }

  img.wiki_commons {
    height: 50px;
    margin-top: 16px;
  }

  p {
    padding-top: 12px;
    margin-top:    auto;
    margin-bottom: auto;
  }

  div.logo a:hover {
    background: none;
  }
}

nav {
  margin-bottom: 2em;
}
