@mixin link_styles($color, $opacity) {
  color: $color;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
  }
}

@mixin disable_select() {
  // Disable text selection highlighting
  // https://stackoverflow.com/a/4407335/1558022
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin colored_button_styles($color) {
  color: $cream;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 8px;
  background: $color;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: darken($color, 15%);
    text-decoration: none !important;
  }

  &:active {
    transform: translate(0, 2px);
  }
}
