#page-post_comments {
  .comment_info {
    grid-column: 2 / -1;
    max-width: 100% !important;
  }

  .comment_info p:first-child {
    margin-top: 0;
  }

  .comment_text {
    font-family: monospace;
    line-height: 1.3em;
    white-space: pre-line;
  }

  .which_user {
    height: 36px;
    display: grid;
    grid-template-columns: 36px auto;
    grid-gap: 15px;

    p {
      margin: 0;
      line-height: 36px;
    }
  }
}
