/* Flickypedia palette, sent in a Slack DM from George to Alex
 * on 27 Oct 2023.
 *
 * See https://flickrfoundation.slack.com/archives/D05UN456AGM/p1698397310132959
 */
$pink:        #E36397;
$cream:       #FFFCF2;
$brown:       #CCC5B9;
$black:       #08090A;
$grey:        #575A5E;

/* Other palette colours we use. */
$blue:        #069;    /* from the Wikimedia Commons logo */
$red:         red;
$yellow:      yellow;
$green:       green;
$lightgreen:  mediumseagreen

/* Supply a couple of variables to be used in SVG files. */
:root {
  --black: #{$black};
  --brown: #{$brown};
  --cream: #{$cream};
}

@import "mixins.scss";

body {
  margin: 0;

  background: $cream;
  color: $black;

  font-family: proxima-nova, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

main {
  margin-left:  auto;
  margin-right: auto;
  max-width: 850px;
  padding-left:  1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
  padding: 1em;

  background: $black;
  text-align: center;
  color: $cream;

  a {
    @include link_styles($cream, 0.4);
  }

  /* There's a list of links in the footer, which we want to appear as a horizontal
   * list of links separated by pipes. */
  li {
    display: inline-block;
  }

  li:not(:last-child):after {
    content: "| ";
    white-space: pre;
    color: $grey;
  }

  /* This ensures the background color extends to the bottom of the page,
     wherever the footer appears.

     See https://designdev.blog/extend-footer-background-color-to-bottom-of-web-page/
   */
  box-shadow: 0 50vh 0 50vh $black;
}

ul.plain_list {
  list-style-type: none;
  padding: 0;
  margin:  0;

  /* If we nest a <ul> inside a plain list, it should appear to the user
   * as if it's a top-level list with bullets, not circles. */
  ul:not(.plain_list) li {
    list-style-type: disc;
  }
}

a {
  @include link_styles($blue, 0.3);
}

input[type="url"],
input[type="text"],
select,
textarea {
  border: 1px solid $brown;
  border-radius: 8px;
  padding: 10px 6px;
  font-size: 1.2em;
}

select {
  background: $cream;
}

input[type="url"],
input[type="text"],
textarea {
  width: calc(100% - 13px);
}

.pink_button {
  @include colored_button_styles($pink)
}

.grey_button {
  @include colored_button_styles($grey)
}

.warning {
  background: lighten($yellow, 30%);
  padding: 1em;
  text-align: center;
  border-radius: 4px;
}

#summary {
  text-align: right;
  font-size: 1.2em;
  margin-right: 5px;

  .pink_button {
    padding-left:  16px;
    padding-right: 16px;
    padding-top: 5px;
  }
}

.image_counter {
  position: absolute;
  right: 0;
  top:   0;
  background: $black;
  color: $cream;
  padding: 1px 20px;
  font-size: 2em;
  font-weight: bold;
}

.hero {
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}

/* A highlight is white text on a coloured background that shows the user
 * some key information.  They usually appear at the start of a line. */
.highlight {
  color: white;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: 5px;

  &.green      { background: $green; }
  &.red        { background: $red;   }
  &.lightgreen { background: $lightgreen; }
  &.pink       { background: $pink;       }
}

/* A "next step" is any element highlighted in yellow to show the user
 * where to go next. */
.next_step {
  background: $yellow;
  font-weight: bold;
}

/* This is a very small bit of polish: it prevents CC license labels
 * (e.g. CC BY 2.0) from being split across multiple lines.
 */
.cc_license_label {
  white-space: nowrap;
}

/* This is a component for displaying two actions side-by-side.
 *
 * It's used on the homepage and on the "say thanks" screen.
 */
ul.two_column_actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  @media screen and (max-width: 500px) {
    grid-template-columns: auto;
  }

  li {
    text-align: center;
  }

  /* two-column actions are always plain lists */
  list-style-type: none;
  padding: 0;
  margin:  0;
}

@import "header.scss";

@import "homepage.scss";
@import "get_photos.scss";
@import "select_photos.scss";
@import "prepare_info.scss";
@import "wait_for_upload.scss";
@import "upload_complete.scss";

/* Temporary styles */
main {
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

.flashes {
  color: $red;
}
