name: Test

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

jobs:
  test:
    strategy:
      # We don't want to run too many Python versions because we
      # pay for private GitHub Actions builds.
      #
      # We currently run:
      #
      #   - 3.12: that's what's deployed on Sontag
      #   - 3.13: latest version of Python
      #
      matrix:
        python-version:
          - "3.12"
          - "3.13"
    
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip

    - name: Install dependencies
      run: pip install -r dev_requirements.txt

    - name: Check formatting
      run: |
        ruff check .
        ruff format --check .

    - name: Check docstrings
      run: interrogate -vv

    - name: Check types
      run: mypy src tests

    - name: Run tests
      run: |
        coverage run -m pytest tests
        coverage report
